In [1]:
import pandas as pd
import numpy as np
import boxball_loader as bbl

In [2]:
glt = bbl.load_gamelog_teams(bbl.GameType.RS, range(1800, 3000))

In [3]:
# Narrow to games where all the scoring is from solo HRs
all_solos = glt.query('hr==runs_scored').copy()

In [4]:
# identify consecutive games by subtracting the cumcount from team_game_number (two increasing counts)
all_solos['streak_id'] = all_solos['team_game_number']-all_solos.groupby(['team', 'yr']).cumcount()

In [5]:
# Now find streaks, finding the total HR, the number of games, and the date of the streak's first game
all_solos.groupby(['team', 'yr', 'streak_id']) \
    .agg(num_games=('streak_id', np.size), start_dt=('date', min), hr=('hr', sum)) \
    .sort_values(by=['num_games', 'hr'], ascending=False)

                     num_games   start_dt   hr
team yr   streak_id
CHN  2018 102                5 2018-08-16  5.0
CIN  2018 127                5 2018-09-12  5.0
NYN  1963 1                  5 1963-04-09  3.0
KCA  2017 110                5 2017-08-24  2.0
SLN  1904 142                5 1904-10-06  2.0
...                        ...        ...  ...
WS2  1971 76                 1 1971-07-22  0.0
          109                1 1971-08-29  0.0
          115                1 1971-09-06  0.0
          127                1 1971-09-24  0.0
WS3  1872 1                  1 1872-04-18  0.0

[35562 rows x 3 columns]