In [1]:
import boxball_loader as bbl

In [2]:
glt = bbl.load_gamelog_teams(game_types=bbl.GameType.ALL, years=bbl.Seasons.Expansion)
glt.shape

(254686, 76)

In [3]:
glt = bbl.load_gamelog_teams(bbl.GameType.ALL, bbl.Seasons.Integration)
glt.shape

(289550, 76)

In [4]:
bbl.load_gamelog_teams(bbl.GameType.ALL, bbl.Seasons.single(2014))

,game_id,date,double_header,yr,game_type,park_id,team,team_league,team_game_number,runs_scored,...,batting_8_position,batting_9_player_id,batting_9_name,batting_9_position,HA,opp,runs_allowed,W,L,linescore_parsed
29780,ARI201403220,2014-03-22,0,2014,RS,SYD01,ARI,NL,1,1,...,9.0,milew001,Wade Miley,1.0,H,LAN,3,False,True,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]"
29780,ARI201403220,2014-03-22,0,2014,RS,SYD01,LAN,NL,1,3,...,2.0,kersc001,Clayton Kershaw,1.0,A,ARI,1,True,False,"[0.0, 1.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
29781,ARI201403230,2014-03-23,0,2014,RS,SYD01,LAN,NL,2,7,...,5.0,ryu-h001,Hyun-Jin Ryu,1.0,A,ARI,5,True,False,"[1.0, 0.0, 2.0, 0.0, 2.0, 1.0, 1.0, 0.0, 0.0]"
29781,ARI201403230,2014-03-23,0,2014,RS,SYD01,ARI,NL,2,5,...,6.0,cahit001,Trevor Cahill,1.0,H,LAN,7,False,True,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 4.0]"
29782,SDN201403300,2014-03-30,0,2014,RS,SAN02,LAN,NL,3,1,...,4.0,ryu-h001,Hyun-Jin Ryu,1.0,A,SDN,3,False,True,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155661,SFN201410260,2014-10-26,0,2014,PS,SFO03,SFN,NL,5,5,...,6.0,bumgm001,Madison Bumgarner,1.0,H,KCA,0,True,False,"[0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 3.0, nan]"
155662,KCA201410280,2014-10-28,0,2014,PS,KAN06,SFN,NL,6,0,...,7.0,crawb001,Brandon Crawford,6.0,A,KCA,10,False,True,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
155662,KCA201410280,2014-10-28,0,2014,PS,KAN06,KCA,AL,6,10,...,5.0,infao001,Omar Infante,4.0,H,SFN,0,True,False,"[0.0, 7.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, nan]"
155663,KCA201410290,2014-10-29,0,2014,PS,KAN06,KCA,AL,7,2,...,5.0,infao001,Omar Infante,4.0,H,SFN,3,False,True,"[0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
155663,KCA201410290,2014-10-29,0,2014,PS,KAN06,SFN,NL,7,3,...,6.0,perej002,Juan Perez,7.0,A,KCA,2,True,False,"[0.0, 2.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0]"

In [5]:
bbl.load_gamelog_teams(bbl.GameType.ALL, bbl.Seasons.multiple(2017, 2019))

,game_id,date,double_header,yr,game_type,park_id,team,team_league,team_game_number,runs_scored,...,batting_8_position,batting_9_player_id,batting_9_name,batting_9_position,HA,opp,runs_allowed,W,L,linescore_parsed
168391,SLN201704020,2017-04-02,0,2017,RS,STL10,CHN,NL,1,3,...,1.0,baezj001,Javier Baez,4.0,A,SLN,4,False,True,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0]"
168390,ARI201704020,2017-04-02,0,2017,RS,PHO01,ARI,NL,1,6,...,2.0,greiz001,Zack Greinke,1.0,H,SFN,5,True,False,"[0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 0.0, 1.0, 2.0]"
168392,TBA201704020,2017-04-02,0,2017,RS,STP01,NYA,AL,1,3,...,9.0,torrr001,Ronald Torreyes,6.0,A,TBA,7,False,True,"[0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]"
168391,SLN201704020,2017-04-02,0,2017,RS,STL10,SLN,NL,1,4,...,7.0,martc006,Carlos Martinez,1.0,H,CHN,3,True,False,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 2.0, 1.0]"
168392,TBA201704020,2017-04-02,0,2017,RS,STP01,TBA,AL,1,7,...,7.0,norrd001,Derek Norris,2.0,H,NYA,3,True,False,"[3.0, 2.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, nan]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155692,WAS201910270,2019-10-27,0,2019,PS,WAS11,WAS,NL,5,1,...,2.0,rossj002,Joe Ross,1.0,H,HOU,7,False,True,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]"
155693,HOU201910290,2019-10-29,0,2019,PS,HOU03,WAS,NL,6,7,...,8.0,gomey001,Yan Gomes,2.0,A,HOU,2,True,False,"[1.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0, 2.0]"
155693,HOU201910290,2019-10-29,0,2019,PS,HOU03,HOU,AL,6,2,...,2.0,reddj001,Josh Reddick,9.0,H,WAS,7,False,True,"[2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
155694,HOU201910300,2019-10-30,0,2019,PS,HOU03,WAS,NL,7,6,...,2.0,roblv001,Victor Robles,8.0,A,HOU,2,True,False,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 1.0, 2.0]"
155694,HOU201910300,2019-10-30,0,2019,PS,HOU03,HOU,AL,7,2,...,2.0,reddj001,Josh Reddick,9.0,H,WAS,6,False,True,"[0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"