In [1]:
import pandas as pd
import boxball_loader as bbl

In [2]:
df1 = bbl.load_gamelogs(bbl.GameType.RS, bbl.Eras.since(2015))
df1

,date,double_header,day_of_week,visiting_team,visiting_team_league,visiting_team_game_number,home_team,home_team_league,home_team_game_number,visitor_runs_scored,...,home_batting_8_name,home_batting_8_position,home_batting_9_player_id,home_batting_9_name,home_batting_9_position,additional_info,acquisition_info,game_id,yr,game_type
204326,2015-04-05,0,Sun,SLN,NL,1,CHN,NL,1,3,...,Jon Lester,1.0,lastt001,Tommy La Stella,4.0,None,Y,CHN201504050,2015,RS
204327,2015-04-06,0,Mon,MIN,AL,1,DET,AL,1,0,...,Alex Avila,2.0,iglej001,Jose Iglesias,6.0,None,Y,DET201504060,2015,RS
204328,2015-04-06,0,Mon,CLE,AL,1,HOU,AL,1,0,...,Colby Rasmus,7.0,marij002,Jake Marisnick,8.0,None,Y,HOU201504060,2015,RS
204340,2015-04-06,0,Mon,NYN,NL,1,WAS,NL,1,3,...,Tyler Moore,7.0,schem001,Max Scherzer,1.0,None,Y,WAS201504060,2015,RS
204339,2015-04-06,0,Mon,BOS,AL,1,PHI,NL,1,8,...,Freddy Galvis,6.0,hamec001,Cole Hamels,1.0,None,Y,PHI201504060,2015,RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161558,2020-09-27,0,Sun,MIA,NL,60,NYA,AL,60,5,...,Gary Sanchez,2.0,wadet002,Tyler Wade,4.0,None,Y,NYA202009270,2020,RS
161560,2020-09-27,0,Sun,PHI,NL,60,TBA,AL,60,0,...,Michael Brosseau,4.0,perem005,Michael Perez,2.0,None,Y,TBA202009270,2020,RS
161562,2020-09-27,0,Sun,BAL,AL,60,TOR,AL,60,7,...,Jonathan Davis,9.0,jansd001,Danny Jansen,2.0,None,Y,TOR202009270,2020,RS
161561,2020-09-27,0,Sun,HOU,AL,60,TEX,AL,60,4,...,Ronald Guzman,3.0,tejea001,Anderson Tejeda,6.0,None,Y,TEX202009270,2020,RS
161556,2020-09-27,0,Sun,DET,AL,58,KCA,AL,60,1,...,Edward Olivares,8.0,lopen001,Nicky Lopez,4.0,None,Y,KCA202009270,2020,RS

In [4]:
df2 = bbl.load_gamelogs(bbl.GameType.ALL, bbl.Eras.since(2015))
df2

,date,double_header,day_of_week,visiting_team,visiting_team_league,visiting_team_game_number,home_team,home_team_league,home_team_game_number,visitor_runs_scored,...,home_batting_8_name,home_batting_8_position,home_batting_9_player_id,home_batting_9_name,home_batting_9_position,additional_info,acquisition_info,game_id,yr,game_type
204326,2015-04-05,0,Sun,SLN,NL,1,CHN,NL,1,3,...,Jon Lester,1.0,lastt001,Tommy La Stella,4.0,None,Y,CHN201504050,2015,RS
204327,2015-04-06,0,Mon,MIN,AL,1,DET,AL,1,0,...,Alex Avila,2.0,iglej001,Jose Iglesias,6.0,None,Y,DET201504060,2015,RS
204328,2015-04-06,0,Mon,CLE,AL,1,HOU,AL,1,0,...,Colby Rasmus,7.0,marij002,Jake Marisnick,8.0,None,Y,HOU201504060,2015,RS
204340,2015-04-06,0,Mon,NYN,NL,1,WAS,NL,1,3,...,Tyler Moore,7.0,schem001,Max Scherzer,1.0,None,Y,WAS201504060,2015,RS
204339,2015-04-06,0,Mon,BOS,AL,1,PHI,NL,1,8,...,Freddy Galvis,6.0,hamec001,Cole Hamels,1.0,None,Y,PHI201504060,2015,RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155696,2020-10-21,0,Wed,TBA,AL,2,LAN,NL,2,6,...,Enrique Hernandez,4.0,taylc001,Chris Taylor,7.0,None,Y,LAN202010210,2020,PS
155697,2020-10-23,0,Fri,LAN,NL,3,TBA,AL,3,6,...,Kevin Kiermaier,8.0,zunim001,Mike Zunino,2.0,None,Y,TBA202010230,2020,PS
155698,2020-10-24,0,Sat,LAN,NL,4,TBA,AL,4,7,...,Mike Zunino,2.0,kierk001,Kevin Kiermaier,8.0,None,Y,TBA202010240,2020,PS
155699,2020-10-25,0,Sun,LAN,NL,5,TBA,AL,5,4,...,Kevin Kiermaier,8.0,zunim001,Mike Zunino,2.0,None,Y,TBA202010250,2020,PS
155700,2020-10-27,0,Tue,TBA,AL,6,LAN,NL,6,1,...,A.J. Pollock,7.0,barna001,Austin Barnes,2.0,None,Y,LAN202010270,2020,PS

In [5]:
bbl.get_cols_from_roles(bbl.PlayerRole.PIT)

['game_id',
 'game_dt',
 'game_ct',
 'appearance_dt',
 'team_id',
 'player_id',
 'slot_ct',
 'seq_ct',
 'home_fl',
 'opponent_id',
 'park_id',
 'yr',
 'game_type',
 'team_game_number',
 ['p_g',
  'p_gs',
  'p_cg',
  'p_sho',
  'p_gf',
  'p_w',
  'p_l',
  'p_sv',
  'p_out',
  'p_tbf',
  'p_ab',
  'p_r',
  'p_er',
  'p_h',
  'p_tb',
  'p_2b',
  'p_3b',
  'p_hr',
  'p_hr4',
  'p_bb',
  'p_ibb',
  'p_so',
  'p_gdp',
  'p_hp',
  'p_sh',
  'p_sf',
  'p_xi',
  'p_wp',
  'p_bk',
  'p_ir',
  'p_irs',
  'p_go',
  'p_ao',
  'p_pitch',
  'p_strike']]

In [6]:
bbl.get_cols_from_roles(bbl.PlayerRole.BAT | bbl.PlayerRole.PIT)

['game_id',
 'game_dt',
 'game_ct',
 'appearance_dt',
 'team_id',
 'player_id',
 'slot_ct',
 'seq_ct',
 'home_fl',
 'opponent_id',
 'park_id',
 'yr',
 'game_type',
 'team_game_number',
 ['b_g',
  'b_pa',
  'b_ab',
  'b_r',
  'b_h',
  'b_tb',
  'b_2b',
  'b_3b',
  'b_hr',
  'b_hr4',
  'b_rbi',
  'b_gw',
  'b_bb',
  'b_ibb',
  'b_so',
  'b_gdp',
  'b_hp',
  'b_sh',
  'b_sf',
  'b_sb',
  'b_cs',
  'b_xi',
  'b_g_dh',
  'b_g_ph',
  'b_g_pr'],
 ['p_g',
  'p_gs',
  'p_cg',
  'p_sho',
  'p_gf',
  'p_w',
  'p_l',
  'p_sv',
  'p_out',
  'p_tbf',
  'p_ab',
  'p_r',
  'p_er',
  'p_h',
  'p_tb',
  'p_2b',
  'p_3b',
  'p_hr',
  'p_hr4',
  'p_bb',
  'p_ibb',
  'p_so',
  'p_gdp',
  'p_hp',
  'p_sh',
  'p_sf',
  'p_xi',
  'p_wp',
  'p_bk',
  'p_ir',
  'p_irs',
  'p_go',
  'p_ao',
  'p_pitch',
  'p_strike']]

In [7]:
inputs = [bbl.PlayerRole.PIT, bbl.PlayerRole.BAT]
[bbl.get_cols_from_roles(role) for role in inputs]

[['game_id',
  'game_dt',
  'game_ct',
  'appearance_dt',
  'team_id',
  'player_id',
  'slot_ct',
  'seq_ct',
  'home_fl',
  'opponent_id',
  'park_id',
  'yr',
  'game_type',
  'team_game_number',
  ['p_g',
   'p_gs',
   'p_cg',
   'p_sho',
   'p_gf',
   'p_w',
   'p_l',
   'p_sv',
   'p_out',
   'p_tbf',
   'p_ab',
   'p_r',
   'p_er',
   'p_h',
   'p_tb',
   'p_2b',
   'p_3b',
   'p_hr',
   'p_hr4',
   'p_bb',
   'p_ibb',
   'p_so',
   'p_gdp',
   'p_hp',
   'p_sh',
   'p_sf',
   'p_xi',
   'p_wp',
   'p_bk',
   'p_ir',
   'p_irs',
   'p_go',
   'p_ao',
   'p_pitch',
   'p_strike']],
 ['game_id',
  'game_dt',
  'game_ct',
  'appearance_dt',
  'team_id',
  'player_id',
  'slot_ct',
  'seq_ct',
  'home_fl',
  'opponent_id',
  'park_id',
  'yr',
  'game_type',
  'team_game_number',
  ['b_g',
   'b_pa',
   'b_ab',
   'b_r',
   'b_h',
   'b_tb',
   'b_2b',
   'b_3b',
   'b_hr',
   'b_hr4',
   'b_rbi',
   'b_gw',
   'b_bb',
   'b_ibb',
   'b_so',
   'b_gdp',
   'b_hp',
   'b_sh',
   'b_sf',
   'b_sb',
   'b_cs',
   'b_xi',
   'b_g_dh',
   'b_g_ph',
   'b_g_pr']]]

In [8]:
df1 = bbl.load_dailies(bbl.GameType.RS)
df1

,game_id,game_dt,game_ct,appearance_dt,team_id,player_id,slot_ct,seq_ct,home_fl,opponent_id,...,f_rf_out,f_rf_tc,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp,yr,game_type,team_game_number
1934,ANA199704020,1997-04-02,0,1997-04-02,ANA,alicl001,2,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
1935,ANA199704020,1997-04-02,0,1997-04-02,ANA,andeg001,6,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
1936,ANA199704020,1997-04-02,0,1997-04-02,ANA,disag001,9,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
1937,ANA199704020,1997-04-02,0,1997-04-02,ANA,edmoj001,3,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
1938,ANA199704020,1997-04-02,0,1997-04-02,ANA,erstd001,1,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5198794,WS4187205170,1872-05-17,0,1872-05-17,WS4,hollh101,1,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198795,WS4187205170,1872-05-17,0,1872-05-17,WS4,lennb101,3,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198796,WS4187205170,1872-05-17,0,1872-05-17,WS4,mince101,2,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198797,WS4187205170,1872-05-17,0,1872-05-17,WS4,steab101,9,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198798,WS4187205170,1872-05-17,0,1872-05-17,WS4,whitw102,7,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7

In [9]:
df2 = bbl.load_dailies(bbl.GameType.RS|bbl.GameType.PS)
df2

,game_id,game_dt,game_ct,appearance_dt,team_id,player_id,slot_ct,seq_ct,home_fl,opponent_id,...,f_rf_out,f_rf_tc,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp,yr,game_type,team_game_number
1934,ANA199704020,1997-04-02,0,1997-04-02,ANA,alicl001,2,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
1935,ANA199704020,1997-04-02,0,1997-04-02,ANA,andeg001,6,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
1936,ANA199704020,1997-04-02,0,1997-04-02,ANA,disag001,9,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
1937,ANA199704020,1997-04-02,0,1997-04-02,ANA,edmoj001,3,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
1938,ANA199704020,1997-04-02,0,1997-04-02,ANA,erstd001,1,1,True,BOS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1997,RS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5198794,WS4187205170,1872-05-17,0,1872-05-17,WS4,hollh101,1,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198795,WS4187205170,1872-05-17,0,1872-05-17,WS4,lennb101,3,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198796,WS4187205170,1872-05-17,0,1872-05-17,WS4,mince101,2,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198797,WS4187205170,1872-05-17,0,1872-05-17,WS4,steab101,9,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198798,WS4187205170,1872-05-17,0,1872-05-17,WS4,whitw102,7,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7

In [11]:
df3 = bbl.load_dailies(bbl.GameType.ALL)
df3

,game_id,game_dt,game_ct,appearance_dt,team_id,player_id,slot_ct,seq_ct,home_fl,opponent_id,...,f_rf_out,f_rf_tc,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp,yr,game_type,team_game_number
0,ALS193307060,1933-07-06,0,1933-07-06,ALS,avere101,9,3,True,NLS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1933,ASG,1
1,ALS193307060,1933-07-06,0,1933-07-06,ALS,chapb102,1,1,True,NLS,...,3.0,1.0,1.0,0.0,0.0,0,0.0,1933,ASG,1
2,ALS193307060,1933-07-06,0,1933-07-06,ALS,cronj101,7,1,True,NLS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1933,ASG,1
3,ALS193307060,1933-07-06,0,1933-07-06,ALS,crowg102,9,2,True,NLS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1933,ASG,1
4,ALS193307060,1933-07-06,0,1933-07-06,ALS,dykej101,6,1,True,NLS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1933,ASG,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5198794,WS4187205170,1872-05-17,0,1872-05-17,WS4,hollh101,1,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198795,WS4187205170,1872-05-17,0,1872-05-17,WS4,lennb101,3,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198796,WS4187205170,1872-05-17,0,1872-05-17,WS4,mince101,2,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198797,WS4187205170,1872-05-17,0,1872-05-17,WS4,steab101,9,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198798,WS4187205170,1872-05-17,0,1872-05-17,WS4,whitw102,7,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7

In [12]:
ev1 = bbl.load_event_data(bbl.Eras.since(1987), ['pitch_seq_tx'], pa_only=False, game_types=bbl.GameType.PS|bbl.GameType.RS)
ev2 = bbl.load_event_data(bbl.Eras.since(1987), ['pitch_seq_tx'], pa_only=False)
ev1.shape, ev2.shape

# expect ((6228945, 11), (6149539, 11))

((6228945, 11), (6149539, 11))