# Best Starting Lineups of All Time

Inspired by https://www.reddit.com/r/baseball/comments/jzo3gi/was_the_springfield_nuclear_power_plant_company/

> Not including Homer (since his WAR is yet to be calculated by my knowledge), the average player on the softball team for the Springfield Nuclear Power Plant had a career bWAR of 63.3

    SS - Ozzie Smith (76.9)
    CF - Ken Griffey Jr. (83.8)
    3B - Wade Boggs (91.4)
    LF - Jose Canseco (42.4)
    RF - Darryl Strawberry (42.2)
    1B - Don Mattingly (42.4)
    C - Mike Scioscia (26.1)
    2B - Steve Sax (25.7)
    P - Roger Clemens (139.2)

> So I ask, was the Springfield Nuclear Power Plant company softball team the greatest team of all time?

So let's compute the total WAR of every lineup in MLB history.

In [21]:
import pandas as pd
import numpy as np

In [2]:
wars = pd.read_parquet('../data/mine/WAR_tot_seasonal.parquet')
career_wars = wars.groupby('bbref_id')['WAR_total'].sum()
career_wars.sort_values()

bbref_id
leveyji01     -7.5
flynndo01     -6.9
meyerda01     -6.5
harrivi01     -6.3
staintu01     -6.2
             ...
cobbty01     151.2
mayswi01     156.3
bondsba01    162.8
johnswa01    164.5
ruthba01     182.4
Name: WAR_total, Length: 17750, dtype: float64

In [3]:
# Now merge in retro_id

ppl = pd.read_parquet('../data/bd/people.parquet')
ppl.columns

Index(['player_id', 'birth_year', 'birth_month', 'birth_day', 'birth_country',
       'birth_state', 'birth_city', 'death_year', 'death_month', 'death_day',
       'death_country', 'death_state', 'death_city', 'name_first', 'name_last',
       'name_given', 'weight', 'height', 'bats', 'throws', 'debut',
       'final_game', 'retro_id', 'bbref_id'],
      dtype='object')

In [4]:
war_lookup = pd.merge(left=ppl[['retro_id', 'bbref_id']], right=career_wars, on='bbref_id')
war_lookup

       retro_id   bbref_id  WAR_total
0      aardd001  aardsda01        1.9
1      aaroh101  aaronha01      143.2
2      aarot101  aaronto01       -2.8
3      aased001   aasedo01       15.1
4      abada001   abadan01       -0.3
...         ...        ...        ...
17536  zupof101   zupofr01       -0.1
17537  zuvep001  zuvelpa01       -2.4
17538  zuveg101  zuverge01        6.9
17539  zwild101  zwilldu01        8.5
17540  zycht001   zychto01        1.6

[17541 rows x 3 columns]

In [5]:
# Now get starting lineups
# This will get the batting orders. E.g., it won't include starting pitchers in DH games

gls = pd.read_parquet('../data/mine/gl_starters.parquet')
gls.columns

Index(['player_id', 'game_id', 'date', 'yr', 'game_type', 'team', 'HA', 'pos',
       'batting_pos'],
      dtype='object')

In [31]:
# Merge the lineups with the career WARs
gls_war = pd.merge(left=gls, right=war_lookup, left_on='player_id', right_on='retro_id')

In [35]:
# Then total up the lineups
#aggreg = {'WAR_total': sum, 'date': min, 'yr': min, 'game_type': min}
lineup_totals = gls_war.groupby(['game_id', 'team'])['WAR_total'].sum()
lineup_totals

game_id       team
ALS193307060  ALS     658.8
              NLS     333.2
ALS193507080  ALS     540.1
              NLS     444.4
ALS193707070  ALS     547.9
                      ...
WS2197109280  WS2     145.8
WS2197109290  NYA     210.1
              WS2     122.9
WS2197109300  NYA     162.3
              WS2     152.4
Name: WAR_total, Length: 404920, dtype: float64

In [90]:
# Now merge the WAR_total with other data from the game_log_teams table (date, opponent, etc)

glt_cols = ['game_id', 'team', 'date', 'yr', 'game_type', 'HA', 'opp']
idx_flds = ['game_id', 'team']

glt = pd.read_parquet('../data/mine/gl_teams.parquet')[glt_cols]
lineups = pd.merge(left=glt, right=lineup_totals, left_on=idx_flds, right_on=idx_flds).sort_values('WAR_total')
lineups

             game_id team       date    yr game_type HA  opp  WAR_total
38775   PTF191509182  BLF 1915-09-18  1915        RS  A  PTF      -11.5
118657  PHA194806131  SLA 1948-06-13  1948        RS  A  PHA      -10.4
125435  DET195104230  SLA 1951-04-23  1951        RS  A  DET      -10.3
230884  CHA198209272  SEA 1982-09-27  1982        RS  A  CHA      -10.0
39104   NEW191510032  BLF 1915-10-03  1915        RS  A  NEW       -9.6
...              ...  ...        ...   ...       ... ..  ...        ...
246072  NLS198607150  ALS 1986-07-15  1986       ASG  A  NLS      703.6
189777  NLS197207250  NLS 1972-07-25  1972       ASG  H  ALS      716.0
164566  ALS196507130  NLS 1965-07-13  1965       ASG  A  ALS      723.7
326763  NLS200407130  NLS 2004-07-13  2004       ASG  H  ALS      731.5
84335   NLS193407100  ALS 1934-07-10  1934       ASG  A  NLS      750.0

[404920 rows x 8 columns]

In [91]:
# top regular season lineups ever

lineups[lineups['game_type']=='RS'].sort_values(by='WAR_total', ascending=False).head(20)

            game_id team       date    yr game_type HA  opp  WAR_total
69019  SLA192806070  PHA 1928-06-07  1928        RS  A  SLA      641.5
80845  PHA193304270  NYA 1933-04-27  1933        RS  A  PHA      636.2
81744  DET193306280  NYA 1933-06-28  1933        RS  A  DET      634.1
80914  DET193305020  NYA 1933-05-02  1933        RS  A  DET      634.1
82092  NYA193307220  NYA 1933-07-22  1933        RS  H  CLE      634.1
80051  NYA193208191  NYA 1932-08-19  1932        RS  H  DET      633.7
79898  SLA193208071  NYA 1932-08-07  1932        RS  A  SLA      633.7
81301  WS1193305311  NYA 1933-05-31  1933        RS  A  WS1      633.7
80590  PHA193209210  NYA 1932-09-21  1932        RS  A  PHA      633.7
82178  WS1193307270  NYA 1933-07-27  1933        RS  A  WS1      633.7
81577  CHA193306181  NYA 1933-06-18  1933        RS  A  CHA      633.7
82243  NYA193308020  NYA 1933-08-02  1933        RS  H  PHA      633.7
82334  NYA193308072  NYA 1933-08-07  1933        RS  H  WS1      633.7
78955  DET193206070  NYA 1932-06-07  1932        RS  A  DET      633.7
82387  PHA193308121  NYA 1933-08-12  1933        RS  A  PHA      633.7
82490  CHA193308190  NYA 1933-08-19  1933        RS  A  CHA      633.7
81218  NYA193305260  NYA 1933-05-26  1933        RS  H  CHA      633.7
80691  NYA193304140  NYA 1933-04-14  1933        RS  H  BOS      633.7
81131  NYA193305200  NYA 1933-05-20  1933        RS  H  SLA      633.7
80762  BOS193304210  NYA 1933-04-21  1933        RS  A  BOS      633.7

In [98]:
# whoa, the Yankees ran out that 633.7 lineup a lot!  It's blowing up the list
# Can we aggregate by the set of starting players?

# Let's start by just aggregating by WAR total (e.g., assume that there aren't
#  distinct lineups with the same rounded WAR total.  Of course there are, but
#  maybe not among the top ~100??)

lineups.groupby(['team', 'WAR_total'])['game_id'].count().reset_index().sort_values(by='WAR_total').tail(50)

       team  WAR_total  game_id
75      ALS      601.0        1
91545   NLS      601.9        1
91546   NLS      602.6        1
101781  NYA      603.6       21
101782  NYA      604.0        5
91547   NLS      604.7        1
76      ALS      605.1        1
113751  PHA      605.1        1
77      ALS      605.7        1
101783  NYA      606.1        1
101784  NYA      606.4        8
101785  NYA      606.8        1
91548   NLS      608.3        1
101786  NYA      608.8        2
113752  PHA      609.7        1
91549   NLS      610.3        1
101787  NYA      610.6        3
91550   NLS      611.2        1
78      ALS      612.1        1
91551   NLS      617.6        1
79      ALS      618.2        1
91552   NLS      619.2        1
91553   NLS      623.1        1
91554   NLS      626.4        1
91555   NLS      626.9        1
80      ALS      627.4        1
101788  NYA      629.5       14
81      ALS      631.0        1
101789  NYA      633.7       19
101790  NYA      634.1        3
101791  NYA      636.2        1
82      ALS      639.4        1
113753  PHA      641.5        1
83      ALS      643.6        1
91556   NLS      651.6        1
91557   NLS      653.5        1
91558   NLS      654.5        1
84      ALS      658.8        1
85      ALS      663.7        1
86      ALS      667.3        1
91559   NLS      670.7        1
91560   NLS      680.9        1
91561   NLS      696.0        1
91562   NLS      696.3        1
91563   NLS      701.3        1
87      ALS      703.6        1
91564   NLS      716.0        1
91565   NLS      723.7        1
91566   NLS      731.5        1
88      ALS      750.0        1

In [30]:
# Now compute matchup totals (e.g., sum of two lineups)

matchups = lineups.groupby(['game_id']).agg(aggreg).sort_values(by='WAR_total', ascending=False)
matchups

              WAR_total       date    yr game_type
game_id
NLS199807070     1368.6 1998-07-07  1998       ASG
NLS197207250     1321.7 1972-07-25  1972       ASG
NLS198607150     1297.9 1986-07-15  1986       ASG
NLS200407130     1277.7 2004-07-13  2004       ASG
NLS195707090     1255.3 1957-07-09  1957       ASG
...                 ...        ...   ...       ...
BS1187406240       -0.1 1874-06-24  1874        RS
BS1187406260       -0.1 1874-06-26  1874        RS
BS1187406270       -0.1 1874-06-27  1874        RS
HR1187406250       -0.1 1874-06-25  1874        RS
BS1187406200       -0.1 1874-06-20  1874        RS

[202505 rows x 4 columns]

In [25]:
# Top regular-season lineups
lineups[lineups['game_type']=='RS'].head(50)

                   WAR_total       date game_type
game_id      team
SLA192806070 PHA       641.5 1928-06-07        RS
PHA193304270 NYA       636.2 1933-04-27        RS
DET193306280 NYA       634.1 1933-06-28        RS
NYA193307220 NYA       634.1 1933-07-22        RS
DET193305020 NYA       634.1 1933-05-02        RS
NYA193308072 NYA       633.7 1933-08-07        RS
WS1193307270 NYA       633.7 1933-07-27        RS
CHA193306181 NYA       633.7 1933-06-18        RS
DET193206070 NYA       633.7 1932-06-07        RS
CHA193308190 NYA       633.7 1933-08-19        RS
SLA193208071 NYA       633.7 1932-08-07        RS
NYA193208191 NYA       633.7 1932-08-19        RS
NYA193305260 NYA       633.7 1933-05-26        RS
NYA193305200 NYA       633.7 1933-05-20        RS
CLE193305072 NYA       633.7 1933-05-07        RS
NYA193304140 NYA       633.7 1933-04-14        RS
NYA193308020 NYA       633.7 1933-08-02        RS
WS1193305311 NYA       633.7 1933-05-31        RS
PHA193308121 NYA       633.7 1933-08-12        RS
WS1193208130 NYA       633.7 1932-08-13        RS
SLA193305141 NYA       633.7 1933-05-14        RS
BOS193304210 NYA       633.7 1933-04-21        RS
PHA193209210 NYA       633.7 1932-09-21        RS
CHA193206160 NYA       629.5 1932-06-16        RS
NYA193208292 NYA       629.5 1932-08-29        RS
NYA193208240 NYA       629.5 1932-08-24        RS
PHA193108280 NYA       629.5 1931-08-28        RS
CLE193206120 NYA       629.5 1932-06-12        RS
NYA193206260 NYA       629.5 1932-06-26        RS
PHA193206011 NYA       629.5 1932-06-01        RS
SLA193206210 NYA       629.5 1932-06-21        RS
SLA193106200 NYA       629.5 1931-06-20        RS
CLE193108141 NYA       629.5 1931-08-14        RS
CHA193108231 NYA       629.5 1931-08-23        RS
NYA193108080 NYA       629.5 1931-08-08        RS
NYA193109210 NYA       629.5 1931-09-21        RS
NYA193109262 NYA       629.5 1931-09-26        RS
NYA193306061 NYA       610.6 1933-06-06        RS
DET193206100 NYA       610.6 1932-06-10        RS
SLA193208100 NYA       610.6 1932-08-10        RS
CHA192707130 PHA       609.7 1927-07-13        RS
NYA193307150 NYA       608.8 1933-07-15        RS
NYA193307070 NYA       608.8 1933-07-07        RS
SLA193306231 NYA       606.8 1933-06-23        RS
SLA193206220 NYA       606.4 1932-06-22        RS
NYA193205301 NYA       606.4 1932-05-30        RS
BOS193108051 NYA       606.4 1931-08-05        RS
NYA193109250 NYA       606.4 1931-09-25        RS
SLA193106220 NYA       606.4 1931-06-22        RS
CHA193206150 NYA       606.4 1932-06-15        RS

In [26]:
# Top lineup for each team
lineups.reset_index().sort_values(by='WAR_total', ascending=False).groupby('team').first().sort_values(by='WAR_total', ascending=False)

           game_id  WAR_total       date game_type
team
ALS   NLS193407100      750.0 1934-07-10       ASG
NLS   NLS200407130      731.5 2004-07-13       ASG
PHA   SLA192806070      641.5 1928-06-07        RS
NYA   PHA193304270      636.2 1933-04-27        RS
WS1   WS1192705301      545.6 1927-05-30        RS
CIN   LAN197709150      534.0 1977-09-15        RS
MLN   CIN196405190      532.6 1964-05-19        RS
PHI   CIN198305100      521.7 1983-05-10        RS
BOS   BOS191509200      514.6 1915-09-20        RS
HOU   HOU200408030      505.5 2004-08-03        RS
SFN   MLN196407160      499.3 1964-07-16        RS
SEA   SEA200007250      485.6 2000-07-25        RS
BAL   NYA197109220      474.2 1971-09-22        RS
CLE   BOS199505180      473.9 1995-05-18        RS
SLN   ARI200507060      465.7 2005-07-06        RS
NY1   NY1192708211      463.2 1927-08-21        RS
ATL   ATL196607260      456.1 1966-07-26        RS
DET   DET191609190      455.0 1916-09-19        RS
TOR   PHI199310210      452.6 1993-10-21        PS
CAL   CAL198204140      449.3 1982-04-14        RS
OAK   OAK199009020      440.5 1990-09-02        RS
CHN   CHN198805060      440.5 1988-05-06        RS
BRO   PIT194208302      439.8 1942-08-30        RS
NYN   PHI197205210      437.0 1972-05-21        RS
CHA   CHA199109010      424.6 1991-09-01        RS
LAN   SFN200608190      422.8 2006-08-19        RS
MIL   MIL198109150      406.3 1981-09-15        RS
PIT   PIT196905301      400.7 1969-05-30        RS
ARI   ARI200104280      399.1 2001-04-28        RS
TEX   TEX200105290      394.6 2001-05-29        RS
MIN   NYA196905240      384.0 1969-05-24        RS
MON   CHN198307041      381.1 1983-07-04        RS
SDN   SDN199005020      369.7 1990-05-02        RS
BSN   BSN194806290      367.4 1948-06-29        RS
KCA   MIL197506011      365.1 1975-06-01        RS
ANA   ANA199708260      358.3 1997-08-26        RS
FLO   FLO199704010      350.2 1997-04-01        RS
SLA   PHA193705240      290.1 1937-05-24        RS
COL   COL199508180      279.3 1995-08-18        RS
KC1   KC1196709220      273.1 1967-09-22        RS
TBA   TBA201104010      272.0 2011-04-01        RS
WAS   WAS201704280      266.5 2017-04-28        RS
MIA   MIA201505180      237.0 2015-05-18        RS
WS2   WS2197104090      196.5 1971-04-09        RS
LAA   WS2196408142      183.6 1964-08-14        RS
BLA   BLA190205270      170.0 1902-05-27        RS
CHF   KCF191506110      163.6 1915-06-11        RS
SLF   SLF191508011      158.1 1915-08-01        RS
IND   CHF191407121      157.2 1914-07-12        RS
NEW   NEW191505060      131.3 1915-05-06        RS
BRF   BRF191410020      119.7 1914-10-02        RS
SE1   CAL196904080      115.9 1969-04-08        RS
BLF   BLF191409281      108.1 1914-09-28        RS
BUF   BUF191508160      104.9 1915-08-16        RS
PTF   PTF191504200      103.8 1915-04-20        RS
KCF   BUF191506210       77.8 1915-06-21        RS
MLA   MLA190107100       74.8 1901-07-10        RS
MID   TRO187204270       -0.1 1872-04-27        RS
BS1   BS1187405120       -0.1 1874-05-12        RS

In [9]:
lineups[lineups['game_type']=='RS'].groupby('game_id')['sum'].sum().sort_values(ascending=False).head(20)

game_id
PHA193308121    1045.9
PHA192805280    1029.2
PHA192805260    1006.4
NYA192704120    1000.1
PHA192804110     997.9
PHA192704200     997.4
PHA192806270     986.1
PHA192705301     982.6
NYA193308030     977.6
NYA193206260     977.5
PHA192705311     974.0
PHA193209210     967.6
PHA192805251     966.4
WS1192604200     966.2
SFN196404140     964.2
NYA193308072     963.7
WS1193307270     963.7
NYA193204200     962.1
NYA192806210     961.8
SFN196408161     959.8
Name: sum, dtype: float64