### First Padre to homer as a DH

On the Padres' broadcast on August 16, 2020, the trivia question asked who was the first Padre to HR as a DH.

They implicitly limited it to the regular season, as Kurt Bevacqua homered as a DH in the '84 WS, but wasn't one of the choices (the choices were Rickey Henderson, Tony Gwynn, Greg Vaughn and Mark Sweeney).

In [1]:
import pandas as pd
import boxball_loader as bbl

In [2]:
df = bbl.load_event_data(bbl.Eras.Interleague, ['bat_fld_cd', 'away_team_id', 'bat_home_id', 'bat_id', 'inn_ct'])
pads_dh_hr = df.query('bat_fld_cd==10 and away_team_id=="SDN" and event_cd==23 and not bat_home_id')[['date', 'game_id', 'bat_id', 'inn_ct']]
pads_dh_hr

              date       game_id    bat_id  inn_ct
70842   1997-06-12  ANA199706120  hendr001       3
71166   1997-06-13  ANA199706130  vaugg001       4
88889   1997-06-30  OAK199706300  vaugg001       4
257770  1998-06-07  TEX199806070  vaugg001       5
283949  1998-07-01  OAK199807010  vaugg001       4
492576  1999-07-18  ANA199907180  vandj001       6
1049226 2002-06-09  TBA200206090  gantr001       2
1050854 2002-06-10  BAL200206100  tramb001       4
1051930 2002-06-11  BAL200206110  gantr001       6
1247772 2003-06-11  CLE200306110  buchb002       8
1265968 2003-06-28  SEA200306280  whitr001       7
1266888 2003-06-29  SEA200306290  whitr001       9
1640182 2005-06-14  DET200506140  sweem001       9
1808122 2006-05-19  SEA200605190  piazm001       4
2003720 2007-05-18  SEA200705180  branr001       8
2595630 2010-05-22  SEA201005220  staim001       4
2821203 2011-06-17  MIN201106170  ludwr001       7
3010141 2012-06-16  OAK201206160  quenc001       6
3167684 2013-05-10  TBA201305100  quenc001       1
3403436 2014-06-16  SEA201406160  quenc001       9
3591283 2015-06-18  OAK201506180  kempm001       4
3615518 2015-07-11  TEX201507110  kempm001       3
3766855 2016-05-31  SEA201605310  kempm001       6
3844469 2016-08-15  TBA201608150  ramia003       1
3941466 2017-05-12  CHA201705120  myerw001       9
4421591 2019-08-06  SEA201908060  naylj001       8
4422773 2019-08-07  SEA201908070  mejif001       6
4502923 2020-08-13  LAN202008130  phamt001       1
4504289 2020-08-15  ARI202008150  tatif002       1
4525853 2020-09-04  OAK202009040  campl002       8