### First Padre to homer as a DH

On the Padres' broadcast on August 16, 2020, the trivia question asked who was the first Padre to HR as a DH.

They implicitly limited it to the regular season, as Kurt Bevacqua homered as a DH in the '84 WS, but wasn't one of the choices (the choices were Rickey Henderson, Tony Gwynn, Greg Vaughn and Mark Sweeney).

In [1]:
import pandas as pd
import boxball_loader as bbl

In [6]:
df = bbl.load_event_data(1995, 3000, ['bat_fld_cd', 'away_team_id', 'bat_home_id', 'bat_id', 'inn_ct'])
pads_dh_hr = df.query('bat_fld_cd==10 and away_team_id=="SDN" and event_cd==23 and not bat_home_id')[['date', 'game_id', 'bat_id', 'inn_ct']]
pads_dh_hr

              date       game_id    bat_id  inn_ct
422441  1997-06-12  ANA199706120  hendr001       3
422765  1997-06-13  ANA199706130  vaugg001       4
440488  1997-06-30  OAK199706300  vaugg001       4
609369  1998-06-07  TEX199806070  vaugg001       5
635548  1998-07-01  OAK199807010  vaugg001       4
844175  1999-07-18  ANA199907180  vandj001       6
1400825 2002-06-09  TBA200206090  gantr001       2
1402453 2002-06-10  BAL200206100  tramb001       4
1403529 2002-06-11  BAL200206110  gantr001       6
1599371 2003-06-11  CLE200306110  buchb002       8
1617567 2003-06-28  SEA200306280  whitr001       7
1618487 2003-06-29  SEA200306290  whitr001       9
1991781 2005-06-14  DET200506140  sweem001       9
2159721 2006-05-19  SEA200605190  piazm001       4
2355319 2007-05-18  SEA200705180  branr001       8
2947229 2010-05-22  SEA201005220  staim001       4
3172802 2011-06-17  MIN201106170  ludwr001       7
3361740 2012-06-16  OAK201206160  quenc001       6
3519283 2013-05-10  TBA201305100  quenc001       1
3755035 2014-06-16  SEA201406160  quenc001       9
3942882 2015-06-18  OAK201506180  kempm001       4
3967117 2015-07-11  TEX201507110  kempm001       3
4118454 2016-05-31  SEA201605310  kempm001       6
4196068 2016-08-15  TBA201608150  ramia003       1
4293065 2017-05-12  CHA201705120  myerw001       9
4773190 2019-08-06  SEA201908060  naylj001       8
4774372 2019-08-07  SEA201908070  mejif001       6
4854522 2020-08-13  LAN202008130  phamt001       1
4855888 2020-08-15  ARI202008150  tatif002       1
4877452 2020-09-04  OAK202009040  campl002       8