In [1]:
import pandas as pd
import boxball_loader as bbl

In [2]:
padre_wins = bbl.load_gamelog_teams(game_types=bbl.GameType.RS, years=range(1969, 3000)).query('team=="SDN" and W')['game_id'].values
padre_wins

array(['SDN196904080', 'SDN196904090', 'SDN196904100', ...,
       'SDN202009252', 'SFN202009260', 'SFN202009270'], dtype=object)

In [3]:
padre_svs = bbl.load_gamelogs(game_types=bbl.GameType.RS, years=range(1969,2021)).query('game_id in @padre_wins')[['date', 'saving_pitcher_id', 'yr']].dropna()
padre_svs['mo'] = padre_svs['date'].dt.month
padre_svs

             date saving_pitcher_id    yr  mo
70071  1969-04-09          siskt101  1969   4
70078  1969-04-10          mccob105  1969   4
70158  1969-04-18          rebef101  1969   4
70259  1969-04-27          rebef101  1969   4
70312  1969-05-02          rebef101  1969   5
...           ...               ...   ...  ..
161061 2020-08-23          pagae001  2020   8
161258 2020-09-06          roset001  2020   9
161295 2020-09-09          roset001  2020   9
161350 2020-09-13          roset001  2020   9
161551 2020-09-27          roset001  2020   9

[1958 rows x 4 columns]

In [4]:
monthlies = padre_svs.groupby(['yr', 'mo', 'saving_pitcher_id']).agg(saves=('date', len))
monthlies.query('saves>=9')['saves'].sort_values(ascending=False)

yr    mo  saving_pitcher_id
2005  5   hofft001             12
2019  4   yatek001             11
1989  4   davim001             11
      9   davim001             11
2018  5   handb001             11
2015  7   kimbc001             11
2007  5   hofft001             11
1998  7   hofft001             11
2004  7   hofft001             11
2006  9   hofft001             10
2003  7   beckr001             10
2001  8   hofft001             10
1977  5   fingr001             10
2000  8   hofft001             10
1999  6   hofft001             10
1997  7   hofft001             10
1998  9   hofft001              9
      8   hofft001              9
      6   hofft001              9
2006  7   hofft001              9
1996  9   hofft001              9
2009  9   bellh001              9
2011  6   bellh001              9
2014  4   streh001              9
1996  8   hofft001              9
1992  8   myerr001              9
2001  5   hofft001              9
Name: saves, dtype: int64