## Which teams have had the largest platoon advantages (best and worst)? 
### For each of hitters and pitchers

In [1]:
import pandas as pd
import numpy as np
import boxball_loader as bbl

In [2]:
cols = ['bat_team_id', 'fld_team_id', 'bat_id', 'pit_id', 'bat_event_fl', 'bat_hand_cd', 'pit_hand_cd', 'event_cd', 'game_id']
pa = bbl.load_event_data(1920, 2019, cols)
pa

,game_id,date,game_type,bat_id,bat_event_fl,pit_id,event_cd,ab_fl,fld_team_id,pit_hand_cd,bat_team_id,bat_hand_cd,tb_ct,h_fl,ob_fl,yr
0,CLE192004140,1920-04-14,RS,austj101,True,coves101,3,True,CLE,R,SLA,L,0,0,0,1920
1,CLE192004140,1920-04-14,RS,gedej101,True,coves101,21,True,CLE,R,SLA,R,2,1,1,1920
2,CLE192004140,1920-04-14,RS,tobij101,True,coves101,2,True,CLE,R,SLA,L,0,0,0,1920
3,CLE192004140,1920-04-14,RS,sislg101,True,coves101,2,True,CLE,R,SLA,L,0,0,0,1920
4,CLE192004140,1920-04-14,RS,granj104,True,sotha101,16,False,SLA,R,CLE,L,0,0,1,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13917197,ANA201909290,2019-09-29,RS,stram002,True,garcl005,3,True,ANA,R,HOU,R,0,0,0,2019
13917198,ANA201909290,2019-09-29,RS,lastt001,True,devec001,2,True,HOU,R,ANA,L,0,0,0,2019
13917199,ANA201909290,2019-09-29,RS,fletd002,True,devec001,20,True,HOU,R,ANA,R,1,1,1,2019
13917200,ANA201909290,2019-09-29,RS,goodb001,True,devec001,2,True,HOU,R,ANA,L,0,0,0,2019
13917201,ANA201909290,2019-09-29,RS,cowak001,True,harrw002,2,True,HOU,R,ANA,L,0,0,0,2019

In [3]:
# For each PA, classify whether the batter has the platoon advantage
# Then we can aggregate this column by pitching team and batting team
pa['platoon_adv_bat'] = (pa.bat_hand_cd != pa.pit_hand_cd)
pa['platoon_adv_bat'].value_counts() # batters have the advantage slightly more often

True     7130536
False    6215882
Name: platoon_adv_bat, dtype: int64

In [4]:
# Split each PA into two rows: one for the batting team and one for the fielding team (use melt to do this)
cols = ['yr', 'fld_team_id', 'bat_team_id', 'platoon_adv_bat']
pa_split = pa[cols].melt(id_vars=['yr', 'platoon_adv_bat'], value_vars=['bat_team_id', 'fld_team_id'], var_name='role', value_name='team')

# Now group by team/season/role
tm_counts = pa_split.groupby(['yr', 'team', 'role', 'platoon_adv_bat'])['platoon_adv_bat'].count().unstack()
tm_counts

platoon_adv_bat        False  True
yr   team role
1920 BOS  bat_team_id   1860   1378
          fld_team_id   1607   1660
     BRO  bat_team_id   2997   2231
          fld_team_id   2418   2725
     BSN  bat_team_id   1742   2417
...                      ...    ...
2019 TEX  fld_team_id   2880   3474
     TOR  bat_team_id   2713   3378
          fld_team_id   3125   3188
     WAS  bat_team_id   3455   2812
          fld_team_id   2947   3187

[4444 rows x 2 columns]

In [5]:
# Compute the frequencies
tm_adv_freq = (tm_counts[True]/tm_counts.sum(axis=1)).unstack()
tm_adv_freq.nlargest(50, 'bat_team_id')

role       bat_team_id  fld_team_id
yr   team
1986 SLN      0.858870     0.625969
1985 SLN      0.831608     0.542493
1987 SLN      0.800127     0.646946
1980 MIN      0.776709     0.609085
1969 NYA      0.776461     0.561362
1985 HOU      0.775517     0.564915
1979 MIN      0.774019     0.550918
1993 NYN      0.770348     0.616810
1978 MIN      0.769048     0.544298
1976 SLN      0.765933     0.555377
1987 HOU      0.759636     0.599935
1988 SLN      0.754412     0.606243
1965 LAN      0.750000     0.666500
1989 TOR      0.749678     0.636305
1992 NYN      0.749546     0.635011
1970 NYA      0.748028     0.538987
1990 SLN      0.747837     0.632583
1972 NYA      0.743528     0.609850
1971 LAN      0.742528     0.586339
2014 CLE      0.742527     0.487809
1969 LAN      0.738284     0.491539
1966 LAN      0.735784     0.585423
1990 TOR      0.735658     0.614741
1984 HOU      0.733591     0.575198
1979 SLN      0.733575     0.466187
1977 MIN      0.732842     0.509486
1986 HOU      0.730435     0.606988
1971 NYA      0.730370     0.563348
2015 NYA      0.730057     0.532870
1982 TOR      0.729685     0.493731
1968 LAN      0.727885     0.527642
1989 SLN      0.727732     0.599179
1984 SLN      0.725989     0.557733
1991 TOR      0.725961     0.594524
1983 TOR      0.723483     0.475543
1982 SLN      0.721523     0.495441
2014 OAK      0.721377     0.601641
1978 SLN      0.720751     0.451544
1973 NYA      0.719162     0.530265
1980 SLN      0.717763     0.523638
1983 SLN      0.715636     0.556964
1977 SLN      0.715613     0.503427
1990 LAN      0.714517     0.613943
1982 NYA      0.713371     0.667846
1984 BAL      0.713270     0.613190
2008 NYN      0.708829     0.555065
1981 SLN      0.708022     0.539130
2015 CLE      0.707972     0.478150
1994 NYN      0.706762     0.557837
1921 DET      0.705693     0.566848

In [6]:
# Teams to get the platoon advantage the *least* while pitching
# Lefty-heavy staffs
tm_adv_freq.nlargest(50, 'fld_team_id')

role       bat_team_id  fld_team_id
yr   team
1988 CIN      0.537193     0.693203
1983 NYA      0.659181     0.688240
1990 PHI      0.608487     0.685892
1987 PHI      0.534410     0.684757
1991 CAL      0.516860     0.682786
1985 LAN      0.551896     0.681119
1989 PHI      0.650946     0.674404
1984 PHI      0.510025     0.674219
1992 ATL      0.704053     0.674078
1990 ATL      0.563281     0.673489
1992 SDN      0.562726     0.671233
1991 PIT      0.668528     0.670361
1982 NYA      0.713371     0.667846
1984 NYA      0.649622     0.667039
1965 LAN      0.750000     0.666500
1989 ATL      0.527883     0.665407
1986 PHI      0.569433     0.665119
1990 CIN      0.573909     0.664654
1991 ATL      0.606762     0.663196
1984 KCA      0.591921     0.661949
1973 NYN      0.592539     0.659866
1990 PIT      0.686577     0.659496
1989 SDN      0.635948     0.659393
1992 PIT      0.614771     0.659364
1990 CAL      0.656614     0.658686
1992 CAL      0.504310     0.657134
1994 SEA      0.492318     0.656087
1990 NYN      0.688127     0.655850
     SDN      0.675619     0.655767
1984 PIT      0.586861     0.655619
1985 KCA      0.550123     0.654988
1981 NYA      0.650225     0.654959
1995 CAL      0.643409     0.654281
1980 NYA      0.602781     0.653427
1989 CIN      0.678629     0.653152
1986 LAN      0.572529     0.653009
1972 LAN      0.579268     0.652459
1992 SFN      0.577595     0.651125
2003 OAK      0.526579     0.651037
1982 KCA      0.575591     0.650843
1991 PHI      0.580466     0.650663
1993 CAL      0.593529     0.650492
1989 NYN      0.653727     0.649229
1996 NYA      0.601964     0.648911
1975 CHA      0.601153     0.648274
1994 CAL      0.594418     0.648270
1973 LAN      0.498484     0.647213
1987 SLN      0.800127     0.646946
     NYA      0.586146     0.646747
1976 NYN      0.606362     0.645227

In [7]:
# Teams to get the platoon advantage most frequently
tm_adv_freq.nsmallest(50, 'fld_team_id')

role       bat_team_id  fld_team_id
yr   team
1960 BOS      0.540459     0.362927
1944 BSN      0.581261     0.385652
1957 BOS      0.392494     0.385719
1961 BOS      0.539876     0.390006
1943 BSN      0.581069     0.391547
1932 CIN      0.530500     0.392760
1954 BAL      0.574782     0.393473
1937 DET      0.436961     0.394371
1945 BOS      0.475162     0.396338
1932 CHN      0.398369     0.399130
1934 DET      0.566661     0.400740
     SLA      0.453486     0.401623
1944 BOS      0.352280     0.403770
1939 PIT      0.521526     0.404180
1937 WS1      0.561112     0.405045
1958 WS1      0.494361     0.406354
1937 SLA      0.339866     0.408080
1944 PHA      0.389920     0.408859
1934 CHA      0.264721     0.409084
1932 SLN      0.588383     0.409754
1957 CHN      0.502270     0.410475
1941 BRO      0.520907     0.411476
1943 BRO      0.586190     0.412080
1944 SLA      0.496289     0.413897
1940 SLA      0.521322     0.414042
1936 DET      0.538671     0.414518
1943 CHN      0.486188     0.415658
1996 CHN      0.521432     0.415922
1945 NYA      0.528261     0.416360
1937 CLE      0.477239     0.416460
1959 WS1      0.351587     0.416738
1953 CLE      0.548430     0.417255
1931 CIN      0.487031     0.418457
1938 DET      0.492493     0.418827
1937 CHA      0.396106     0.419973
1944 CHN      0.500655     0.420153
1945 NY1      0.469214     0.420300
1927 BSN      0.583407     0.420442
1933 CHN      0.396716     0.420832
1942 WS1      0.528660     0.420974
2001 MIL      0.503416     0.421426
1944 NYA      0.437625     0.421888
1959 BOS      0.481370     0.421946
1945 PHA      0.412999     0.421951
1939 DET      0.469318     0.422803
1933 CIN      0.465157     0.424030
1956 BRO      0.421580     0.424173
1954 CLE      0.520582     0.425260
1958 KC1      0.375535     0.426362
1957 WS1      0.482022     0.426715

In [8]:
# these leading teams are full of RHPs
pa.query('fld_team_id == "BOS" & yr==1960')[['pit_id', 'pit_hand_cd']].value_counts()

pit_id    pit_hand_cd
monbb101  R              909
brewt101  R              828
sullf101  R              678
deloi101  R              576
muffb101  R              530
casaj101  R              470
fornm101  R              461
sturt101  R              443
wilse102  R              300
borlt101  L              236
hilld102  R              161
willt102  L              143
bowst101  L               94
worta101  R               62
nichc102  L               55
chitn101  R               40
earla101  L               25
stalt101  R               15
dtype: int64