In [1]:
# Monte-Carlo playoff odds
# Generate my own playoff odds

# For now, I'm focusing on the mechanics of the simulation, and less so on the inputs (e.g., the projected team quality)
# So I'm using 538's win probabilities for each game, rather than computing my own

# I'm also using 538's results/schedule data, because it is so easy to use

import pandas as pd
import numpy as np

In [2]:
# Read in the 538 dataset, which has a row for each game in the current season (played or unplayed)
gms = pd.read_csv('../data/538/mlb-elo/mlb_elo_latest.csv')
gms

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,2022-10-05,2022,0,NaN,LAD,COL,1591.773446,1470.180018,0.698066,0.301934,...,NaN,NaN,NaN,NaN,0.720863,0.279137,NaN,NaN,NaN,NaN
1,2022-10-05,2022,0,NaN,SEA,DET,1520.313899,1467.665441,0.608551,0.391449,...,NaN,NaN,NaN,NaN,0.608386,0.391614,NaN,NaN,NaN,NaN
2,2022-10-05,2022,0,NaN,SDP,SFG,1514.624339,1531.272369,0.510579,0.489421,...,NaN,NaN,NaN,NaN,0.565241,0.434759,NaN,NaN,NaN,NaN
3,2022-10-05,2022,0,NaN,NYM,WSN,1530.041565,1438.634452,0.660234,0.339766,...,NaN,NaN,NaN,NaN,0.672951,0.327049,NaN,NaN,NaN,NaN
4,2022-10-05,2022,0,NaN,MIL,ARI,1519.148722,1464.922056,0.610713,0.389287,...,NaN,NaN,NaN,NaN,0.630853,0.369147,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,2022-04-07,2022,0,NaN,ATL,CIN,1555.630840,1501.967218,0.609942,0.390058,...,58.198554,53.297336,18.664382,15.512738,0.620108,0.379892,1552.570297,1501.193092,3.0,6.0
2426,2022-04-07,2022,0,NaN,WSN,NYM,1476.319846,1495.202033,0.507365,0.492635,...,46.506602,48.182760,-10.890192,-33.183129,0.495889,0.504111,1467.302390,1522.210391,1.0,5.0
2427,2022-04-07,2022,0,NaN,STL,PIT,1524.880454,1456.114951,0.630416,0.369584,...,57.273136,46.669517,27.921385,2.182563,0.650312,0.349688,1503.439418,1444.031029,9.0,0.0
2428,2022-04-07,2022,0,NaN,KCR,CLE,1480.923133,1501.256999,0.505276,0.494724,...,50.288294,59.572636,7.862364,30.139987,0.476089,0.523911,1473.144618,1491.474766,3.0,1.0
2429,2022-04-07,2022,0,NaN,CHC,MIL,1472.058655,1523.802320,0.460158,0.539842,...,49.031901,62.801458,-1.963101,32.020893,0.398403,0.601597,1480.174494,1540.454128,5.0,4.0

In [3]:
gms.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'rating1_pre', 'rating2_pre', 'pitcher1', 'pitcher2', 'pitcher1_rgs',
       'pitcher2_rgs', 'pitcher1_adj', 'pitcher2_adj', 'rating_prob1',
       'rating_prob2', 'rating1_post', 'rating2_post', 'score1', 'score2'],
      dtype='object')

In [4]:
# Split out the games that have been played vs those remaining
played = gms.dropna(subset=['score1']) # games that have a score
remain = gms.loc[gms.index.difference(played.index)] # all other games
played.shape, remain.shape

((1288, 26), (1142, 26))

# Define some functions that will be used in the simulation

In [5]:
def compute_standings(gms_played):
    margins = gms_played['score1']-gms_played['score2']
    winners = pd.Series(np.where(margins>0, gms_played['team1'], gms_played['team2']))
    losers  = pd.Series(np.where(margins<0, gms_played['team1'], gms_played['team2']))
    standings = pd.concat([winners.value_counts().rename('W'), losers.value_counts().rename('L')], axis=1)
    return standings

compute_standings(played)

      W   L
NYY  61  25
LAD  56  29
HOU  56  29
NYM  53  33
ATL  52  35
SDP  49  38
MIL  48  39
MIN  48  40
BOS  47  39
PHI  46  40
STL  46  42
TBD  45  40
TOR  45  42
SEA  45  42
BAL  43  44
SFG  43  41
FLA  41  43
CLE  41  42
CHW  41  43
TEX  39  44
ARI  38  48
ANA  38  49
COL  38  48
PIT  36  50
DET  36  49
CHC  34  52
CIN  32  54
KCR  32  52
WSN  30  58
OAK  29  58

In [6]:
#  Create a data frame with the league/division mappings, to use to determine playoff berths
divisions = pd.DataFrame({
'SFG': ['N','NW'],
'LAD': ['N','NW'],
'TBD': ['A','AE'],
'MIL': ['N','NC'],
'HOU': ['A','AW'],
'CHW': ['A','AC'],
'BOS': ['A','AE'],
'NYY': ['A','AE'],
'TOR': ['A','AE'],
'OAK': ['A','AW'],
'SEA': ['A','AW'],
'SDP': ['N','NW'],
'ATL': ['N','NE'],
'CIN': ['N','NC'],
'PHI': ['N','NE'],
'STL': ['N','NC'],
'NYM': ['N','NE'],
'ANA': ['A','AW'],
'CLE': ['A','AC'],
'DET': ['A','AC'],
'CHC': ['N','NC'],
'COL': ['N','NW'],
'KCR': ['A','AC'],
'MIN': ['A','AC'],
'FLA': ['N','NE'],
'WSN': ['N','NE'],
'TEX': ['A','AW'],
'PIT': ['N','NC'],
'BAL': ['A','AE'],
'ARI': ['N','NW']
 }).T

divisions.columns = ['lg', 'div']
divisions

    lg div
SFG  N  NW
LAD  N  NW
TBD  A  AE
MIL  N  NC
HOU  A  AW
CHW  A  AC
BOS  A  AE
NYY  A  AE
TOR  A  AE
OAK  A  AW
SEA  A  AW
SDP  N  NW
ATL  N  NE
CIN  N  NC
PHI  N  NE
STL  N  NC
NYM  N  NE
ANA  A  AW
CLE  A  AC
DET  A  AC
CHC  N  NC
COL  N  NW
KCR  A  AC
MIN  A  AC
FLA  N  NE
WSN  N  NE
TEX  A  AW
PIT  N  NC
BAL  A  AE
ARI  N  NW

In [7]:

def sim_rem_games(remain):
    # Generate a random number for each game
    randoms = pd.Series(np.random.rand(len(remain)))
    randoms.index = remain.index

    # Figure out the winners and losers
    winners = pd.Series(np.where(randoms<remain['rating_prob1'], remain['team1'], remain['team2']))
    losers = pd.Series(np.where(randoms>remain['rating_prob1'], remain['team1'], remain['team2']))

    # Compute and return the standings
    standings = pd.concat([winners.value_counts().rename('W'), losers.value_counts().rename('L')], axis=1).fillna(0)
    for col in standings.columns: # convert to int
        standings[col] = standings[col].astype(int)
    return standings

sim_rem_games(remain)

      W   L
LAD  49  28
HOU  49  28
CHW  49  29
STL  48  26
TOR  46  29
PHI  45  31
NYY  45  31
NYM  43  33
TBD  42  35
MIL  40  35
BOS  39  37
ANA  39  36
FLA  39  39
SDP  39  36
CLE  39  40
ATL  38  37
KCR  37  41
ARI  36  40
MIN  35  39
PIT  34  42
SFG  34  44
OAK  34  41
DET  33  44
SEA  33  42
BAL  32  43
CIN  31  45
WSN  30  44
COL  30  46
TEX  29  50
CHC  25  51

In [8]:
cur_standings = compute_standings(played)
rem_standings = sim_rem_games(remain)
full_standings = cur_standings+rem_standings
full_standings

       W    L
ANA   75   87
ARI   69   93
ATL   98   64
BAL   77   85
BOS   88   74
CHC   74   88
CHW   93   69
CIN   65   97
CLE   80   82
COL   72   90
DET   71   91
FLA   75   87
HOU  100   62
KCR   66   96
LAD  103   59
MIL   83   79
MIN   77   85
NYM   99   63
NYY  108   54
OAK   55  107
PHI   86   76
PIT   61  101
SDP   83   79
SEA   85   77
SFG   86   76
STL   94   68
TBD   89   73
TEX   85   77
TOR   78   84
WSN   55  107

In [9]:
# find playoff teams
def find_playoff_teams(standings):
    standings['wpct'] = standings['W'] / (standings['W'] + standings['L'])

    # Merge in the div/lg data
    standings['div'] = divisions['div']
    standings['lg'] = divisions['lg']

    # Rather than model out all the tie-breakers, I'm assuming that they are all random (not exactly true, but close enough),
    # and so I'm just generating a random number for each team, and we break ties by comparing that random num for each of the tied teams.
    # This is *so* much simpler and faster than modeling all the different scenarios.
    # It might be worth modeling them out with 1-2 days left in the season, but for most of the season, I way prefer using the random num to break ties
    standings['rand'] = np.random.rand(len(standings))

    # Now sort, and break ties using the rand
    sorted = standings.sort_values(by=['wpct', 'rand'], ascending=False)

    div_winners =  list(sorted.groupby(['div']).head(1).index.values)

    wc_contenders = sorted[~sorted.index.isin(div_winners)]
    wc_winners = list(wc_contenders.groupby(['lg']).head(3).index.values)


    return div_winners + wc_winners

     

full_standings, find_playoff_teams(full_standings)

(       W    L      wpct div lg      rand
 ANA   75   87  0.462963  AW  A  0.280211
 ARI   69   93  0.425926  NW  N  0.092603
 ATL   98   64  0.604938  NE  N  0.891958
 BAL   77   85  0.475309  AE  A  0.019188
 BOS   88   74  0.543210  AE  A  0.359827
 CHC   74   88  0.456790  NC  N  0.716705
 CHW   93   69  0.574074  AC  A  0.906161
 CIN   65   97  0.401235  NC  N  0.238517
 CLE   80   82  0.493827  AC  A  0.937705
 COL   72   90  0.444444  NW  N  0.994563
 DET   71   91  0.438272  AC  A  0.208284
 FLA   75   87  0.462963  NE  N  0.546185
 HOU  100   62  0.617284  AW  A  0.917531
 KCR   66   96  0.407407  AC  A  0.732718
 LAD  103   59  0.635802  NW  N  0.196007
 MIL   83   79  0.512346  NC  N  0.947460
 MIN   77   85  0.475309  AC  A  0.208857
 NYM   99   63  0.611111  NE  N  0.028320
 NYY  108   54  0.666667  AE  A  0.924856
 OAK   55  107  0.339506  AW  A  0.362195
 PHI   86   76  0.530864  NE  N  0.973957
 PIT   61  101  0.376543  NC  N  0.756969
 SDP   83   79  0.512346  NW  N  0.596926
 SEA   85   77  0.524691  AW  A  0.369626
 SFG   86   76  0.530864  NW  N  0.583784
 STL   94   68  0.580247  NC  N  0.599967
 TBD   89   73  0.549383  AE  A  0.127077
 TEX   85   77  0.524691  AW  A  0.645185
 TOR   78   84  0.481481  AE  A  0.194444
 WSN   55  107  0.339506  NE  N  0.932933,
 ['NYY',
  'LAD',
  'HOU',
  'NYM',
  'STL',
  'CHW',
  'ATL',
  'TBD',
  'BOS',
  'PHI',
  'SFG',
  'TEX'])

In [10]:
%%prun -s cumulative # This runs the code profiler, which creates data I can use to find opportunities for me to speed up the code

[find_playoff_teams(full_standings) for _ in range(1000)]
None # This is to suppress printing the output, which is 1000 lines of the same list of teams

         5455930 function calls (5376930 primitive calls) in 2.568 seconds

   Ordered by: cumulative time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    2.568    2.568 {built-in method builtins.exec}
        1    0.000    0.000    2.568    2.568 <string>:3(<module>)
        1    0.004    0.004    2.568    2.568 <string>:3(<listcomp>)
     1000    0.022    0.000    2.564    0.003 <ipython-input-9-a6d4cc684abe>:2(find_playoff_teams)
     2000    0.004    0.000    0.852    0.000 groupby.py:3487(head)
     1000    0.002    0.000    0.694    0.001 _decorators.py:302(wrapper)
     1000    0.008    0.000    0.692    0.001 frame.py:6269(sort_values)
    12000    0.030    0.000    0.665    0.000 frame.py:3463(__getitem__)
     1000    0.029    0.000    0.489    0.000 sorting.py:285(lexsort_indexer)
     3000    0.005    0.000    0.471    0.000 frame.py:3530(_getitem_bool_array)
40000/24000    0.021    0.000    0.444    0.000 groupby.py:908(__getattribute__)
     2000    0.003    0.000    0.443    0.000 indexing.py:121(_make_mask_from_positional_indexer)
     2000    0.009    0.000    0.437    0.000 indexing.py:185(_make_mask_from_slice)
     4000    0.008    0.000    0.437    0.000 frame.py:3630(__setitem__)
     3000    0.005    0.000    0.427    0.000 generic.py:3708(_take_with_is_copy)
     2000    0.002    0.000    0.421    0.000 indexing.py:227(_ascending_count)
     2000    0.025    0.000    0.418    0.000 groupby.py:1699(_cumcount_array)
     4000    0.007    0.000    0.417    0.000 frame.py:3822(_set_item)
     2000    0.007    0.000    0.401    0.000 groupby.py:3570(_mask_selected_obj)
     3000    0.009    0.000    0.388    0.000 generic.py:3609(take)
     2000    0.015    0.000    0.345    0.000 categorical.py:365(__init__)
     4000    0.010    0.000    0.339    0.000 managers.py:875(take)
     4000    0.004    0.000    0.320    0.000 frame.py:4515(_sanitize_column)
     3000    0.005    0.000    0.302    0.000 frame.py:10986(_reindex_for_setitem)
     4000    0.026    0.000    0.289    0.000 algorithms.py:568(factorize)
     6000    0.016    0.000    0.286    0.000 managers.py:634(reindex_indexer)
     2000    0.002    0.000    0.278    0.000 ops.py:832(group_info)
     2000    0.004    0.000    0.276    0.000 ops.py:854(_get_compressed_codes)
     2000    0.004    0.000    0.267    0.000 series.py:4655(reindex)
     2000    0.010    0.000    0.262    0.000 generic.py:4719(reindex)
     4000    0.013    0.000    0.222    0.000 managers.py:692(<listcomp>)
     2000    0.004    0.000    0.202    0.000 generic.py:4970(_reindex_axes)
  1054996    0.126    0.000    0.183    0.000 {built-in method builtins.isinstance}
     4000    0.014    0.000    0.181    0.000 base.py:672(_with_infer)
    16000    0.020    0.000    0.179    0.000 blocks.py:1114(take_nd)
     2000    0.003    0.000    0.176    0.000 common.py:55(new_method)
     2000    0.002    0.000    0.168    0.000 series.py:5637(_arith_method)
     2000    0.008    0.000    0.163    0.000 base.py:1286(_arith_method)
    20000    0.020    0.000    0.156    0.000 take.py:57(take_nd)
     2000    0.008    0.000    0.144    0.000 frame.py:7595(groupby)
     2000    0.002    0.000    0.139    0.000 grouper.py:616(codes)
     2000    0.003    0.000    0.137    0.000 grouper.py:659(_codes_and_uniques)
     2000    0.009    0.000    0.133    0.000 groupby.py:839(__init__)
    20000    0.046    0.000    0.131    0.000 take.py:120(_take_nd_ndarray)
     2000    0.003    0.000    0.128    0.000 grouper.py:650(group_index)
     5000    0.002    0.000    0.128    0.000 generic.py:5646(_consolidate_inplace)
     5000    0.006    0.000    0.125    0.000 generic.py:5632(_protect_consolidate)
     9000    0.010    0.000    0.124    0.000 frame.py:3923(_get_item_cache)
     8000    0.003    0.000    0.123    0.000 dtypes.py:182(__init__)
     2000    0.020    0.000    0.121    0.000 grouper.py:700(get_grouper)
     8000    0.005    0.000    0.120    0.000 dtypes.py:331(_finalize)
     5000    0.003    0.000    0.117    0.000 generic.py:5650(f)
    16000    0.027    0.000    0.116    0.000 base.py:5178(equals)
     2000    0.005    0.000    0.116    0.000 base.py:4109(reindex)
     4000    0.022    0.000    0.112    0.000 base.py:397(__new__)
     4000    0.010    0.000    0.112    0.000 dtypes.py:504(validate_categories)
     5000    0.003    0.000    0.109    0.000 managers.py:618(consolidate)
     9998    0.018    0.000    0.109    0.000 series.py:323(__init__)
     4000    0.008    0.000    0.109    0.000 algorithms.py:524(factorize_array)
     2000    0.004    0.000    0.098    0.000 series.py:2988(_construct_result)
     5998    0.009    0.000    0.097    0.000 frame.py:3411(_ixs)
     1000    0.002    0.000    0.094    0.000 managers.py:1683(_consolidate_inplace)
     1000    0.001    0.000    0.090    0.000 arraylike.py:98(__add__)
     2000    0.008    0.000    0.086    0.000 base.py:3706(get_indexer)
     4000    0.006    0.000    0.084    0.000 frame.py:3797(_set_item_mgr)
     1000    0.005    0.000    0.083    0.000 managers.py:2074(_consolidate)
     4000    0.013    0.000    0.082    0.000 algorithms.py:1663(safe_sort)
     1000    0.001    0.000    0.080    0.000 arraylike.py:122(__truediv__)
     2000    0.007    0.000    0.080    0.000 generic.py:5009(_reindex_with_indexers)
     1000    0.001    0.000    0.078    0.000 frame.py:6295(<listcomp>)
     2000    0.007    0.000    0.076    0.000 generic.py:1796(_get_label_or_level_values)
32000/28000    0.033    0.000    0.073    0.000 {built-in method numpy.core._multiarray_umath.implement_array_function}
     1000    0.002    0.000    0.072    0.000 sorting.py:271(indexer_from_factorized)
    15998    0.036    0.000    0.066    0.000 generic.py:5517(__finalize__)
     4000    0.004    0.000    0.066    0.000 algorithms.py:299(_get_data_algo)
     4000    0.005    0.000    0.062    0.000 frame.py:3790(_iset_item_mgr)
     4000    0.023    0.000    0.060    0.000 index_tricks.py:322(__getitem__)
    69000    0.029    0.000    0.057    0.000 common.py:1587(_is_dtype_type)
   235000    0.041    0.000    0.057    0.000 generic.py:43(_check)
     1000    0.001    0.000    0.057    0.000 base.py:6134(isin)
     8000    0.011    0.000    0.056    0.000 algorithms.py:115(_ensure_data)
     1000    0.016    0.000    0.056    0.000 algorithms.py:448(isin)
     4000    0.013    0.000    0.053    0.000 managers.py:1061(iset)
    35000    0.017    0.000    0.053    0.000 common.py:161(is_object_dtype)
    10000    0.005    0.000    0.052    0.000 blocks.py:238(fill_value)
     2000    0.002    0.000    0.051    0.000 generic.py:3722(xs)
     4000    0.035    0.000    0.051    0.000 {pandas._libs.lib.maybe_convert_objects}
     3000    0.012    0.000    0.050    0.000 managers.py:2091(_merge_blocks)
    19000    0.007    0.000    0.050    0.000 {method 'any' of 'numpy.ndarray' objects}
     5998    0.007    0.000    0.048    0.000 frame.py:3906(_box_col_values)
    10000    0.008    0.000    0.046    0.000 missing.py:571(na_value_for_dtype)
270998/211998    0.032    0.000    0.044    0.000 {built-in method builtins.len}
    19000    0.005    0.000    0.043    0.000 _methods.py:54(_any)
    16000    0.018    0.000    0.042    0.000 _dtype.py:328(_name_get)
    20000    0.023    0.000    0.042    0.000 take.py:554(_take_preprocess_indexer_and_fill_value)
    20000    0.042    0.000    0.042    0.000 {method 'reduce' of 'numpy.ufunc' objects}
     7000    0.024    0.000    0.042    0.000 {pandas._libs.lib.infer_dtype}
     5000    0.013    0.000    0.041    0.000 construction.py:470(sanitize_array)
    25996    0.021    0.000    0.040    0.000 generic.py:5577(__setattr__)
     4000    0.021    0.000    0.040    0.000 utils.py:249(maybe_convert_indices)
    14000    0.005    0.000    0.039    0.000 {built-in method builtins.all}
     2000    0.004    0.000    0.037    0.000 base.py:7106(_maybe_cast_data_without_dtype)
     1000    0.013    0.000    0.036    0.000 sorting.py:100(get_group_index)
     6000    0.012    0.000    0.035    0.000 warnings.py:130(filterwarnings)
    20000    0.007    0.000    0.035    0.000 construction.py:379(extract_array)
    19000    0.015    0.000    0.034    0.000 common.py:1274(is_bool_dtype)
     3000    0.003    0.000    0.034    0.000 indexing.py:2352(check_bool_indexer)
     4000    0.012    0.000    0.034    0.000 base.py:1098(take)
    11000    0.009    0.000    0.034    0.000 missing.py:390(array_equivalent)
     2000    0.005    0.000    0.033    0.000 managers.py:713(_slice_take_blocks_ax0)
    18000    0.008    0.000    0.033    0.000 base.py:286(is_dtype)
     4000    0.008    0.000    0.032    0.000 algorithms.py:308(_check_object_for_strings)
    22000    0.014    0.000    0.031    0.000 common.py:581(is_dtype_equal)
     5000    0.008    0.000    0.030    0.000 numerictypes.py:597(find_common_type)
     4000    0.003    0.000    0.030    0.000 algorithms.py:289(_get_values_for_rank)
    20000    0.010    0.000    0.028    0.000 common.py:1240(is_float_dtype)
     2000    0.002    0.000    0.028    0.000 base.py:2665(hasnans)
     3000    0.012    0.000    0.028    0.000 sorting.py:618(get_group_index_sorter)
    11000    0.011    0.000    0.027    0.000 base.py:53(shape)
     4000    0.002    0.000    0.027    0.000 generic.py:4952(<genexpr>)
    13998    0.020    0.000    0.026    0.000 generic.py:239(__init__)
    12000    0.005    0.000    0.026    0.000 common.py:497(is_categorical_dtype)
     3000    0.003    0.000    0.025    0.000 {built-in method builtins.sorted}
   307000    0.024    0.000    0.024    0.000 {built-in method builtins.getattr}
    12000    0.008    0.000    0.024    0.000 series.py:640(name)
     1000    0.003    0.000    0.023    0.000 sorting.py:661(compress_group_index)
     9998    0.007    0.000    0.023    0.000 base.py:3577(get_loc)
     5998    0.015    0.000    0.023    0.000 managers.py:1016(iget)
    10000    0.003    0.000    0.023    0.000 managers.py:2079(<lambda>)
     2000    0.001    0.000    0.023    0.000 base.py:5265(identical)
     8000    0.013    0.000    0.022    0.000 missing.py:494(_array_equivalent_object)
     6000    0.005    0.000    0.021    0.000 blocks.py:2030(new_block_2d)
     2000    0.003    0.000    0.021    0.000 array_ops.py:183(arithmetic_op)
     2000    0.006    0.000    0.020    0.000 grouper.py:468(__init__)
     5000    0.006    0.000    0.020    0.000 blocks.py:166(_consolidate_key)
     4000    0.006    0.000    0.020    0.000 algorithms.py:193(_reconstruct_data)
     8000    0.004    0.000    0.020    0.000 <__array_function__ internals>:177(concatenate)
     6000    0.003    0.000    0.019    0.000 algorithms.py:237(_ensure_arraylike)
     3000    0.008    0.000    0.019    0.000 utils.py:457(check_array_indexer)
    63000    0.013    0.000    0.019    0.000 common.py:1552(get_dtype)
     4000    0.005    0.000    0.019    0.000 managers.py:1196(_iset_single)
     2000    0.004    0.000    0.019    0.000 dtypes.py:541(update_dtype)
    10000    0.013    0.000    0.018    0.000 numerictypes.py:573(_can_coerce_all)
     2000    0.018    0.000    0.018    0.000 {method 'factorize' of 'pandas._libs.hashtable.StringHashTable' objects}
    16000    0.006    0.000    0.017    0.000 _dtype.py:314(_name_includes_bit_suffix)
     4000    0.005    0.000    0.017    0.000 base.py:554(_dtype_to_subclass)
    12000    0.004    0.000    0.017    0.000 common.py:1721(validate_all_hashable)
    31000    0.006    0.000    0.016    0.000 base.py:55(<genexpr>)
    29000    0.016    0.000    0.016    0.000 {built-in method numpy.empty}
     4000    0.004    0.000    0.016    0.000 numeric.py:289(full)
     2000    0.002    0.000    0.016    0.000 managers.py:1731(from_array)
    22000    0.010    0.000    0.016    0.000 common.py:1429(is_extension_array_dtype)
     2000    0.015    0.000    0.015    0.000 {method 'factorize' of 'pandas._libs.hashtable.Float64HashTable' objects}
    54000    0.011    0.000    0.015    0.000 base.py:884(__len__)
     2000    0.001    0.000    0.015    0.000 <__array_function__ internals>:177(vstack)
     3000    0.015    0.000    0.015    0.000 {pandas._libs.algos.groupsort_indexer}
     2000    0.001    0.000    0.015    0.000 base.py:2652(_isnan)
     4000    0.002    0.000    0.015    0.000 managers.py:1665(is_consolidated)
    10000    0.005    0.000    0.014    0.000 common.py:680(is_integer_dtype)
     2000    0.002    0.000    0.014    0.000 base.py:3786(_get_indexer)
    55000    0.010    0.000    0.014    0.000 common.py:147(<lambda>)
    11000    0.014    0.000    0.014    0.000 {method 'argsort' of 'numpy.ndarray' objects}
    11996    0.009    0.000    0.014    0.000 base.py:5023(__getitem__)
     2000    0.001    0.000    0.014    0.000 missing.py:66(isna)
    36000    0.009    0.000    0.014    0.000 inference.py:321(is_hashable)
    11000    0.004    0.000    0.014    0.000 series.py:687(_values)
     2000    0.002    0.000    0.013    0.000 base.py:3823(_check_indexing_method)
     4000    0.004    0.000    0.013    0.000 frame.py:587(__init__)
     2000    0.001    0.000    0.013    0.000 <__array_function__ internals>:177(diff)
     4000    0.007    0.000    0.013    0.000 generic.py:1752(_check_label_or_level_ambiguity)
     2000    0.003    0.000    0.013    0.000 missing.py:149(_isna)
     2000    0.003    0.000    0.013    0.000 array_ops.py:134(_na_arithmetic_op)
     3000    0.004    0.000    0.013    0.000 managers.py:1673(_consolidate_check)
     9998    0.006    0.000    0.013    0.000 base.py:6284(_maybe_cast_indexer)
   150000    0.012    0.000    0.012    0.000 {built-in method builtins.issubclass}
     4000    0.005    0.000    0.012    0.000 _ufunc_config.py:32(seterr)
     1000    0.004    0.000    0.012    0.000 sorting.py:683(_reorder_by_uniques)
     8000    0.007    0.000    0.012    0.000 blocks.py:1960(maybe_coerce_values)
     2000    0.002    0.000    0.012    0.000 shape_base.py:222(vstack)
     8000    0.008    0.000    0.012    0.000 base.py:654(_simple_new)
     2000    0.003    0.000    0.012    0.000 blocks.py:2041(new_block)
    51000    0.011    0.000    0.012    0.000 {pandas._libs.lib.is_list_like}
     7000    0.005    0.000    0.011    0.000 numerictypes.py:356(issubdtype)
     3000    0.003    0.000    0.011    0.000 common.py:105(is_bool_indexer)
    21000    0.009    0.000    0.011    0.000 base.py:4973(__contains__)
     6000    0.002    0.000    0.011    0.000 re.py:250(compile)
     2000    0.001    0.000    0.011    0.000 config.py:255(__call__)
     2000    0.010    0.000    0.011    0.000 function_base.py:1295(diff)
     6000    0.006    0.000    0.011    0.000 warnings.py:181(_add_filter)
     2000    0.006    0.000    0.011    0.000 base.py:2232(is_unique)
    16000    0.011    0.000    0.011    0.000 blocks.py:267(make_block_same_class)
     8000    0.003    0.000    0.010    0.000 {built-in method builtins.any}
     4000    0.003    0.000    0.010    0.000 algorithms.py:1352(take)
     2000    0.001    0.000    0.010    0.000 config.py:127(_get_option)
     2000    0.010    0.000    0.010    0.000 {method 'get_indexer' of 'pandas._libs.index.IndexEngine' objects}
     1000    0.001    0.000    0.010    0.000 <__array_function__ internals>:177(prod)
    69000    0.010    0.000    0.010    0.000 {built-in method numpy.asarray}
    11000    0.008    0.000    0.010    0.000 managers.py:1848(internal_values)
     5998    0.003    0.000    0.010    0.000 series.py:1238(_set_as_cached)
     8000    0.007    0.000    0.009    0.000 blocks.py:1989(get_block_type)
    12000    0.006    0.000    0.009    0.000 indexing.py:2481(check_deprecated_indexers)
     5000    0.006    0.000    0.009    0.000 construction.py:695(_try_cast)
     2000    0.002    0.000    0.009    0.000 dtypes.py:205(_from_values_or_dtype)
    16000    0.006    0.000    0.009    0.000 inference.py:184(is_array_like)
    14000    0.007    0.000    0.009    0.000 generic.py:560(_get_axis)
    20000    0.009    0.000    0.009    0.000 cast.py:468(maybe_promote)
     6000    0.003    0.000    0.009    0.000 fromnumeric.py:51(_wrapfunc)
     6000    0.005    0.000    0.009    0.000 re.py:289(_compile)
    15000    0.007    0.000    0.009    0.000 common.py:1148(needs_i8_conversion)
     2000    0.001    0.000    0.009    0.000 _ufunc_config.py:429(__enter__)
     2000    0.003    0.000    0.009    0.000 generic.py:1697(_is_label_reference)
     1000    0.001    0.000    0.009    0.000 fromnumeric.py:2970(prod)
     2000    0.001    0.000    0.008    0.000 expressions.py:223(evaluate)
    12000    0.008    0.000    0.008    0.000 {method 'copy' of 'numpy.ndarray' objects}
     2000    0.002    0.000    0.008    0.000 base.py:6004(_should_compare)
    24000    0.004    0.000    0.008    0.000 common.py:1740(<genexpr>)
    26000    0.006    0.000    0.008    0.000 series.py:590(name)
     2000    0.004    0.000    0.008    0.000 numeric.py:139(_ensure_array)
     2000    0.004    0.000    0.008    0.000 sorting.py:143(maybe_lift)
    10000    0.008    0.000    0.008    0.000 {method 'take' of 'numpy.ndarray' objects}
    21994    0.006    0.000    0.008    0.000 common.py:160(cast_scalar_indexer)
     2000    0.001    0.000    0.008    0.000 common.py:75(get_op_result_name)
    55000    0.008    0.000    0.008    0.000 common.py:145(classes)
     2000    0.008    0.000    0.008    0.000 {method 'cumsum' of 'numpy.ndarray' objects}
     3000    0.006    0.000    0.008    0.000 managers.py:1679(<listcomp>)
     2000    0.001    0.000    0.008    0.000 <__array_function__ internals>:177(where)
     7000    0.005    0.000    0.008    0.000 indexing.py:2318(convert_to_index_sliceable)
     2000    0.001    0.000    0.007    0.000 expressions.py:92(_evaluate_numexpr)
     6000    0.003    0.000    0.007    0.000 base.py:7082(maybe_extract_name)
     1000    0.002    0.000    0.007    0.000 fromnumeric.py:69(_wrapreduction)
    49000    0.006    0.000    0.007    0.000 {built-in method builtins.hasattr}
    20000    0.007    0.000    0.007    0.000 take.py:326(_get_take_nd_function)
     2000    0.001    0.000    0.007    0.000 common.py:459(is_interval_dtype)
     4000    0.004    0.000    0.007    0.000 blocks.py:2135(ensure_block_shape)
     4000    0.002    0.000    0.007    0.000 <__array_function__ internals>:177(copyto)
     1000    0.007    0.000    0.007    0.000 {method 'get_labels_groupby' of 'pandas._libs.hashtable.Int64HashTable' objects}
     6000    0.006    0.000    0.007    0.000 warnings.py:458(__enter__)
     2000    0.001    0.000    0.007    0.000 <__array_function__ internals>:177(argsort)
    15998    0.007    0.000    0.007    0.000 flags.py:83(allows_duplicate_labels)
    15000    0.007    0.000    0.007    0.000 {method 'astype' of 'numpy.ndarray' objects}
     1000    0.004    0.000    0.007    0.000 {method '_rebuild_blknos_and_blklocs' of 'pandas._libs.internals.BlockManager' objects}
    16000    0.005    0.000    0.007    0.000 base.py:803(is_)
     2000    0.001    0.000    0.007    0.000 _ufunc_config.py:434(__exit__)
    37000    0.006    0.000    0.006    0.000 generic.py:546(_get_axis_number)
     2000    0.003    0.000    0.006    0.000 config.py:109(_get_single_key)
     2000    0.002    0.000    0.006    0.000 grouper.py:925(_convert_grouper)
     2000    0.001    0.000    0.006    0.000 <__array_function__ internals>:177(repeat)
     2000    0.004    0.000    0.006    0.000 missing.py:226(_isna_array)
    13998    0.006    0.000    0.006    0.000 flags.py:47(__init__)
    57000    0.006    0.000    0.006    0.000 {built-in method builtins.hash}
     4000    0.005    0.000    0.006    0.000 categorical.py:766(codes)
    14000    0.004    0.000    0.006    0.000 numerictypes.py:282(issubclass_)
    52000    0.006    0.000    0.006    0.000 base.py:4820(_values)

In [11]:
def finish_one_season(incoming_standings, remain):
    rem_standings = sim_rem_games(remain)
    full_standings = incoming_standings+rem_standings
    playoff_teams = find_playoff_teams(full_standings)
    return playoff_teams

finish_one_season(cur_standings, remain)

['NYY',
 'LAD',
 'HOU',
 'NYM',
 'MIL',
 'CHW',
 'PHI',
 'ATL',
 'BOS',
 'SDP',
 'TBD',
 'CLE']

In [12]:
#
def sim_n_seasons(incoming_standings, remain, n):
    # The first 6 teams in the list are div winners, the rest are WCs
    return pd.DataFrame([{'sim': i, 'finish': 'div' if t[0] < 6 else 'wc', 'tm': t[1]}  
        for i in range(n) 
        for t in enumerate(finish_one_season(incoming_standings, remain)) 
        ])

sim_results = sim_n_seasons(cur_standings, remain, 10)
sim_results

     sim finish   tm
0      0    div  NYY
1      0    div  ATL
2      0    div  LAD
3      0    div  HOU
4      0    div  MIL
..   ...    ...  ...
115    9     wc  TOR
116    9     wc  SFG
117    9     wc  SDP
118    9     wc  SEA
119    9     wc  BOS

[120 rows x 3 columns]

In [13]:
# Count the number of div/wc/playoff appearances by team from a set of results
def summarize_sim_results(df_results):
    summary = df_results[['tm', 'finish']].value_counts().unstack().fillna(0)
    for col in summary.columns:
        summary[col] = summary[col].apply(int)
    summary['playoffs'] = summary['div'] + summary['wc']
    return summary

summarize_sim_results(sim_results)

finish  div  wc  playoffs
tm
ATL       4   6        10
BOS       0   8         8
CHW       4   2         6
CLE       1   0         1
HOU      10   0        10
LAD      10   0        10
MIL      10   0        10
MIN       5   1         6
NYM       6   4        10
NYY      10   0        10
PHI       0   7         7
SDP       0   9         9
SEA       0   7         7
SFG       0   3         3
STL       0   1         1
TBD       0   5         5
TOR       0   7         7

In [14]:
summarize_sim_results(sim_n_seasons(cur_standings, remain, 10))

finish  div  wc  playoffs
tm
ATL       5   4         9
BAL       0   1         1
BOS       0   6         6
CHW       4   2         6
CLE       0   1         1
HOU      10   0        10
LAD      10   0        10
MIL       7   1         8
MIN       6   3         9
NYM       5   5        10
NYY      10   0        10
PHI       0   6         6
SDP       0  10        10
SEA       0   4         4
SFG       0   3         3
STL       3   1         4
TBD       0   5         5
TOR       0   8         8

# Now put it all together and simulate a large number of seasons
## (Possibly multiple times, for comparison)

In [22]:
#%%prun  -s cumulative

# We want to simulate the rest of the season a large number of times (e.g., 1000 or 100K or more)
# We also want to run multiple of these sets, to observe the variation across different runs
# So we run trials of num_seasons seasons, num_trials times

NUM_SEASONS = 10*1000
NUM_TRIALS = 5

# Collect just the number of playoff appearances for now, since we'll compare playoff appearance percentagees
def run_trial(incoming_standings, remaining_gms, num_seasons):
    return summarize_sim_results(sim_n_seasons(incoming_standings, remaining_gms, num_seasons))['playoffs']

# Run the sims
totals = pd.concat([run_trial(cur_standings, remain, NUM_SEASONS) for _ in range(NUM_TRIALS)], axis=1)

# Fill in blanks (and convert to ints)
totals = totals.fillna(0)
for col in totals.columns: # convert to int
    totals[col] = totals[col].astype(int)

totals

     playoffs  playoffs  playoffs  playoffs  playoffs
tm
ANA       217       210       196       189       183
ARI         2         3         2         2         1
ATL      9781      9768      9792      9783      9794
BAL       205       203       231       209       216
BOS      7024      7174      7103      7106      7179
CHC         3         3         3         3         4
CHW      5311      5250      5227      5298      5301
CLE      1852      1715      1775      1745      1763
DET        12        11         9        18        14
FLA       412       453       469       437       413
HOU     10000     10000     10000     10000     10000
LAD      9998      9999     10000      9999      9997
MIL      8026      8014      8014      8071      8004
MIN      7551      7642      7626      7607      7465
NYM      9792      9775      9830      9803      9802
NYY     10000     10000     10000     10000     10000
PHI      6892      6913      6840      6828      6817
SDP      8492      8475      8483      8542      8529
SEA      4972      4963      5047      5027      5094
SFG      2146      2138      2160      2099      2099
STL      4456      4457      4402      4431      4535
TBD      5822      5916      5773      5822      5856
TEX       325       339       325       373       337
TOR      6709      6577      6687      6606      6592
CIN         0         2         2         0         1
COL         0         0         2         2         1
KCR         0         0         1         0         0
PIT         0         0         1         0         3

In [23]:
# Average across the trials, to compute the playoff appearance frequency
(totals.apply(np.mean, axis=1)/NUM_SEASONS).sort_values(ascending=False)

tm
HOU    1.00000
NYY    1.00000
LAD    0.99986
NYM    0.98004
ATL    0.97836
SDP    0.85042
MIL    0.80258
MIN    0.75782
BOS    0.71172
PHI    0.68580
TOR    0.66342
TBD    0.58378
CHW    0.52774
SEA    0.50206
STL    0.44562
SFG    0.21284
CLE    0.17700
FLA    0.04368
TEX    0.03398
BAL    0.02128
ANA    0.01990
DET    0.00128
CHC    0.00032
ARI    0.00020
CIN    0.00010
COL    0.00010
PIT    0.00008
KCR    0.00002
dtype: float64

In [24]:
# Which teams have the widest range?  How big is that range?
((totals.apply(max, axis=1) - totals.apply(min, axis=1))/NUM_SEASONS).sort_values(ascending=False)

tm
MIN    0.0177
BOS    0.0155
TBD    0.0143
CLE    0.0137
STL    0.0133
TOR    0.0132
SEA    0.0131
PHI    0.0096
CHW    0.0084
MIL    0.0067
SDP    0.0067
SFG    0.0061
FLA    0.0057
NYM    0.0055
TEX    0.0048
ANA    0.0034
BAL    0.0028
ATL    0.0026
DET    0.0009
LAD    0.0003
PIT    0.0003
ARI    0.0002
CIN    0.0002
COL    0.0002
CHC    0.0001
KCR    0.0001
NYY    0.0000
HOU    0.0000
dtype: float64