In [1]:
# Monte-Carlo playoff odds
# Generate my own playoff odds

# For now, I'm focusing on the mechanics of the simulation, and less so on the inputs (e.g., the projected team quality)
# So I'm using 538's win probabilities for each game, rather than computing my own

# I'm also using 538's results/schedule data, because it is so easy to use

import pandas as pd
import numpy as np

In [2]:
# Read in the 538 dataset, which has a row for each game in the current season (played or unplayed)
gms = pd.read_csv('https://projects.fivethirtyeight.com/mlb-api/mlb_elo_latest.csv')
#gms = pd.read_csv('../data/538/mlb-elo/mlb_elo_latest.csv')
gms

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,2022-10-05,2022,0,NaN,LAD,COL,1604.797760,1472.520826,0.710868,0.289132,...,NaN,NaN,NaN,NaN,0.723387,0.276613,NaN,NaN,NaN,NaN
1,2022-10-05,2022,0,NaN,SEA,DET,1524.337226,1451.512688,0.635843,0.364157,...,NaN,NaN,NaN,NaN,0.622726,0.377274,NaN,NaN,NaN,NaN
2,2022-10-05,2022,0,NaN,SDP,SFG,1511.860691,1531.550690,0.506202,0.493798,...,NaN,NaN,NaN,NaN,0.559583,0.440417,NaN,NaN,NaN,NaN
3,2022-10-05,2022,0,NaN,NYM,WSN,1535.209697,1431.603957,0.675805,0.324195,...,NaN,NaN,NaN,NaN,0.683656,0.316344,NaN,NaN,NaN,NaN
4,2022-10-05,2022,0,NaN,MIL,ARI,1520.117053,1466.163589,0.610339,0.389661,...,NaN,NaN,NaN,NaN,0.628387,0.371613,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,2022-04-07,2022,0,NaN,ATL,CIN,1555.630840,1501.967218,0.609942,0.390058,...,58.198554,53.297336,18.664382,15.512738,0.620108,0.379892,1552.570297,1501.193092,3.0,6.0
2426,2022-04-07,2022,0,NaN,WSN,NYM,1476.319846,1495.202033,0.507365,0.492635,...,46.506602,48.182760,-10.890192,-33.183129,0.495889,0.504111,1467.302390,1522.210391,1.0,5.0
2427,2022-04-07,2022,0,NaN,STL,PIT,1524.880454,1456.114951,0.630416,0.369584,...,57.273136,46.669517,27.921385,2.182563,0.650312,0.349688,1503.439418,1444.031029,9.0,0.0
2428,2022-04-07,2022,0,NaN,KCR,CLE,1480.923133,1501.256999,0.505276,0.494724,...,50.288294,59.572636,7.862364,30.139987,0.476089,0.523911,1473.144618,1491.474766,3.0,1.0
2429,2022-04-07,2022,0,NaN,CHC,MIL,1472.058655,1523.802320,0.460158,0.539842,...,49.031901,62.801458,-1.963101,32.020893,0.398403,0.601597,1480.174494,1540.454128,5.0,4.0

In [3]:
gms.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'rating1_pre', 'rating2_pre', 'pitcher1', 'pitcher2', 'pitcher1_rgs',
       'pitcher2_rgs', 'pitcher1_adj', 'pitcher2_adj', 'rating_prob1',
       'rating_prob2', 'rating1_post', 'rating2_post', 'score1', 'score2'],
      dtype='object')

In [4]:
# Split out the games that have been played vs those remaining
played = gms.dropna(subset=['score1']) # games that have a score
remain = gms.loc[gms.index.difference(played.index)] # all other games
played.shape, remain.shape

((1435, 26), (995, 26))

# Define some functions that will be used in the simulation

In [5]:
def compute_standings(gms_played):
    margins = gms_played['score1']-gms_played['score2']
    winners = pd.Series(np.where(margins>0, gms_played['team1'], gms_played['team2']))
    losers  = pd.Series(np.where(margins<0, gms_played['team1'], gms_played['team2']))
    standings = pd.concat([winners.value_counts().rename('W'), losers.value_counts().rename('L')], axis=1)
    return standings

compute_standings(played)

      W   L
NYY  66  31
HOU  64  32
LAD  64  30
NYM  59  37
ATL  58  39
SDP  54  43
MIL  53  43
TOR  53  43
TBD  52  43
MIN  52  44
SEA  51  45
STL  51  46
PHI  49  46
SFG  48  47
CLE  48  46
BOS  48  48
CHW  48  48
BAL  47  48
FLA  45  50
TEX  43  51
COL  43  53
ARI  42  53
ANA  40  55
PIT  40  56
CHC  38  57
DET  38  58
KCR  38  57
CIN  36  58
OAK  35  63
WSN  32  65

In [6]:
# This is the source data for the mapping of teams to divisions/leagues
div_text = '''
NLW: ARI COL LAD SDP SFG
NLE: ATL FLA NYM PHI WSN
ALW: SEA ANA HOU OAK TEX
ALE: TBD TOR BAL NYY BOS
ALC: MIN CHW CLE KCR DET
NLC: STL MIL CHC PIT CIN
'''

divs = {line.split(': ')[0]: line.split(': ')[1].split(' ') for line in div_text.strip().split('\n')}
teams = pd.DataFrame(pd.concat([pd.Series({team: div for team in teams}) for (div, teams) in divs.items()]).rename('div'))
teams['lg'] = teams['div'].str[0]
teams

     div lg
ARI  NLW  N
COL  NLW  N
LAD  NLW  N
SDP  NLW  N
SFG  NLW  N
ATL  NLE  N
FLA  NLE  N
NYM  NLE  N
PHI  NLE  N
WSN  NLE  N
SEA  ALW  A
ANA  ALW  A
HOU  ALW  A
OAK  ALW  A
TEX  ALW  A
TBD  ALE  A
TOR  ALE  A
BAL  ALE  A
NYY  ALE  A
BOS  ALE  A
MIN  ALC  A
CHW  ALC  A
CLE  ALC  A
KCR  ALC  A
DET  ALC  A
STL  NLC  N
MIL  NLC  N
CHC  NLC  N
PIT  NLC  N
CIN  NLC  N

In [7]:

def sim_rem_games(remain):
    # Generate a random number for each game
    randoms = pd.Series(np.random.rand(len(remain)), index=remain.index)

    # Figure out the winners and losers
    winners = pd.Series(np.where(randoms<remain['rating_prob1'], remain['team1'], remain['team2']))
    losers = pd.Series(np.where(randoms>remain['rating_prob1'], remain['team1'], remain['team2']))

    # Compute and return the standings
    standings = pd.concat([winners.value_counts().rename('W'), losers.value_counts().rename('L')], axis=1)
    for col in standings.columns: # convert to int
        standings[col] = standings[col].fillna(0).astype(int)
    return standings

sim_rem_games(remain)

      W   L
LAD  46  22
SEA  44  22
HOU  43  23
ATL  40  25
MIL  39  27
BOS  38  28
NYM  38  28
TBD  37  30
NYY  37  28
PHI  37  30
CHW  37  29
MIN  36  30
SFG  34  33
COL  34  32
TOR  33  33
STL  32  33
SDP  32  33
CLE  31  37
ANA  30  37
KCR  29  38
ARI  29  38
FLA  29  38
CIN  28  40
BAL  28  39
WSN  28  37
DET  27  39
PIT  26  40
CHC  26  41
TEX  25  43
OAK  22  42

In [8]:
cur_standings = compute_standings(played)
rem_standings = sim_rem_games(remain)
full_standings = cur_standings+rem_standings
full_standings

       W    L
ANA   73   89
ARI   66   96
ATL   94   68
BAL   83   79
BOS   76   86
CHC   66   96
CHW   83   79
CIN   73   89
CLE   83   79
COL   73   89
DET   72   90
FLA   71   91
HOU  110   52
KCR   63   99
LAD  112   50
MIL   87   75
MIN   84   78
NYM   94   68
NYY  100   62
OAK   58  104
PHI   90   72
PIT   65   97
SDP   87   75
SEA   89   73
SFG   88   74
STL   85   77
TBD   81   81
TEX   69   93
TOR   93   69
WSN   62  100

In [9]:
# find playoff teams
def add_playoff_seeds(standings):
    standings['wpct'] = standings['W'] / (standings['W'] + standings['L'])

    # Merge in the div/lg data
    standings['div'] = teams['div']
    standings['lg'] = teams['lg']

    # Rather than model out all the tie-breakers, I'm assuming that they are all random (not exactly true, but close enough),
    # and so I'm just generating a random number for each team, and we break ties by comparing that random num for each of the tied teams.
    # This is *so* much simpler and faster than modeling all the different scenarios.
    # It might be worth modeling them out with 1-2 days left in the season, but for most of the season, I way prefer using the random num to break ties
    standings['rand'] = np.random.rand(len(standings))

    # Now sort, and break ties using the rand
    sorted = standings.sort_values(by=['wpct', 'rand'], ascending=False)

    # div_rank is nice to have, but somewhat expensive to compute
    #standings['div_rank'] = sorted.groupby('div').cumcount()+1
    #standings['div_win'] = standings['div_rank'] == 1

    # Set div_win False as default, then set it True for div winners
    standings['div_win'] = False
    standings.loc[sorted.groupby('div').head(1).index, 'div_win'] = True
    standings['lg_rank'] = standings.sort_values(by=['div_win', 'wpct', 'rand'], ascending=False).groupby('lg').cumcount()+1
    return standings.sort_values(['lg', 'lg_rank'])

     

add_playoff_seeds(full_standings)

       W    L      wpct  div lg      rand  div_win  lg_rank
HOU  110   52  0.679012  ALW  A  0.155751     True        1
NYY  100   62  0.617284  ALE  A  0.148280     True        2
MIN   84   78  0.518519  ALC  A  0.883797     True        3
TOR   93   69  0.574074  ALE  A  0.828437    False        4
SEA   89   73  0.549383  ALW  A  0.519068    False        5
CLE   83   79  0.512346  ALC  A  0.983856    False        6
CHW   83   79  0.512346  ALC  A  0.166627    False        7
BAL   83   79  0.512346  ALE  A  0.126428    False        8
TBD   81   81  0.500000  ALE  A  0.450218    False        9
BOS   76   86  0.469136  ALE  A  0.109783    False       10
ANA   73   89  0.450617  ALW  A  0.482285    False       11
DET   72   90  0.444444  ALC  A  0.986290    False       12
TEX   69   93  0.425926  ALW  A  0.379675    False       13
KCR   63   99  0.388889  ALC  A  0.655654    False       14
OAK   58  104  0.358025  ALW  A  0.027946    False       15
LAD  112   50  0.691358  NLW  N  0.511312     True        1
NYM   94   68  0.580247  NLE  N  0.710855     True        2
MIL   87   75  0.537037  NLC  N  0.716286     True        3
ATL   94   68  0.580247  NLE  N  0.545285    False        4
PHI   90   72  0.555556  NLE  N  0.474223    False        5
SFG   88   74  0.543210  NLW  N  0.837721    False        6
SDP   87   75  0.537037  NLW  N  0.512888    False        7
STL   85   77  0.524691  NLC  N  0.538834    False        8
CIN   73   89  0.450617  NLC  N  0.901390    False        9
COL   73   89  0.450617  NLW  N  0.637837    False       10
FLA   71   91  0.438272  NLE  N  0.291848    False       11
CHC   66   96  0.407407  NLC  N  0.780307    False       12
ARI   66   96  0.407407  NLW  N  0.578863    False       13
PIT   65   97  0.401235  NLC  N  0.320046    False       14
WSN   62  100  0.382716  NLE  N  0.004648    False       15

In [10]:
%%prun -s cumulative # This runs the code profiler, which creates data I can use to find opportunities for me to speed up the code

[add_playoff_seeds(full_standings) for _ in range(1000)]
None # This is to suppress printing the output, which is 1000 lines of the same list of teams

         11604933 function calls (11473933 primitive calls) in 5.866 seconds

   Ordered by: cumulative time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    5.866    5.866 {built-in method builtins.exec}
        1    0.004    0.004    5.866    5.866 <string>:3(<module>)
        1    0.004    0.004    5.862    5.862 <string>:3(<listcomp>)
     1000    0.029    0.000    5.858    0.006 <ipython-input-9-f5dfa596ebf3>:2(add_playoff_seeds)
     3000    0.005    0.000    2.530    0.001 _decorators.py:302(wrapper)
     3000    0.025    0.000    2.522    0.001 frame.py:6269(sort_values)
     3000    0.094    0.000    1.776    0.001 sorting.py:285(lexsort_indexer)
     7000    0.051    0.000    1.296    0.000 categorical.py:365(__init__)
    16000    0.043    0.000    1.252    0.000 frame.py:3463(__getitem__)
     1000    0.005    0.000    1.183    0.001 groupby.py:3040(cumcount)
51000/35000    0.030    0.000    0.892    0.000 groupby.py:908(__getattribute__)
     6000    0.014    0.000    0.752    0.000 frame.py:3630(__setitem__)
     6000    0.012    0.000    0.718    0.000 frame.py:3822(_set_item)
     5000    0.014    0.000    0.691    0.000 managers.py:875(take)
     9000    0.061    0.000    0.687    0.000 algorithms.py:568(factorize)
     8000    0.022    0.000    0.655    0.000 managers.py:634(reindex_indexer)
     2000    0.005    0.000    0.651    0.000 generic.py:3708(_take_with_is_copy)
     2000    0.003    0.000    0.628    0.000 groupby.py:675(_selected_obj)
     2000    0.008    0.000    0.622    0.000 generic.py:3609(take)
     1000    0.002    0.000    0.591    0.001 groupby.py:3487(head)
     6000    0.006    0.000    0.556    0.000 frame.py:4515(_sanitize_column)
    11000    0.039    0.000    0.535    0.000 base.py:672(_with_infer)
     4000    0.008    0.000    0.519    0.000 frame.py:10986(_reindex_for_setitem)
    28000    0.010    0.000    0.505    0.000 dtypes.py:182(__init__)
    28000    0.018    0.000    0.495    0.000 dtypes.py:331(_finalize)
    14000    0.035    0.000    0.467    0.000 dtypes.py:504(validate_categories)
     3000    0.006    0.000    0.460    0.000 series.py:4655(reindex)
     2000    0.031    0.000    0.460    0.000 groupby.py:1699(_cumcount_array)
     3000    0.017    0.000    0.452    0.000 generic.py:4719(reindex)
  2275997    0.299    0.000    0.447    0.000 {built-in method builtins.isinstance}
    32000    0.044    0.000    0.443    0.000 blocks.py:1114(take_nd)
     8000    0.033    0.000    0.432    0.000 base.py:3706(get_indexer)
13000/12000    0.077    0.000    0.410    0.000 base.py:397(__new__)
     4000    0.021    0.000    0.406    0.000 managers.py:692(<listcomp>)
    43000    0.044    0.000    0.396    0.000 take.py:57(take_nd)
     2000    0.009    0.000    0.387    0.000 base.py:5768(_get_indexer_strict)
     5000    0.013    0.000    0.368    0.000 base.py:4109(reindex)
     3000    0.007    0.000    0.355    0.000 generic.py:4970(_reindex_axes)
    43000    0.109    0.000    0.340    0.000 take.py:120(_take_nd_ndarray)
     1000    0.004    0.000    0.337    0.000 groupby.py:3570(_mask_selected_obj)
     5000    0.003    0.000    0.320    0.000 generic.py:5646(_consolidate_inplace)
     1000    0.002    0.000    0.318    0.000 frame.py:3530(_getitem_bool_array)
     5000    0.007    0.000    0.317    0.000 generic.py:5632(_protect_consolidate)
     5000    0.004    0.000    0.307    0.000 generic.py:5650(f)
     2000    0.002    0.000    0.297    0.000 ops.py:832(group_info)
     5000    0.005    0.000    0.295    0.000 managers.py:618(consolidate)
     2000    0.005    0.000    0.295    0.000 ops.py:854(_get_compressed_codes)
     3000    0.005    0.000    0.280    0.000 frame.py:6295(<listcomp>)
     7000    0.023    0.000    0.275    0.000 generic.py:1796(_get_label_or_level_values)
     3000    0.004    0.000    0.272    0.000 common.py:55(new_method)
     2000    0.004    0.000    0.272    0.000 managers.py:1683(_consolidate_inplace)
     1000    0.005    0.000    0.269    0.000 indexing.py:705(__setitem__)
    18998    0.036    0.000    0.265    0.000 series.py:323(__init__)
     9000    0.021    0.000    0.261    0.000 algorithms.py:524(factorize_array)
     3000    0.003    0.000    0.260    0.000 series.py:5637(_arith_method)
     3000    0.014    0.000    0.251    0.000 base.py:1286(_arith_method)
     1000    0.002    0.000    0.249    0.000 indexing.py:121(_make_mask_from_positional_indexer)
     1000    0.005    0.000    0.245    0.000 indexing.py:185(_make_mask_from_slice)
     2000    0.014    0.000    0.243    0.000 managers.py:2074(_consolidate)
     1000    0.001    0.000    0.235    0.000 indexing.py:227(_ascending_count)
    14000    0.018    0.000    0.233    0.000 frame.py:3923(_get_item_cache)
     3000    0.007    0.000    0.231    0.000 sorting.py:271(indexer_from_factorized)
    27000    0.055    0.000    0.229    0.000 base.py:5178(equals)
     2000    0.001    0.000    0.220    0.000 {built-in method builtins.next}
     2000    0.001    0.000    0.220    0.000 groupby.py:998(_group_selection_context)
     1000    0.001    0.000    0.213    0.000 contextlib.py:108(__enter__)
     1000    0.007    0.000    0.211    0.000 groupby.py:958(_set_group_selection)
     3000    0.002    0.000    0.208    0.000 base.py:5744(get_indexer_for)
     4000    0.035    0.000    0.206    0.000 managers.py:713(_slice_take_blocks_ax0)
    11998    0.018    0.000    0.203    0.000 frame.py:3411(_ixs)
     9000    0.030    0.000    0.196    0.000 algorithms.py:1663(safe_sort)
73000/59000    0.090    0.000    0.192    0.000 {built-in method numpy.core._multiarray_umath.implement_array_function}
     7000    0.008    0.000    0.188    0.000 generic.py:3722(xs)
     2000    0.002    0.000    0.179    0.000 arraylike.py:98(__add__)
     1000    0.005    0.000    0.179    0.000 indexing.py:638(_get_setitem_indexer)
    13000    0.128    0.000    0.179    0.000 {pandas._libs.lib.maybe_convert_objects}
     1000    0.003    0.000    0.168    0.000 indexing.py:787(_convert_tuple)
     2000    0.006    0.000    0.165    0.000 indexing.py:1223(_convert_to_indexer)
     2000    0.009    0.000    0.158    0.000 frame.py:7595(groupby)
     9000    0.008    0.000    0.157    0.000 algorithms.py:299(_get_data_algo)
     8000    0.039    0.000    0.154    0.000 managers.py:2091(_merge_blocks)
     2000    0.002    0.000    0.149    0.000 grouper.py:616(codes)
     3000    0.006    0.000    0.149    0.000 series.py:2988(_construct_result)
   614000    0.107    0.000    0.148    0.000 generic.py:43(_check)
     2000    0.003    0.000    0.148    0.000 grouper.py:659(_codes_and_uniques)
     3000    0.011    0.000    0.146    0.000 generic.py:5009(_reindex_with_indexers)
     2000    0.012    0.000    0.144    0.000 groupby.py:839(__init__)
     6000    0.011    0.000    0.141    0.000 frame.py:3797(_set_item_mgr)
     7000    0.015    0.000    0.139    0.000 base.py:7106(_maybe_cast_data_without_dtype)
    18000    0.025    0.000    0.138    0.000 algorithms.py:115(_ensure_data)
     2000    0.003    0.000    0.136    0.000 grouper.py:650(group_index)
    55000    0.135    0.000    0.135    0.000 {method 'reduce' of 'numpy.ufunc' objects}
    46000    0.018    0.000    0.133    0.000 {method 'any' of 'numpy.ndarray' objects}
    14000    0.038    0.000    0.131    0.000 construction.py:470(sanitize_array)
    20000    0.007    0.000    0.131    0.000 base.py:6987(ensure_index)
     1000    0.001    0.000    0.129    0.000 indexing.py:1301(_get_listlike_indexer)
     2000    0.022    0.000    0.129    0.000 grouper.py:700(get_grouper)
     3000    0.046    0.000    0.122    0.000 sorting.py:100(get_group_index)
   152000    0.061    0.000    0.122    0.000 common.py:1587(_is_dtype_type)
     1000    0.003    0.000    0.120    0.000 base.py:3400(difference)
    64000    0.025    0.000    0.116    0.000 base.py:286(is_dtype)
    41000    0.047    0.000    0.115    0.000 _dtype.py:328(_name_get)
    46000    0.012    0.000    0.115    0.000 _methods.py:54(_any)
    43000    0.059    0.000    0.113    0.000 take.py:554(_take_preprocess_indexer_and_fill_value)
    25998    0.061    0.000    0.112    0.000 generic.py:5517(__finalize__)
    18000    0.036    0.000    0.110    0.000 warnings.py:130(filterwarnings)
    18000    0.066    0.000    0.108    0.000 {pandas._libs.lib.infer_dtype}
    72000    0.036    0.000    0.103    0.000 common.py:161(is_object_dtype)
     6000    0.009    0.000    0.103    0.000 frame.py:3790(_iset_item_mgr)
    11998    0.016    0.000    0.100    0.000 frame.py:3906(_box_col_values)
    42000    0.018    0.000    0.091    0.000 common.py:497(is_categorical_dtype)
    15000    0.009    0.000    0.091    0.000 blocks.py:238(fill_value)
     7000    0.008    0.000    0.090    0.000 base.py:2665(hasnans)
    23998    0.075    0.000    0.087    0.000 generic.py:239(__init__)
     6000    0.021    0.000    0.085    0.000 managers.py:1061(iset)
     1000    0.001    0.000    0.082    0.000 arraylike.py:122(__truediv__)
     1000    0.008    0.000    0.079    0.000 base.py:3451(_difference)
    15000    0.014    0.000    0.079    0.000 missing.py:571(na_value_for_dtype)
440998/341998    0.055    0.000    0.078    0.000 {built-in method builtins.len}
     9000    0.007    0.000    0.077    0.000 algorithms.py:289(_get_values_for_rank)
     1000    0.005    0.000    0.076    0.000 indexing.py:1553(_setitem_with_indexer)
    45000    0.016    0.000    0.075    0.000 construction.py:379(extract_array)
    40996    0.039    0.000    0.075    0.000 generic.py:5577(__setattr__)
    53000    0.034    0.000    0.074    0.000 common.py:581(is_dtype_equal)
     9000    0.010    0.000    0.073    0.000 base.py:6004(_should_compare)
     9000    0.018    0.000    0.070    0.000 algorithms.py:308(_check_object_for_strings)
     3000    0.009    0.000    0.070    0.000 sorting.py:661(compress_group_index)
     1000    0.005    0.000    0.070    0.000 indexing.py:1692(_setitem_with_indexer_split_path)
     8000    0.003    0.000    0.069    0.000 base.py:6293(_maybe_cast_listlike_indexer)
     4000    0.025    0.000    0.068    0.000 index_tricks.py:322(__getitem__)
     5000    0.007    0.000    0.067    0.000 {built-in method builtins.sorted}
    24000    0.009    0.000    0.067    0.000 {built-in method builtins.all}
     7000    0.014    0.000    0.066    0.000 dtypes.py:541(update_dtype)
    28000    0.008    0.000    0.062    0.000 managers.py:2079(<lambda>)
    41000    0.022    0.000    0.062    0.000 common.py:1240(is_float_dtype)
   784000    0.060    0.000    0.061    0.000 {built-in method builtins.getattr}
    22000    0.018    0.000    0.061    0.000 missing.py:390(array_equivalent)
     1000    0.004    0.000    0.060    0.000 indexing.py:1848(_setitem_single_column)
     7000    0.022    0.000    0.059    0.000 base.py:1098(take)
    12000    0.016    0.000    0.059    0.000 base.py:554(_dtype_to_subclass)
    31000    0.024    0.000    0.057    0.000 common.py:1274(is_bool_dtype)
     8000    0.008    0.000    0.056    0.000 base.py:3823(_check_indexing_method)
     8000    0.010    0.000    0.055    0.000 base.py:3786(_get_indexer)
    14000    0.017    0.000    0.055    0.000 blocks.py:166(_consolidate_key)
     5000    0.022    0.000    0.052    0.000 sorting.py:618(get_group_index_sorter)
    13000    0.013    0.000    0.052    0.000 numeric.py:289(full)
     6000    0.003    0.000    0.050    0.000 base.py:2652(_isnan)
    41000    0.017    0.000    0.049    0.000 _dtype.py:314(_name_includes_bit_suffix)
    11998    0.031    0.000    0.048    0.000 managers.py:1016(iget)
     9000    0.013    0.000    0.047    0.000 algorithms.py:193(_reconstruct_data)
     6000    0.002    0.000    0.047    0.000 missing.py:66(isna)
     8000    0.024    0.000    0.046    0.000 base.py:2232(is_unique)
     6000    0.003    0.000    0.046    0.000 <__array_function__ internals>:177(vstack)
     6000    0.009    0.000    0.045    0.000 missing.py:149(_isna)
    12000    0.011    0.000    0.045    0.000 blocks.py:2030(new_block_2d)
    17000    0.018    0.000    0.045    0.000 base.py:53(shape)
    17998    0.013    0.000    0.045    0.000 base.py:3577(get_loc)
     5000    0.023    0.000    0.044    0.000 utils.py:249(maybe_convert_indices)
    16000    0.009    0.000    0.044    0.000 <__array_function__ internals>:177(concatenate)
     6000    0.003    0.000    0.043    0.000 generic.py:4952(<genexpr>)
    19000    0.013    0.000    0.042    0.000 series.py:640(name)
   137000    0.028    0.000    0.042    0.000 common.py:1552(get_dtype)
    64000    0.040    0.000    0.040    0.000 {built-in method numpy.empty}
    18000    0.006    0.000    0.039    0.000 base.py:2272(is_boolean)
     3000    0.014    0.000    0.038    0.000 sorting.py:683(_reorder_by_uniques)
    12000    0.021    0.000    0.038    0.000 missing.py:494(_array_equivalent_object)
     3000    0.001    0.000    0.037    0.000 base.py:5265(identical)
     6000    0.006    0.000    0.036    0.000 shape_base.py:222(vstack)
    23000    0.012    0.000    0.035    0.000 common.py:680(is_integer_dtype)
    18000    0.006    0.000    0.035    0.000 re.py:250(compile)
    27000    0.035    0.000    0.035    0.000 {method 'argsort' of 'numpy.ndarray' objects}
     8000    0.035    0.000    0.035    0.000 {method 'get_indexer' of 'pandas._libs.index.IndexEngine' objects}
     3000    0.005    0.000    0.034    0.000 array_ops.py:183(arithmetic_op)
155000/154000    0.034    0.000    0.034    0.000 {built-in method numpy.asarray}
     5000    0.003    0.000    0.033    0.000 base.py:2596(inferred_type)
    18000    0.018    0.000    0.033    0.000 warnings.py:181(_add_filter)
     7000    0.007    0.000    0.032    0.000 dtypes.py:205(_from_values_or_dtype)
     4000    0.032    0.000    0.032    0.000 {method 'factorize' of 'pandas._libs.hashtable.Float64HashTable' objects}
    20000    0.014    0.000    0.032    0.000 numerictypes.py:356(issubdtype)
    13000    0.016    0.000    0.032    0.000 construction.py:695(_try_cast)
     4000    0.004    0.000    0.032    0.000 managers.py:1731(from_array)
    21000    0.021    0.000    0.032    0.000 base.py:654(_simple_new)
   353000    0.032    0.000    0.032    0.000 {built-in method builtins.issubclass}
     3000    0.002    0.000    0.031    0.000 <__array_function__ internals>:177(prod)
     6000    0.009    0.000    0.031    0.000 managers.py:1196(_iset_single)
     7000    0.011    0.000    0.031    0.000 generic.py:1697(_is_label_reference)
     3000    0.031    0.000    0.031    0.000 {method 'factorize' of 'pandas._libs.hashtable.StringHashTable' objects}
   113000    0.021    0.000    0.031    0.000 common.py:147(<lambda>)
    39000    0.018    0.000    0.031    0.000 common.py:1429(is_extension_array_dtype)
     9000    0.012    0.000    0.030    0.000 common.py:229(asarray_tuplesafe)
     3000    0.005    0.000    0.030    0.000 common.py:105(is_bool_indexer)
     1000    0.001    0.000    0.030    0.000 managers.py:331(setitem)
     8000    0.006    0.000    0.030    0.000 common.py:459(is_interval_dtype)
     7000    0.014    0.000    0.029    0.000 sorting.py:143(maybe_lift)
    18000    0.016    0.000    0.029    0.000 re.py:289(_compile)
    19000    0.008    0.000    0.029    0.000 common.py:1721(validate_all_hashable)
     7000    0.004    0.000    0.029    0.000 <__array_function__ internals>:177(where)
     1000    0.004    0.000    0.029    0.000 managers.py:253(apply)
     5000    0.029    0.000    0.029    0.000 {pandas._libs.algos.groupsort_indexer}
     9000    0.015    0.000    0.028    0.000 generic.py:1752(_check_label_or_level_ambiguity)
    99000    0.025    0.000    0.028    0.000 {pandas._libs.lib.is_list_like}
    23996    0.018    0.000    0.028    0.000 base.py:5023(__getitem__)
    91000    0.020    0.000    0.027    0.000 base.py:884(__len__)
    20000    0.007    0.000    0.027    0.000 series.py:687(_values)
     3000    0.004    0.000    0.027    0.000 fromnumeric.py:2970(prod)
    48000    0.009    0.000    0.026    0.000 base.py:55(<genexpr>)
    18000    0.010    0.000    0.026    0.000 base.py:7082(maybe_extract_name)
    15000    0.006    0.000    0.026    0.000 {built-in method builtins.any}
    14000    0.008    0.000    0.026    0.000 <__array_function__ internals>:177(copyto)
    69000    0.018    0.000    0.026    0.000 inference.py:321(is_hashable)
    16000    0.013    0.000    0.025    0.000 blocks.py:1960(maybe_coerce_values)
    17998    0.011    0.000    0.024    0.000 base.py:6284(_maybe_cast_indexer)
     8000    0.008    0.000    0.024    0.000 base.py:5917(_maybe_promote)
     4000    0.002    0.000    0.024    0.000 config.py:255(__call__)
     9000    0.004    0.000    0.024    0.000 base.py:7168(unpack_nested_dtype)
     4000    0.007    0.000    0.023    0.000 blocks.py:2041(new_block)
     3000    0.007    0.000    0.023    0.000 fromnumeric.py:69(_wrapreduction)
     6000    0.010    0.000    0.023    0.000 missing.py:226(_isna_array)
     8000    0.007    0.000    0.023    0.000 dtypes.py:1206(is_dtype)
     8000    0.014    0.000    0.023    0.000 base.py:845(_engine)
     4000    0.002    0.000    0.023    0.000 managers.py:1665(is_consolidated)
     2000    0.007    0.000    0.022    0.000 grouper.py:468(__init__)
     3000    0.005    0.000    0.022    0.000 array_ops.py:134(_na_arithmetic_op)
     5000    0.004    0.000    0.022    0.000 take.py:350(wrapper)
     1000    0.006    0.000    0.022    0.000 blocks.py:896(setitem)
     4000    0.003    0.000    0.022    0.000 config.py:127(_get_option)
     1000    0.001    0.000    0.021    0.000 <__array_function__ internals>:177(setdiff1d)
     6000    0.009    0.000    0.021    0.000 _ufunc_config.py:32(seterr)
    18000    0.019    0.000    0.021    0.000 warnings.py:458(__enter__)
    14000    0.015    0.000    0.021    0.000 categorical.py:766(codes)
     5000    0.010    0.000    0.021    0.000 numeric.py:139(_ensure_array)
     3000    0.021    0.000    0.021    0.000 {method 'get_labels_groupby' of 'pandas._libs.hashtable.Int64HashTable' objects}
     4000    0.006    0.000    0.020    0.000 managers.py:1673(_consolidate_check)
    32000    0.020    0.000    0.020    0.000 blocks.py:267(make_block_same_class)
    35000    0.017    0.000    0.020    0.000 base.py:4973(__contains__)
    11998    0.006    0.000    0.020    0.000 series.py:1238(_set_as_cached)
     6000    0.003    0.000    0.020    0.000 <__array_function__ internals>:177(argsort)
     7000    0.004    0.000    0.020    0.000 cast.py:939(coerce_indexer_dtype)
     7000    0.006    0.000    0.020    0.000 algorithms.py:1352(take)
    20000    0.016    0.000    0.020    0.000 managers.py:1848(internal_values)
     1000    0.003    0.000    0.020    0.000 arraysetops.py:784(setdiff1d)
    24000    0.020    0.000    0.020    0.000 {method 'take' of 'numpy.ndarray' objects}
     2000    0.014    0.000    0.020    0.000 {method '_rebuild_blknos_and_blklocs' of 'pandas._libs.internals.BlockManager' objects}
    16000    0.015    0.000    0.019    0.000 blocks.py:1989(get_block_type)
    19000    0.010    0.000    0.019    0.000 indexing.py:2481(check_deprecated_indexers)
    94000    0.015    0.000    0.019    0.000 {built-in method builtins.hasattr}
    12000    0.019    0.000    0.019    0.000 {pandas._libs.algos.take_1d_int64_int64}
    39000    0.019    0.000    0.019    0.000 cast.py:468(maybe_promote)
     5000    0.006    0.000    0.019    0.000 frame.py:587(__init__)
     5000    0.003    0.000    0.018    0.000 common.py:75(get_op_result_name)
     2000    0.006    0.000    0.018    0.000 base.py:5799(_raise_if_missing)
    10000    0.005    0.000    0.017    0.000 fromnumeric.py:51(_wrapfunc)
    40000    0.012    0.000    0.017    0.000 numerictypes.py:282(issubclass_)

In [11]:
def finish_one_season(incoming_standings, remain):
    rem_standings = sim_rem_games(remain)
    full_standings = incoming_standings+rem_standings
    full_standings = add_playoff_seeds(full_standings)
    return full_standings

finish_one_season(cur_standings, remain)

       W    L      wpct  div lg      rand  div_win  lg_rank
HOU  109   53  0.672840  ALW  A  0.606315     True        1
NYY  100   62  0.617284  ALE  A  0.590844     True        2
MIN   89   73  0.549383  ALC  A  0.728491     True        3
TOR   91   71  0.561728  ALE  A  0.672176    False        4
TBD   86   76  0.530864  ALE  A  0.151823    False        5
BOS   85   77  0.524691  ALE  A  0.993683    False        6
CLE   85   77  0.524691  ALC  A  0.312108    False        7
CHW   85   77  0.524691  ALC  A  0.239516    False        8
SEA   84   78  0.518519  ALW  A  0.436982    False        9
BAL   75   87  0.462963  ALE  A  0.288744    False       10
TEX   74   88  0.456790  ALW  A  0.329313    False       11
ANA   70   92  0.432099  ALW  A  0.910447    False       12
DET   63   99  0.388889  ALC  A  0.198136    False       13
KCR   60  102  0.370370  ALC  A  0.991802    False       14
OAK   56  106  0.345679  ALW  A  0.674319    False       15
LAD  113   49  0.697531  NLW  N  0.596002     True        1
ATL   99   63  0.611111  NLE  N  0.302456     True        2
STL   87   75  0.537037  NLC  N  0.471455     True        3
NYM   98   64  0.604938  NLE  N  0.756649    False        4
SDP   88   74  0.543210  NLW  N  0.797800    False        5
SFG   86   76  0.530864  NLW  N  0.278240    False        6
MIL   84   78  0.518519  NLC  N  0.897563    False        7
PHI   79   83  0.487654  NLE  N  0.946059    False        8
CIN   78   84  0.481481  NLC  N  0.368934    False        9
FLA   75   87  0.462963  NLE  N  0.152732    False       10
ARI   72   90  0.444444  NLW  N  0.962124    False       11
CHC   70   92  0.432099  NLC  N  0.435648    False       12
PIT   66   96  0.407407  NLC  N  0.738636    False       13
COL   62  100  0.382716  NLW  N  0.813715    False       14
WSN   61  101  0.376543  NLE  N  0.099838    False       15

In [12]:

def sim_1_season(incoming_standings, remain, i):
    standings = finish_one_season(incoming_standings, remain)
    standings['iter'] = i
    standings = standings.reset_index().rename(columns={'index': 'team'}).set_index(['team', 'iter'])
    return standings

def sim_n_seasons(incoming_standings, remain, n):
    return pd.concat([sim_1_season(incoming_standings, remain, i) for i in range(n)])

sim_results = sim_n_seasons(cur_standings, remain, 10)
sim_results

             W    L      wpct  div lg      rand  div_win  lg_rank
team iter
HOU  0     107   55  0.660494  ALW  A  0.640564     True        1
NYY  0     102   60  0.629630  ALE  A  0.285363     True        2
MIN  0      87   75  0.537037  ALC  A  0.769988     True        3
TBD  0      90   72  0.555556  ALE  A  0.168951    False        4
TOR  0      89   73  0.549383  ALE  A  0.795296    False        5
...        ...  ...       ...  ... ..       ...      ...      ...
CHC  9      69   93  0.425926  NLC  N  0.881390    False       11
PIT  9      69   93  0.425926  NLC  N  0.684529    False       12
CIN  9      65   97  0.401235  NLC  N  0.363570    False       13
ARI  9      63   99  0.388889  NLW  N  0.526697    False       14
WSN  9      51  111  0.314815  NLE  N  0.052687    False       15

[300 rows x 8 columns]

In [13]:
# Count the number of div/wc/playoff appearances by team from a set of results

# Championship weights by seed position
weights = {i: 1/16 for i in range(1,7)}
weights[1] = 1/8
weights[2] = 1/8

def summarize_sim_results(df_results):
    counts = df_results.query('lg_rank <= 6').reset_index()[['team', 'lg_rank']].value_counts().unstack()
    mean_wins = sim_results.groupby('team')['W'].mean().rename('mean_wins')
    summary = pd.merge(left=mean_wins, right=counts, on='team', how='left')
    for col in counts.columns:
        summary[col] = summary[col].fillna(0).astype(int)    

    summary['div_wins'] = summary[range(1, 4)].sum(axis=1)
    summary['playoffs'] = summary[range(1, 7)].sum(axis=1)
    summary['champ_shares'] = (summary[range(1,7)] * np.array(weights)).sum(axis=1)
    return summary

summarize_sim_results(sim_results)

      mean_wins   1  2  3  4  5  6  div_wins  playoffs  champ_shares
team
ANA        72.4   0  0  0  0  0  0         0         0        0.0000
ARI        68.0   0  0  0  0  0  0         0         0        0.0000
ATL        95.6   0  2  1  4  3  0         3        10        0.7500
BAL        77.2   0  0  0  0  0  0         0         0        0.0000
BOS        81.5   0  0  0  1  0  0         0         1        0.0625
CHC        67.9   0  0  0  0  0  0         0         0        0.0000
CHW        87.0   0  0  4  0  0  1         4         5        0.3125
CIN        67.7   0  0  0  0  0  0         0         0        0.0000
CLE        81.0   0  0  0  0  0  2         0         2        0.1250
COL        69.3   0  0  0  0  0  0         0         0        0.0000
DET        62.1   0  0  0  0  0  0         0         0        0.0000
FLA        75.7   0  0  0  0  0  1         0         1        0.0625
HOU       105.6   8  2  0  0  0  0        10        10        1.2500
KCR        64.5   0  0  0  0  0  0         0         0        0.0000
LAD       108.7  10  0  0  0  0  0        10        10        1.2500
MIL        90.3   0  1  7  0  0  1         8         9        0.6250
MIN        86.2   0  0  6  0  1  1         6         8        0.5000
NYM        99.7   0  7  0  2  1  0         7        10        1.0625
NYY       103.2   2  8  0  0  0  0        10        10        1.2500
OAK        57.9   0  0  0  0  0  0         0         0        0.0000
PHI        85.1   0  0  0  1  0  4         0         5        0.3125
PIT        68.4   0  0  0  0  0  0         0         0        0.0000
SDP        90.7   0  0  0  3  4  1         0         8        0.5000
SEA        88.6   0  0  0  3  2  2         0         7        0.4375
SFG        82.4   0  0  0  0  0  2         0         2        0.1250
STL        85.7   0  0  2  0  2  1         2         5        0.3125
TBD        88.0   0  0  0  1  5  3         0         9        0.5625
TEX        73.7   0  0  0  0  0  0         0         0        0.0000
TOR        91.0   0  0  0  5  2  1         0         8        0.5000
WSN        54.9   0  0  0  0  0  0         0         0        0.0000

In [14]:
#%%prun -s cumulative # This runs the code profiler, which creates data I can use to find opportunities for me to speed up the code

sim_results = sim_n_seasons(cur_standings, remain, 10*1000)
summarize_sim_results(sim_results)

,mean_wins,1,2,3,4,5,6,div_wins,playoffs,champ_shares
team,,,,,,,,,,
ANA,73.1783,0,0,0,0,10,27,0,37,2.3125
ARI,69.9781,0,0,0,0,0,3,0,3,0.1875
ATL,95.3361,140,3883,182,4269,1140,294,4205,9908,870.6875
BAL,75.9739,0,0,0,11,43,141,0,195,12.1875
BOS,81.4086,0,0,0,197,649,1130,0,1976,123.5000
CHC,69.1647,0,0,1,0,0,0,1,1,0.0625
CHW,85.4136,0,8,4048,134,639,1151,4056,5980,374.2500
CIN,68.3898,0,0,0,0,0,0,0,0,0.0000
CLE,82.0930,0,1,1397,61,410,908,1398,2777,173.6250
COL,69.8684,0,0,0,0,0,1,0,1,0.0625
DET,65.6430,0,0,0,0,0,0,0,0,0.0000
FLA,75.9810,0,0,0,2,18,96,0,116,7.2500
HOU,104.2588,4211,5767,13,6,3,0,9991,10000,1248.6250
KCR,65.7849,0,0,0,0,0,0,0,0,0.0000
LAD,107.7892,9625,358,5,8,4,0,9988,10000,1248.9375
MIL,89.1426,4,355,6744,46,433,970,7103,8552,556.9375
MIN,85.8918,0,11,4535,123,607,1069,4546,6345,397.2500
NYM,96.5167,227,5282,200,3233,845,162,5709,9949,966.1250
NYY,105.4281,5785,4163,7,44,1,0,9955,10000,1246.7500
OAK,59.6436,0,0,0,0,0,0,0,0,0.0000
PHI,85.1074,0,68,18,371,1406,2911,86,4774,302.6250
PIT,66.0997,0,0,0,0,0,0,0,0,0.0000
SDP,89.4113,3,8,1,1881,4748,1936,12,8577,536.7500
SEA,85.9962,0,9,0,1331,2627,2432,9,6399,400.5000
SFG,82.6253,0,0,0,109,674,1559,0,2342,146.3750
STL,85.8486,1,46,2849,81,732,2068,2896,5777,364.0000
TBD,86.7899,1,3,0,2082,2815,2126,4,7027,439.4375
TEX,73.6581,0,0,0,3,10,48,0,61,3.8125
TOR,90.4576,3,38,0,6008,2186,968,41,9203,577.7500
WSN,57.1217,0,0,0,0,0,0,0,0,0.0000

In [15]:
sim_results.groupby('iter')['W'].max().median()

109.0

In [16]:
summary = summarize_sim_results(sim_results)
print(summary.to_string())

      mean_wins     1     2     3     4     5     6  div_wins  playoffs  champ_shares
team
ANA     73.1783     0     0     0     0    10    27         0        37        2.3125
ARI     69.9781     0     0     0     0     0     3         0         3        0.1875
ATL     95.3361   140  3883   182  4269  1140   294      4205      9908      870.6875
BAL     75.9739     0     0     0    11    43   141         0       195       12.1875
BOS     81.4086     0     0     0   197   649  1130         0      1976      123.5000
CHC     69.1647     0     0     1     0     0     0         1         1        0.0625
CHW     85.4136     0     8  4048   134   639  1151      4056      5980      374.2500
CIN     68.3898     0     0     0     0     0     0         0         0        0.0000
CLE     82.0930     0     1  1397    61   410   908      1398      2777      173.6250
COL     69.8684     0     0     0     0     0     1         0         1        0.0625
DET     65.6430     0     0     0     0     0     0         0         0        0.0000
FLA     75.9810     0     0     0     2    18    96         0       116        7.2500
HOU    104.2588  4211  5767    13     6     3     0      9991     10000     1248.6250
KCR     65.7849     0     0     0     0     0     0         0         0        0.0000
LAD    107.7892  9625   358     5     8     4     0      9988     10000     1248.9375
MIL     89.1426     4   355  6744    46   433   970      7103      8552      556.9375
MIN     85.8918     0    11  4535   123   607  1069      4546      6345      397.2500
NYM     96.5167   227  5282   200  3233   845   162      5709      9949      966.1250
NYY    105.4281  5785  4163     7    44     1     0      9955     10000     1246.7500
OAK     59.6436     0     0     0     0     0     0         0         0        0.0000
PHI     85.1074     0    68    18   371  1406  2911        86      4774      302.6250
PIT     66.0997     0     0     0     0     0     0         0         0        0.0000
SDP     89.4113     3     8     1  1881  4748  1936        12      8577      536.7500
SEA     85.9962     0     9     0  1331  2627  2432         9      6399      400.5000
SFG     82.6253     0     0     0   109   674  1559         0      2342      146.3750
STL     85.8486     1    46  2849    81   732  2068      2896      5777      364.0000
TBD     86.7899     1     3     0  2082  2815  2126         4      7027      439.4375
TEX     73.6581     0     0     0     3    10    48         0        61        3.8125
TOR     90.4576     3    38     0  6008  2186   968        41      9203      577.7500
WSN     57.1217     0     0     0     0     0     0         0         0        0.0000

In [17]:
# How many games does each team win in each seeding?
sim_results.query('lg_rank <= 6').groupby(['team', 'lg_rank'])['W'].mean().unstack()

lg_rank           1           2          3          4          5          6
team
ANA             NaN         NaN        NaN        NaN  85.300000  84.259259
ARI             NaN         NaN        NaN        NaN        NaN  82.000000
ATL      102.721429   98.212207  94.318681  94.338955  91.138596  88.221088
BAL             NaN         NaN        NaN  88.545455  86.162791  84.560284
BOS             NaN         NaN        NaN  89.837563  87.342065  85.436283
CHC             NaN         NaN  83.000000        NaN        NaN        NaN
CHW             NaN   94.875000  88.425395  88.977612  87.190923  85.485665
CLE             NaN   94.000000  87.476020  88.245902  86.814634  85.126652
COL             NaN         NaN        NaN        NaN        NaN  85.000000
FLA             NaN         NaN        NaN  89.500000  86.888889  84.687500
HOU      106.811921  102.431940  93.615385  96.166667  94.666667        NaN
LAD      108.055481  101.195531  95.800000  96.875000  94.000000        NaN
MIL      100.500000   96.526761  90.271204  90.913043  88.713626  86.668041
MIN             NaN   96.181818  88.748181  88.772358  87.146623  85.546305
NYM      103.140969   98.581598  94.625000  94.680792  91.525444  88.216049
NYY      107.358168  102.855873  94.571429  97.022727  94.000000        NaN
PHI             NaN   94.220588  92.888889  91.849057  89.320057  86.649261
SDP       99.000000   96.750000  93.000000  93.895800  90.135215  87.144628
SEA             NaN   96.555556        NaN  91.268219  88.436620  86.031661
SFG             NaN         NaN        NaN  91.963303  88.651335  86.221937
STL       99.000000   94.956522  89.202878  91.098765  88.416667  86.329787
TBD      100.000000   96.666667        NaN  91.379923  88.356306  86.124647
TEX             NaN         NaN        NaN  86.666667  85.600000  84.020833
TOR      101.000000   98.289474        NaN  92.507656  88.844007  86.605372

In [18]:
# How many wins do teams have in division-winning seasons?
sim_results.query('div_win').groupby('team')['W'].mean()

team
ATL     98.193817
CHC     83.000000
CHW     88.438116
CLE     87.480687
HOU    104.266540
LAD    107.803464
MIL     90.589610
MIN     88.766168
NYM     98.624277
NYY    105.466399
PHI     93.941860
SDP     97.000000
SEA     96.555556
STL     89.297652
TBD     97.500000
TOR     98.487805
Name: W, dtype: float64

In [19]:
# How often do teams win the division when they win 95 games?
finishes = sim_results.query('W>=95').groupby('team').agg(num_seasons=('div_win', len), div_wins=('div_win', sum))
finishes['pct_win'] = finishes['div_wins']/finishes['num_seasons']
finishes

      num_seasons  div_wins   pct_win
team
ATL          5816      3732  0.641678
BOS             6         0  0.000000
CHW            95        95  1.000000
CLE            12        12  1.000000
HOU          9935      9928  0.999295
LAD          9995      9986  0.999100
MIL           903       901  0.997785
MIN           163       163  1.000000
NYM          6943      5186  0.746939
NYY          9969      9932  0.996288
PHI            82        30  0.365854
SDP           946        10  0.010571
SEA           178         8  0.044944
SFG            19         0  0.000000
STL           122       119  0.975410
TBD           293         4  0.013652
TOR          1522        37  0.024310

In [20]:
pads95 = sim_results.query('team=="SDP" and W>=95').reset_index()['iter']
sim_results.query('iter in @pads95 and div=="NLW"').groupby('team')['W'].mean()

team
ARI     69.361522
COL     68.961945
LAD    106.445032
SDP     96.361522
SFG     81.639535
Name: W, dtype: float64