In 2015ish, I spent a lot of time entering my game attendance history into Hardball Passport.  The sources were ticket stubs, photo history, and my memory.  After entering the data, I threw out a lot of paper ticket stubs.  Hardball Passport eventually vanished, losing my history with it.  I did, however, save a couple sheets of player stats in games I attended.  The goal here is to reconstruct the attendance history from these player stats.

Remember, the goal is to reconstruct the set of games that was in Hardball Passport.  This is different than trying to reconstruct my actual attendance history.  For example, if a game was missing in HBP, but I know I attended it, including it here will break the algorithm to reconstruct.

The general design is to iterate a loop, maintaining this data:
* a set of games that are known to be in the HBP history
* a set of games that are known to not be in the HBP history
* a set of games that may be in the HBP history (note that these and the previous two represent the universe of games)
* the HBP player stats for all players in the "possible" games (e.g., with the stats in "known" games removed)

The loop is:
* Identify a games that is known
** Either by memory
** Or by taking a player with 1 games of stats and matching that to a game from their career
* Add that game to the "known" games
* Deduct the stats from that game for all players who played in that game
* For any players who drop to zero games/stats remaining, then all of the remaining games they've played in go from possible to impossible

In [1]:
import pandas as pd

In [2]:
bat = pd.read_csv('~/Dropbox/personal/baseball/hardball_passport/passportplus-20150523-0147-B.csv')
pit = pd.read_csv('~/Dropbox/personal/baseball/hardball_passport/passportplus-20150523-0148-P.csv')

bat

,Name,Teams,G,AB,H,R,RBI,TwoB,ThreeB,HR,TB,BA,OPS
0,Ryan Klesko,SD SF,69,226,58,36,29,13,3,9,104,0.257,0.717
1,Phil Nevin,SD,67,244,76,40,47,14,0,16,138,0.311,0.877
2,Brian Giles,PIT SD,61,219,60,38,26,11,3,8,101,0.274,0.735
3,Trevor Hoffman,SD,58,2,0,0,0,0,0,0,0,0.000,0.000
4,Chase Headley,SD,56,193,49,24,17,19,0,2,74,0.254,0.637
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1738,Ehire Adrianza,SF,1,0,0,0,0,0,0,0,0,0.000,0.000
1739,Juan Acevedo,MIL,1,0,0,0,0,0,0,0,0,0.000,0.000
1740,Jeremy Accardo,SF,1,1,0,0,0,0,0,0,0,0.000,0.000
1741,Tony Abreu,SF,1,4,0,0,0,0,0,0,0,0.000,0.000
1742,David Aardsma,SEA,1,0,0,0,0,0,0,0,0,0.000,0.000

In [3]:
bat['SLG'] = bat['TB']/bat['AB']
bat['OBP'] = bat['OPS'] - bat['SLG']
bat

,Name,Teams,G,AB,H,R,RBI,TwoB,ThreeB,HR,TB,BA,OPS,SLG,OBP
0,Ryan Klesko,SD SF,69,226,58,36,29,13,3,9,104,0.257,0.717,0.460177,0.256823
1,Phil Nevin,SD,67,244,76,40,47,14,0,16,138,0.311,0.877,0.565574,0.311426
2,Brian Giles,PIT SD,61,219,60,38,26,11,3,8,101,0.274,0.735,0.461187,0.273813
3,Trevor Hoffman,SD,58,2,0,0,0,0,0,0,0,0.000,0.000,0.000000,0.000000
4,Chase Headley,SD,56,193,49,24,17,19,0,2,74,0.254,0.637,0.383420,0.253580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1738,Ehire Adrianza,SF,1,0,0,0,0,0,0,0,0,0.000,0.000,NaN,NaN
1739,Juan Acevedo,MIL,1,0,0,0,0,0,0,0,0,0.000,0.000,NaN,NaN
1740,Jeremy Accardo,SF,1,1,0,0,0,0,0,0,0,0.000,0.000,0.000000,0.000000
1741,Tony Abreu,SF,1,4,0,0,0,0,0,0,0,0.000,0.000,0.000000,0.000000
1742,David Aardsma,SEA,1,0,0,0,0,0,0,0,0,0.000,0.000,NaN,NaN

In [4]:
bat.sum()

Name      Ryan KleskoPhil NevinBrian GilesTrevor Hoffman...
Teams     SD SFSDPIT SDSDSDSDSD SDNMIL SDSDSDSD MIL ATLS...
G                                                      5979
AB                                                    14077
H                                                      3519
R                                                      1665
RBI                                                    1600
TwoB                                                    638
ThreeB                                                   98
HR                                                      367
TB                                                     5454
BA                                                  289.327
OPS                                                 725.802
SLG                                              436.457239
OBP                                              289.344761
dtype: object

In [5]:
pit.sum()

Name       Trevor HoffmanScott LinebrinkLuke GregersonJoe...
Teams      SDSD MIL ATLSDSD ARZSDSDSD SFNSD MIASD SDNSDSD...
G                                                       1653
IP                                                    3576.6
W                                                        206
L                                                        206
SV                                                       110
H                                                       3598
ER                                                      1545
K                                                       3034
BB                                                      1385
Pitches                                                44740
ERA                                                 63561.09
WHIP                                                1136.057
dtype: object

In [6]:
44740/3576.6

12.509086842252419

# Data Cleaning

Need to clean both the HBP data and the retrosheet/bd data.  Column names matching, etc.

In [7]:
yrs = range(1986, 2016)
len(yrs)

30

In [8]:
def get_pitchers(yrs):
    """ Retrieve a DF of all pitchers and their names/IDs who pitched in a range of years"""
    df = pd.read_parquet('../data/bd/pitching.parquet')
    pitcher_list = df[df.year_id.isin(yrs)].player_id.unique()
    
    ppl = pd.read_parquet('../data/bd/people.parquet')[['player_id', 'name_first', 'name_last', 'retro_id']]
    pitchers = ppl[ppl.player_id.isin(pitcher_list)].copy()
    pitchers['display_name'] = pitchers['name_first'] + ' ' + pitchers['name_last']
    name_counts = pitchers.groupby('display_name')['retro_id'].count()
    dup_names = name_counts[name_counts>1].index.values
    pitchers['dup_name'] = pitchers.display_name.isin(dup_names)
    return pitchers

In [9]:
pitchers = get_pitchers(yrs)
len(pitchers)

3751

In [10]:
pitchers

       player_id name_first   name_last  retro_id       display_name  dup_name
0      aardsda01      David     Aardsma  aardd001      David Aardsma     False
3       aasedo01        Don        Aase  aased001           Don Aase     False
5       abadfe01   Fernando        Abad  abadf001      Fernando Abad     False
14     abbotji01        Jim      Abbott  abboj001         Jim Abbott     False
16     abbotky01       Kyle      Abbott  abbok001        Kyle Abbott     False
...          ...        ...         ...       ...                ...       ...
19847  zimmejo02     Jordan  Zimmermann  zimmj003  Jordan Zimmermann     False
19851   zinkch01    Charlie        Zink  zinkc001       Charlie Zink     False
19860   zitoba01      Barry        Zito  zitob001         Barry Zito     False
19870  zumayjo01       Joel      Zumaya  zumaj001        Joel Zumaya     False
19877   zychto01       Tony        Zych  zycht001          Tony Zych     False

[3751 rows x 6 columns]

In [11]:
pit[~pit.Name.isin(pitchers.display_name)]

,Name,Teams,G,IP,W,L,SV,H,ER,K,BB,Pitches,ERA,WHIP
137,Tom Layne,SD,3,1.1,0,0,0,2,1,2,1,22,6.75,2.250
138,Hong-Chih Kuo,LAD,3,4.0,0,0,0,1,0,2,3,54,0.00,1.000
177,Alexander Torres,SD,2,0.2,0,0,0,1,1,0,2,18,13.50,4.500
249,J.P. Howell,LAD TB,2,3.0,0,1,0,1,0,5,0,15,0.00,0.333
285,Andrew Carpenter,SD,2,2.0,0,0,0,2,2,4,2,24,9.00,2.000
352,J.J. Trujillo,SD,1,1.1,0,0,0,2,2,1,3,33,13.50,3.750
426,J.J. Putz,ARZ,1,1.0,0,0,1,1,0,1,0,9,0.00,1.000
458,Leo Nunez,FLA,1,0.2,0,0,1,1,0,0,0,8,0.00,1.500
495,T.J. Mathews,STL,1,1.0,1,0,0,1,0,2,0,3,0.00,1.000
554,Guillermo Hernandez,DET,1,0.2,0,0,0,0,0,0,0,6,0.00,0.000
571,Juan Gutierrez,SF,1,1.1,0,0,0,1,0,1,1,13,0.00,1.500
603,Michael Dunn,ATL,1,0.1,0,0,0,0,0,0,0,5,0.00,0.000
613,R.A. Dickey,NYM,1,7.0,0,1,0,5,2,9,3,71,2.57,1.143
621,Samuel Deduno,SD,1,1.0,0,0,0,1,0,1,1,21,0.00,2.000
622,Jorge De la Rosa,COL,1,6.0,0,0,0,7,2,7,4,63,3.00,1.833
632,Manuel Corpas,CHC,1,1.0,0,0,0,1,0,1,0,5,0.00,1.000
689,R.J. Alvarez,SD,1,1.0,0,0,0,0,0,3,0,0,0.00,0.000

In [12]:
(pit.Name.isin(pitchers.display_name)).value_counts()

True     679
False     17
Name: Name, dtype: int64

In [13]:
pitchers[~pitchers['dup_name']]

       player_id name_first   name_last  retro_id       display_name  dup_name
0      aardsda01      David     Aardsma  aardd001      David Aardsma     False
3       aasedo01        Don        Aase  aased001           Don Aase     False
5       abadfe01   Fernando        Abad  abadf001      Fernando Abad     False
14     abbotji01        Jim      Abbott  abboj001         Jim Abbott     False
16     abbotky01       Kyle      Abbott  abbok001        Kyle Abbott     False
...          ...        ...         ...       ...                ...       ...
19847  zimmejo02     Jordan  Zimmermann  zimmj003  Jordan Zimmermann     False
19851   zinkch01    Charlie        Zink  zinkc001       Charlie Zink     False
19860   zitoba01      Barry        Zito  zitob001         Barry Zito     False
19870  zumayjo01       Joel      Zumaya  zumaj001        Joel Zumaya     False
19877   zychto01       Tony        Zych  zycht001          Tony Zych     False

[3678 rows x 6 columns]

In [14]:
def compute_IPouts(IP):
    return round(round(IP)*3 + 10*(IP%1))

[int(compute_IPouts(ip)) for ip in [8.1, 0.2, 1.2, 38.1]]

[25, 2, 5, 115]

In [15]:
cols = ['player_id', 'retro_id', 'Name', 'Teams', 'G', 'IPouts', 'W', 'L', 'SV', 'H', 'ER', 'K', 'BB', 'Pitches']
pit['IPouts'] = compute_IPouts(pit['IP']).apply(int)
pit_stats = pd.merge(left=pitchers[~pitchers['dup_name']], right=pit, left_on='display_name', right_on='Name')[cols]

pit_stats

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches
0,aardsda01,aardd001,David Aardsma,SEA,1,2,0,1,0,2,2,0,1,21
1,accarje01,accaj001,Jeremy Accardo,SF,1,4,0,0,0,0,0,1,2,16
2,acevejo01,acevj002,Jose Acevedo,CIN COL,3,20,0,2,0,13,10,3,7,126
3,aceveju01,acevj001,Juan Acevedo,MIL,1,6,0,0,0,2,0,2,0,16
4,adamsmi03,adamm001,Mike Adams,MIL SD,12,39,1,0,0,7,1,12,5,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,wrighja02,wrigj002,Jaret Wright,SD ATL,2,5,0,2,0,5,6,1,6,62
664,youngch03,younc003,Chris Young,SD,6,114,3,1,0,13,7,38,13,376
665,zieglbr01,ziegb001,Brad Ziegler,ARZ,2,4,0,0,0,2,1,1,1,16
666,zimmejo01,zimmj002,Jordan Zimmerman,SEA,1,0,0,0,0,0,0,0,1,5
667,zitoba01,zitob001,Barry Zito,SF,2,27,0,1,0,8,6,10,4,113

OK, this is our starting point.  A table with pitching counting stats matching the retro dailies,
with IDs.  It's a subset of pitchers, only those whose names resolved easily; but the algorithm 
will work the same (the pitchers who didn't resolve are essentially just missing from our universe).

Still to clean up:
* column headers match retro
* Teams

In [16]:
import boxball_loader as bbl

df_dailies = bbl.load_dailies(game_types=bbl.GameType.ALL)

#df_dailies = pd.read_parquet('../data/mine/daily.parquet')
df_dailies

,game_id,game_dt,game_ct,appearance_dt,team_id,player_id,slot_ct,seq_ct,home_fl,opponent_id,...,f_rf_out,f_rf_tc,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp,yr,game_type,team_game_number
0,ALS193307060,1933-07-06,0,1933-07-06,ALS,avere101,9,3,True,NLS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1933,ASG,1
1,ALS193307060,1933-07-06,0,1933-07-06,ALS,chapb102,1,1,True,NLS,...,3.0,1.0,1.0,0.0,0.0,0,0.0,1933,ASG,1
2,ALS193307060,1933-07-06,0,1933-07-06,ALS,cronj101,7,1,True,NLS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1933,ASG,1
3,ALS193307060,1933-07-06,0,1933-07-06,ALS,crowg102,9,2,True,NLS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1933,ASG,1
4,ALS193307060,1933-07-06,0,1933-07-06,ALS,dykej101,6,1,True,NLS,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1933,ASG,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5198794,WS4187205170,1872-05-17,0,1872-05-17,WS4,hollh101,1,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198795,WS4187205170,1872-05-17,0,1872-05-17,WS4,lennb101,3,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198796,WS4187205170,1872-05-17,0,1872-05-17,WS4,mince101,2,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198797,WS4187205170,1872-05-17,0,1872-05-17,WS4,steab101,9,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7
5198798,WS4187205170,1872-05-17,0,1872-05-17,WS4,whitw102,7,1,True,WS3,...,0.0,0.0,0.0,0.0,0.0,0,0.0,1872,RS,7

In [17]:
pit_stats

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches
0,aardsda01,aardd001,David Aardsma,SEA,1,2,0,1,0,2,2,0,1,21
1,accarje01,accaj001,Jeremy Accardo,SF,1,4,0,0,0,0,0,1,2,16
2,acevejo01,acevj002,Jose Acevedo,CIN COL,3,20,0,2,0,13,10,3,7,126
3,aceveju01,acevj001,Juan Acevedo,MIL,1,6,0,0,0,2,0,2,0,16
4,adamsmi03,adamm001,Mike Adams,MIL SD,12,39,1,0,0,7,1,12,5,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,wrighja02,wrigj002,Jaret Wright,SD ATL,2,5,0,2,0,5,6,1,6,62
664,youngch03,younc003,Chris Young,SD,6,114,3,1,0,13,7,38,13,376
665,zieglbr01,ziegb001,Brad Ziegler,ARZ,2,4,0,0,0,2,1,1,1,16
666,zimmejo01,zimmj002,Jordan Zimmerman,SEA,1,0,0,0,0,0,0,0,1,5
667,zitoba01,zitob001,Barry Zito,SF,2,27,0,1,0,8,6,10,4,113

In [18]:
pit_stats.set_index('retro_id')

,player_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches
retro_id,,,,,,,,,,,,,
aardd001,aardsda01,David Aardsma,SEA,1,2,0,1,0,2,2,0,1,21
accaj001,accarje01,Jeremy Accardo,SF,1,4,0,0,0,0,0,1,2,16
acevj002,acevejo01,Jose Acevedo,CIN COL,3,20,0,2,0,13,10,3,7,126
acevj001,aceveju01,Juan Acevedo,MIL,1,6,0,0,0,2,0,2,0,16
adamm001,adamsmi03,Mike Adams,MIL SD,12,39,1,0,0,7,1,12,5,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...
wrigj002,wrighja02,Jaret Wright,SD ATL,2,5,0,2,0,5,6,1,6,62
younc003,youngch03,Chris Young,SD,6,114,3,1,0,13,7,38,13,376
ziegb001,zieglbr01,Brad Ziegler,ARZ,2,4,0,0,0,2,1,1,1,16
zimmj002,zimmejo01,Jordan Zimmerman,SEA,1,0,0,0,0,0,0,0,1,5
zitob001,zitoba01,Barry Zito,SF,2,27,0,1,0,8,6,10,4,113

In [19]:
pit_col_mapper = \
{'p_g': 'G',
 'p_w': 'W',
 'p_l': 'L',
 'p_sv': 'SV',
 'p_out': 'IPouts',
 'p_er': 'ER',
 'p_h': 'H',
 'p_bb': 'BB',
 'p_so': 'K',
 'p_pitch': 'Pitches'}
pit_col_mapper

{'p_g': 'G',
 'p_w': 'W',
 'p_l': 'L',
 'p_sv': 'SV',
 'p_out': 'IPouts',
 'p_er': 'ER',
 'p_h': 'H',
 'p_bb': 'BB',
 'p_so': 'K',
 'p_pitch': 'Pitches'}

In [20]:
def get_dailies(yrs):
    df = df_dailies
    dailies = df[(df['yr'].isin(yrs)) & (df['p_g']>0)]

    pit_col_mapper = \
        {'p_g': 'G',
         'p_w': 'W',
         'p_l': 'L',
         'p_sv': 'SV',
         'p_out': 'IPouts',
         'p_er': 'ER',
         'p_h': 'H',
         'p_bb': 'BB',
         'p_so': 'K',
         'p_pitch': 'Pitches',
         'player_id': 'retro_id'}
    cols=['game_id', 'team_id'] + list(pit_col_mapper.values())
    
    return dailies.rename(columns=pit_col_mapper)[cols]

In [21]:
dailies = get_dailies(yrs)
dailies

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
1049,ALS198707140,ALS,1,0,0,0,8,0.0,2,0.0,1.0,NaN,henkt001
1050,ALS198707140,ALS,1,0,1,0,6,2.0,3,0.0,3.0,NaN,howej001
1052,ALS198707140,ALS,1,0,0,0,6,0.0,0,0.0,3.0,NaN,langm001
1055,ALS198707140,ALS,1,0,0,0,6,0.0,1,1.0,2.0,NaN,morrj001
1058,ALS198707140,ALS,1,0,0,0,3,0.0,0,0.0,1.0,NaN,plesd001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5061322,WAS201509280,CIN,1,0,0,0,3,1.0,2,0.0,2.0,22.0,diazj005
5061323,WAS201509280,CIN,1,0,1,0,15,3.0,8,2.0,3.0,83.0,finnb001
5061325,WAS201509280,CIN,1,0,0,0,3,1.0,1,0.0,1.0,15.0,parrm001
5061336,WAS201509280,WAS,1,1,0,0,24,1.0,2,3.0,10.0,113.0,schem001
5061338,WAS201509280,WAS,1,0,0,0,3,0.0,1,0.0,0.0,6.0,thorm001

# Building Blocks for the algorithm

### Find a game (in dailies) from a statline

In [22]:
pit_stats[pit_stats['G']==1].sort_values('K')

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches
0,aardsda01,aardd001,David Aardsma,SEA,1,2,0,1,0,2,2,0,1,21
295,krolia01,kroli001,Ian Krol,DET,1,2,0,0,0,1,1,0,0,10
309,leipeda01,leipd001,Dave Leiper,OAK,1,3,0,0,0,1,0,0,1,10
312,lewisji02,lewij002,Jim Lewis,SD,1,2,0,0,0,0,0,0,2,20
320,loeweca01,loewc001,Carlton Loewer,SD,1,6,0,1,0,7,6,0,1,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,matzety01,matzt001,Tyler Matzek,COL,1,18,0,1,0,9,5,9,2,56
524,scherma01,schem001,Max Scherzer,DET,1,16,0,1,0,4,4,10,3,58
240,hernafe02,hernf002,Felix Hernandez,SEA,1,21,1,0,0,7,1,10,1,49
511,sabatcc01,sabac001,CC Sabathia,CLE,1,24,1,0,0,4,0,11,2,68
530,scottmi03,scotm001,Mike Scott,HOU,1,25,0,1,0,8,3,14,0,0

In [23]:
pit_stats.loc[530]

player_id     scottmi03
retro_id       scotm001
Name         Mike Scott
Teams               HOU
G                     1
IPouts               25
W                     0
L                     1
SV                    0
H                     8
ER                    3
K                    14
BB                    0
Pitches               0
Name: 530, dtype: object

In [24]:
mike_scott = pit_stats[pit_stats['player_id']=='scottmi03']
mike_scott

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches
530,scottmi03,scotm001,Mike Scott,HOU,1,25,0,1,0,8,3,14,0,0

In [25]:
def find_daily(dailies, stat_line):
    match_cols = ['retro_id', 'G', 'IPouts', 'W', 'L', 'SV', 'H', 'ER', 'K', 'BB']
    matches = pd.merge(left=stat_line, right=dailies, on=match_cols )
    return matches

In [26]:
find_daily(dailies, mike_scott)

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches_x,game_id,team_id,Pitches_y
0,scottmi03,scotm001,Mike Scott,HOU,1,25,0,1,0,8,3,14,0,0,SDN198609140,HOU,NaN

### Subtract a game's dailies from a stat DF
#### Start by subtracting a player's daily from their own statline
#### then scale

In [27]:
dailies[dailies['game_id']=='SDN198609140']

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
4133033,SDN198609140,SDN,1,0,0,0,21,2.0,7,4.0,1.0,NaN,hawka001
4133036,SDN198609140,SDN,1,1,0,0,6,0.0,1,1.0,1.0,NaN,leffc001
4133050,SDN198609140,HOU,1,0,1,0,25,3.0,8,0.0,14.0,NaN,scotm001

In [28]:
dailies.loc[4059874]

game_id     PIT200608270
team_id              PIT
G                      1
W                      0
L                      1
SV                     0
IPouts                13
ER                   5.0
H                      6
BB                   4.0
K                    3.0
Pitches             78.0
retro_id        chacs001
Name: 4059874, dtype: object

In [29]:
hawk = pit_stats[pit_stats['retro_id']=='hawka001']
hawk

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches
229,hawkian01,hawka001,Andy Hawkins,SD,2,40,0,0,0,10,3,7,5,0

In [30]:
d = dailies[(dailies['game_id']=='SDN198609140')&(dailies['retro_id']=='hawka001')]
d

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
4133033,SDN198609140,SDN,1,0,0,0,21,2.0,7,4.0,1.0,NaN,hawka001

In [31]:
match_cols = ['G', 'IPouts', 'W', 'L', 'SV', 'H', 'ER', 'K', 'BB']
d.set_index('retro_id')[match_cols]

          G  IPouts  W  L  SV  H   ER    K   BB
retro_id
hawka001  1      21  0  0   0  7  2.0  1.0  4.0

In [32]:
hawk.set_index('retro_id')

,player_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches
retro_id,,,,,,,,,,,,,
hawka001,hawkian01,Andy Hawkins,SD,2,40,0,0,0,10,3,7,5,0

In [33]:
hawk.set_index('retro_id')[match_cols] - d.set_index('retro_id')[match_cols]

          G  IPouts  W  L  SV  H   ER    K   BB
retro_id
hawka001  1      19  0  0   0  3  1.0  6.0  1.0

# Execute the Algorithm

### Likely starting out manually, iterating manually, but calling the building block functions

In [34]:
pit_stats[pit_stats['G']==1].sort_values('K')

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches
0,aardsda01,aardd001,David Aardsma,SEA,1,2,0,1,0,2,2,0,1,21
295,krolia01,kroli001,Ian Krol,DET,1,2,0,0,0,1,1,0,0,10
309,leipeda01,leipd001,Dave Leiper,OAK,1,3,0,0,0,1,0,0,1,10
312,lewisji02,lewij002,Jim Lewis,SD,1,2,0,0,0,0,0,0,2,20
320,loeweca01,loewc001,Carlton Loewer,SD,1,6,0,1,0,7,6,0,1,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,matzety01,matzt001,Tyler Matzek,COL,1,18,0,1,0,9,5,9,2,56
524,scherma01,schem001,Max Scherzer,DET,1,16,0,1,0,4,4,10,3,58
240,hernafe02,hernf002,Felix Hernandez,SEA,1,21,1,0,0,7,1,10,1,49
511,sabatcc01,sabac001,CC Sabathia,CLE,1,24,1,0,0,4,0,11,2,68
530,scottmi03,scotm001,Mike Scott,HOU,1,25,0,1,0,8,3,14,0,0

In [35]:
pit_stats[pit_stats['G']==1].head(10).apply(lambda row: find_daily(dailies, pd.DataFrame(row).T), axis=1)

0        player_id  retro_id           Name Teams  G...
1        player_id  retro_id            Name Teams  ...
3        player_id  retro_id          Name Teams  G ...
6        player_id  retro_id        Name Teams  G IP...
8        player_id  retro_id         Name Teams  G I...
9        player_id  retro_id             Name Teams ...
11       player_id  retro_id        Name Teams  G IP...
12       player_id  retro_id             Name Teams ...
14    Empty DataFrame
Columns: [player_id, retro_id,...
15       player_id  retro_id            Name Teams  ...
dtype: object

In [36]:
find_daily(dailies, pit_stats[pit_stats['G']==1].head(10))

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches_x,game_id,team_id,Pitches_y
0,aardsda01,aardd001,David Aardsma,SEA,1,2,0,1,0,2,2,0,1,21,SDN201006110,SEA,21.0
1,accarje01,accaj001,Jeremy Accardo,SF,1,4,0,0,0,0,0,1,2,16,SDN200509270,SFN,19.0
2,aceveju01,acevj001,Juan Acevedo,MIL,1,6,0,0,0,2,0,2,0,16,LAN199507010,COL,33.0
3,aceveju01,acevj001,Juan Acevedo,MIL,1,6,0,0,0,2,0,2,0,16,MIL200005050,MIL,25.0
4,aceveju01,acevj001,Juan Acevedo,MIL,1,6,0,0,0,2,0,2,0,16,SDN200009060,MIL,24.0
5,adkinjo01,adkij001,Jon Adkins,SD,1,3,0,0,0,2,1,0,0,23,ARI200609290,SDN,12.0
6,adkinjo01,adkij001,Jon Adkins,SD,1,3,0,0,0,2,1,0,0,23,SDN200608020,SDN,21.0
7,adkinjo01,adkij001,Jon Adkins,SD,1,3,0,0,0,2,1,0,0,23,SDN200608160,SDN,23.0
8,adkinjo01,adkij001,Jon Adkins,SD,1,3,0,0,0,2,1,0,0,23,SFN200607210,SDN,16.0
9,alberma01,albem001,Matt Albers,CLE,1,1,0,0,0,2,2,0,0,10,DET201308310,CLE,10.0
10,albural01,albua001,Al Alburquerque,DET,1,1,0,0,0,0,0,1,0,0,DET201405250,DET,5.0
11,albural01,albua001,Al Alburquerque,DET,1,1,0,0,0,0,0,1,0,0,MIN201304040,DET,6.0
12,albural01,albua001,Al Alburquerque,DET,1,1,0,0,0,0,0,1,0,0,SDN201404130,DET,5.0
13,allenco01,allec002,Cody Allen,CLE,1,1,0,0,0,1,2,1,0,4,DET201308310,CLE,8.0
14,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,ARI200507070,ARI,1.0
15,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,CIN200005260,FLO,2.0
16,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,FLO200009100,FLO,3.0
17,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,FLO200205280,FLO,2.0
18,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,FLO200304080,FLO,3.0
19,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,FLO200304120,FLO,5.0
20,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,NYN200107180,FLO,3.0
21,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,NYN200205270,FLO,3.0
22,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,PIT200006170,FLO,3.0
23,almanar01,almaa001,Armando Almanza,ARZ,1,1,0,0,0,0,0,0,0,2,SDN200507150,ARI,2.0
24,anderbr04,andeb004,Brett Anderson,OAK,1,18,1,0,0,6,0,4,0,91,SEA201209080,OAK,108.0

In [37]:
find_daily(dailies, pd.DataFrame(pit_stats[pit_stats['G']==1].loc[0]).T)

,player_id,retro_id,Name,Teams,G,IPouts,W,L,SV,H,ER,K,BB,Pitches_x,game_id,team_id,Pitches_y
0,aardsda01,aardd001,David Aardsma,SEA,1,2,0,1,0,2,2,0,1,21,SDN201006110,SEA,21.0

In [38]:
matches = find_daily(dailies, pit_stats[pit_stats['G']==1])
match_counts = matches.groupby('retro_id').agg({'player_id': len, 'game_id': min}).rename(columns={'player_id': 'count'})
match_counts

          count       game_id
retro_id
aardd001      1  SDN201006110
accaj001      1  SDN200509270
acevj001      3  LAN199507010
adkij001      4  ARI200609290
albem001      1  DET201308310
...         ...           ...
willr003      6  BOS200908270
wisem001      1  SDN200406060
wolfr001      1  SDN201005020
worrt001     13  ATL199704290
zimmj002      1  SDN199906050

[320 rows x 2 columns]

In [39]:
known_attended = match_counts[match_counts['count']==1].game_id.unique()
known_attended

array(['SDN201006110', 'SDN200509270', 'DET201308310', 'SEA201209080',
       'SDN200906300', 'SDN201009240', 'SDN200006160', 'SDN200110060',
       'SDN200706190', 'SDN200405160', 'SDN200608160', 'SDN199609210',
       'DET199806180', 'SDN199308062', 'SDN201005260', 'LAN199807120',
       'SDN201209300', 'CLE200806270', 'SDN200604300', 'SDN200505160',
       'SDN200908010', 'SDN200409080', 'SFN199609180', 'TOR200508050',
       'SDN201205040', 'SDN200404280', 'SDN200509080', 'SDN200207130',
       'SDN200104250', 'OAK199505080', 'SDN200110070', 'SDN201306240',
       'SDN201008260', 'TOR200508060', 'SDN200010010', 'SDN200408170',
       'SDN200609230', 'SDN201307140', 'SDN201008270', 'SDN201206050',
       'SDN199407060', 'SDN200705110', 'SDN200309050', 'SDN200108050',
       'SDN201304220', 'SDN201109050', 'SDN200007160', 'SDN201005020',
       'SDN201308180', 'CHN199806230', 'SDN200409240', 'SDN199906080',
       'SEA199608100', 'SDN199909200', 'SDN199707050', 'SDN201405250',
       'ATL201008060', 'SDN200409290', 'SDN201404190', 'SDN201209150',
       'SDN201104230', 'SDN200406060', 'SDN199807050', 'SDN200610050',
       'SDN200904060', 'SDN198704180', 'SDN200708040', 'SDN199109220',
       'SDN200006110', 'SDN200106160', 'SDN201204050', 'SDN200404180',
       'SDN200104290', 'SLN200707270', 'SDN200706220', 'SDN200505010',
       'SDN201007290', 'SDN200206210', 'SDN200308100', 'SDN200408050',
       'SDN200408040', 'SDN200007010', 'SDN200204080', 'NYN198704250',
       'SDN200306200', 'SDN200309250', 'SDN201308030', 'SDN200605060',
       'SDN199610050', 'SDN201204100', 'SDN200805210', 'SDN201205200',
       'SDN200304060', 'SDN201504120', 'SDN200504070', 'NYN200809132',
       'SDN199308061', 'SFN199706230', 'SDN200408060', 'SDN198806130',
       'SDN201309260', 'SDN200609220', 'SDN201105230', 'SDN201109270',
       'NYN200809131', 'SDN200406040', 'SDN201204220', 'SDN200105260',
       'SDN199904190', 'SDN198609140', 'SDN200305310', 'SDN200407110',
       'SDN200109030', 'SDN200409220', 'SDN200205190', 'SDN198607300',
       'DET198808040', 'SDN200510080', 'SDN200406190', 'CIN200407180',
       'SDN200706230', 'SDN201304230', 'SDN200506090', 'SDN200504190',
       'SDN199906050'], dtype=object)

In [40]:
def aggregate_dailies(dailies, game_ids, pitchers):
    match_cols = ['G', 'IPouts', 'W', 'L', 'SV', 'H', 'ER', 'K', 'BB']
    known_gm_stats = dailies.query('game_id in @game_ids and retro_id in @pitchers').groupby('retro_id')[match_cols].sum()
    return known_gm_stats

known_gm_stats = aggregate_dailies(dailies, known_attended, pit_stats.retro_id)
known_gm_stats

          G  IPouts  W  L  SV   H    ER     K   BB
retro_id
aardd001  1       2  0  1   0   2   2.0   0.0  1.0
accaj001  1       4  0  0   0   0   0.0   1.0  2.0
acevj002  3      20  0  2   0  13  10.0   3.0  7.0
adamm001  8      28  0  0   0   4   1.0   9.0  3.0
adamt001  2       4  0  1   0   4   3.0   1.0  0.0
...      ..     ... .. ..  ..  ..   ...   ...  ...
wrigj002  2       5  0  2   0   5   6.0   1.0  6.0
younc003  4      69  2  1   0   9   6.0  20.0  9.0
ziegb001  1       2  0  0   0   2   1.0   1.0  1.0
zimmj002  1       0  0  0   0   0   0.0   0.0  1.0
zitob001  2      27  0  1   0   8   6.0  10.0  4.0

[570 rows x 9 columns]

In [41]:
these_dailies = dailies[dailies.game_id.isin(known_attended)]
these_dailies

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
208183,ATL201008060,ATL,1,0,0,0,1,0.0,0,0.0,0.0,5.0,dunnm002
208186,ATL201008060,ATL,1,0,0,0,21,1.0,3,2.0,3.0,102.0,hanst001
208192,ATL201008060,ATL,1,0,1,0,5,1.0,1,4.0,0.0,33.0,moylp001
208193,ATL201008060,ATL,1,0,0,0,3,0.0,0,1.0,1.0,10.0,ventj001
208194,ATL201008060,ATL,1,0,0,0,3,0.0,0,1.0,0.0,16.0,wagnb001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5000554,TOR200508060,TOR,1,1,0,0,7,0.0,1,2.0,1.0,34.0,walkp001
5000559,TOR200508060,NYA,1,0,0,0,3,0.0,0,0.0,0.0,14.0,franw001
5000562,TOR200508060,NYA,1,0,1,0,12,5.0,10,1.0,3.0,75.0,johnr005
5000565,TOR200508060,NYA,1,0,0,0,8,2.0,4,0.0,3.0,49.0,procs001
5000567,TOR200508060,NYA,1,0,0,0,1,0.0,0,0.0,0.0,4.0,rodrf002

In [42]:
these_dailies.retro_id.isin(pit_stats.retro_id).value_counts()

True     1006
False      25
Name: retro_id, dtype: int64

Why are there 25 entries that don't show up in my pitchers seen, when looking at games that are *known* to be in the dataset?

Oh, could these be the guys with ambiguous name matching, who we removed from our "universe"?

Yep.  Maybe we should trim the dailies earlier, for the pitchers in our known universe.

In [43]:
these_dailies[~these_dailies.retro_id.isin(pit_stats.retro_id)]

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
208183,ATL201008060,ATL,1,0,0,0,1,0.0,0,0.0,0.0,5.0,dunnm002
2047763,DET198808040,DET,1,0,0,0,2,0.0,0,0.0,0.0,6.0,hernw001
3336289,NYN198704250,NYN,1,0,1,0,19,2.0,9,1.0,1.0,NaN,aguir001
3336293,NYN198704250,NYN,1,0,0,0,4,0.0,0,0.0,1.0,NaN,leact001
3336298,NYN198704250,NYN,1,0,0,0,3,0.0,0,1.0,1.0,NaN,siskd001
3336304,NYN198704250,SLN,1,0,0,0,3,0.0,0,0.0,1.0,NaN,dawlb001
3336306,NYN198704250,SLN,1,0,0,1,6,0.0,1,0.0,2.0,NaN,hortr001
3336309,NYN198704250,SLN,1,1,0,0,18,2.0,5,1.0,7.0,NaN,magrj001
4133466,SDN198704180,SDN,1,0,1,0,6,3.0,5,1.0,3.0,NaN,mccul001
4147954,SDN199308062,SDN,1,0,0,0,1,0.0,0,0.0,0.0,1.0,martp002
4154655,SDN199610050,SLN,1,1,0,0,3,0.0,1,0.0,2.0,10.0,matht002
4165122,SDN200106160,SDN,1,0,0,0,11,1.0,4,1.0,0.0,46.0,nunej002
4165840,SDN200108050,SDN,1,0,0,0,6,0.0,0,1.0,4.0,33.0,nunej002
4166133,SDN200109030,SDN,1,0,1,0,20,3.0,7,3.0,3.0,107.0,joneb003
4166446,SDN200110060,SDN,1,0,0,0,3,0.0,1,0.0,1.0,19.0,nunej002
4171484,SDN200404180,ARI,1,0,0,0,17,2.0,9,2.0,3.0,124.0,spars001
4172774,SDN200408040,PHI,1,0,0,0,2,0.0,2,0.0,0.0,18.0,hernr001
4172803,SDN200408050,PHI,1,0,0,0,3,0.0,0,0.0,1.0,11.0,hernr001
4182983,SDN200904060,LAN,1,0,0,0,3,0.0,0,2.0,1.0,23.0,kuo-h001
4186765,SDN201007290,LAN,1,0,0,0,3,0.0,1,0.0,0.0,15.0,kuo-h001
4189617,SDN201109050,SDN,1,0,0,0,3,0.0,0,0.0,1.0,9.0,carpa001
4189919,SDN201109270,SDN,1,0,0,0,3,2.0,2,2.0,3.0,32.0,carpa001
4190109,SDN201204100,ARI,1,0,0,1,3,0.0,1,0.0,1.0,12.0,putzj001
4190753,SDN201205200,ANA,1,0,0,0,7,0.0,2,0.0,2.0,31.0,carpd002
4193448,SDN201306240,SDN,1,0,0,0,0,1.0,1,0.0,0.0,3.0,laynt001

In [44]:
known_gm_stats = these_dailies[these_dailies.retro_id.isin(pit_stats.retro_id)].groupby('retro_id')[match_cols].sum()
known_gm_stats

          G  IPouts  W  L  SV   H    ER     K   BB
retro_id
aardd001  1       2  0  1   0   2   2.0   0.0  1.0
accaj001  1       4  0  0   0   0   0.0   1.0  2.0
acevj002  3      20  0  2   0  13  10.0   3.0  7.0
adamm001  8      28  0  0   0   4   1.0   9.0  3.0
adamt001  2       4  0  1   0   4   3.0   1.0  0.0
...      ..     ... .. ..  ..  ..   ...   ...  ...
wrigj002  2       5  0  2   0   5   6.0   1.0  6.0
younc003  4      69  2  1   0   9   6.0  20.0  9.0
ziegb001  1       2  0  0   0   2   1.0   1.0  1.0
zimmj002  1       0  0  0   0   0   0.0   0.0  1.0
zitob001  2      27  0  1   0   8   6.0  10.0  4.0

[570 rows x 9 columns]

In [45]:
match_cols = ['G', 'IPouts', 'W', 'L', 'SV', 'H', 'ER', 'K', 'BB'] # note this doesn't include 'retro_id', since that is now the index
unaccounted_stats = pit_stats.set_index('retro_id')[match_cols]
unaccounted_stats

           G  IPouts  W  L  SV   H  ER   K  BB
retro_id
aardd001   1       2  0  1   0   2   2   0   1
accaj001   1       4  0  0   0   0   0   1   2
acevj002   3      20  0  2   0  13  10   3   7
acevj001   1       6  0  0   0   2   0   2   0
adamm001  12      39  1  0   0   7   1  12   5
...       ..     ... .. ..  ..  ..  ..  ..  ..
wrigj002   2       5  0  2   0   5   6   1   6
younc003   6     114  3  1   0  13   7  38  13
ziegb001   2       4  0  0   0   2   1   1   1
zimmj002   1       0  0  0   0   0   0   0   1
zitob001   2      27  0  1   0   8   6  10   4

[668 rows x 9 columns]

In [46]:
# when subtracting the data frames, need to subtract only the intersection of the sets
def subtract_stats(start, delta):
    unchanging = start[~start.index.isin(delta.index)]
    changing   = start[ start.index.isin(delta.index)]

    after = pd.concat([unchanging, changing-delta])
    return after

subtract_stats(unaccounted_stats, known_gm_stats)

          G  IPouts  W  L  SV  H   ER     K   BB
retro_id
acevj001  1       6  0  0   0  2  0.0   2.0  0.0
albua001  1       1  0  0   0  0  0.0   1.0  0.0
almaa001  1       1  0  0   0  0  0.0   0.0  0.0
balfg001  1       1  0  0   0  2  0.0   1.0  0.0
beckj002  1      24  1  0   0  7  2.0   8.0  1.0
...      ..     ... .. ..  .. ..  ...   ...  ...
wrigj002  0       0  0  0   0  0  0.0   0.0  0.0
younc003  2      45  1  0   0  4  1.0  18.0  4.0
ziegb001  1       2  0  0   0  0  0.0   0.0  0.0
zimmj002  0       0  0  0   0  0  0.0   0.0  0.0
zitob001  0       0  0  0   0  0  0.0   0.0  0.0

[668 rows x 9 columns]

In [47]:
def run_iteration(dailies, unaccounted_stats, games_known_in, known_out, _):
    # find players who have only one game in the set
    singletons = unaccounted_stats[unaccounted_stats['G']==1]

    # find possible matches for all of those single games, from all of each player's career
    matches = find_daily(dailies, singletons)
                                   
    # count the matches for each player, and any games that resolve uniquely are now known to be IN
    match_counts = matches.groupby('retro_id').agg({'G': len, 'game_id': min}).rename(columns={'G': 'count'})
    games_deduced_in = match_counts[match_counts['count']==1].game_id.unique()
    
    # aggregate the stats of pitchers across these games deduced in
    # these stats are now accounted for, so subtract them
    deduced_gm_stats = aggregate_dailies(dailies, games_deduced_in, unaccounted_stats.index)
    still_unaccounted = subtract_stats(unaccounted_stats, deduced_gm_stats)
    return (dailies, still_unaccounted, games_deduced_in, known_out, match_counts)

iter1 = run_iteration(dailies, unaccounted_stats, [], [], None)
iter1, len(iter1[2])

((              game_id team_id  G  W  L  SV  IPouts   ER  H   BB     K  \
  1049     ALS198707140     ALS  1  0  0   0       8  0.0  2  0.0   1.0
  1050     ALS198707140     ALS  1  0  1   0       6  2.0  3  0.0   3.0
  1052     ALS198707140     ALS  1  0  0   0       6  0.0  0  0.0   3.0
  1055     ALS198707140     ALS  1  0  0   0       6  0.0  1  1.0   2.0
  1058     ALS198707140     ALS  1  0  0   0       3  0.0  0  0.0   1.0
  ...               ...     ... .. .. ..  ..     ...  ... ..  ...   ...
  5061322  WAS201509280     CIN  1  0  0   0       3  1.0  2  0.0   2.0
  5061323  WAS201509280     CIN  1  0  1   0      15  3.0  8  2.0   3.0
  5061325  WAS201509280     CIN  1  0  0   0       3  1.0  1  0.0   1.0
  5061336  WAS201509280     WAS  1  1  0   0      24  1.0  2  3.0  10.0
  5061338  WAS201509280     WAS  1  0  0   0       3  0.0  1  0.0   0.0

           Pitches  retro_id
  1049         NaN  henkt001
  1050         NaN  howej001
  1052         NaN  langm001
  1055         NaN  morrj001
  1058         NaN  plesd001
  ...          ...       ...
  5061322     22.0  diazj005
  5061323     83.0  finnb001
  5061325     15.0  parrm001
  5061336    113.0  schem001
  5061338      6.0  thorm001

  [496893 rows x 13 columns],
            G  IPouts  W  L  SV  H   ER     K   BB
  retro_id
  acevj001  1       6  0  0   0  2  0.0   2.0  0.0
  albua001  1       1  0  0   0  0  0.0   1.0  0.0
  almaa001  1       1  0  0   0  0  0.0   0.0  0.0
  balfg001  1       1  0  0   0  2  0.0   1.0  0.0
  beckj002  1      24  1  0   0  7  2.0   8.0  1.0
  ...      ..     ... .. ..  .. ..  ...   ...  ...
  wrigj002  0       0  0  0   0  0  0.0   0.0  0.0
  younc003  2      45  1  0   0  4  1.0  18.0  4.0
  ziegb001  1       2  0  0   0  0  0.0   0.0  0.0
  zimmj002  0       0  0  0   0  0  0.0   0.0  0.0
  zitob001  0       0  0  0   0  0  0.0   0.0  0.0

  [668 rows x 9 columns],
  array(['SDN201006110', 'SDN200509270', 'DET201308310', 'SEA201209080',
         'SDN200906300', 'SDN201009240', 'SDN200006160', 'SDN200110060',
         'SDN200706190', 'SDN200405160', 'SDN200608160', 'SDN199609210',
         'DET199806180', 'SDN199308062', 'SDN201005260', 'LAN199807120',
         'SDN201209300', 'CLE200806270', 'SDN200604300', 'SDN200505160',
         'SDN200908010', 'SDN200409080', 'SFN199609180', 'TOR200508050',
         'SDN201205040', 'SDN200404280', 'SDN200509080', 'SDN200207130',
         'SDN200104250', 'OAK199505080', 'SDN200110070', 'SDN201306240',
         'SDN201008260', 'TOR200508060', 'SDN200010010', 'SDN200408170',
         'SDN200609230', 'SDN201307140', 'SDN201008270', 'SDN201206050',
         'SDN199407060', 'SDN200705110', 'SDN200309050', 'SDN200108050',
         'SDN201304220', 'SDN201109050', 'SDN200007160', 'SDN201005020',
         'SDN201308180', 'CHN199806230', 'SDN200409240', 'SDN199906080',
         'SEA199608100', 'SDN199909200', 'SDN199707050', 'SDN201405250',
         'ATL201008060', 'SDN200409290', 'SDN201404190', 'SDN201209150',
         'SDN201104230', 'SDN200406060', 'SDN199807050', 'SDN200610050',
         'SDN200904060', 'SDN198704180', 'SDN200708040', 'SDN199109220',
         'SDN200006110', 'SDN200106160', 'SDN201204050', 'SDN200404180',
         'SDN200104290', 'SLN200707270', 'SDN200706220', 'SDN200505010',
         'SDN201007290', 'SDN200206210', 'SDN200308100', 'SDN200408050',
         'SDN200408040', 'SDN200007010', 'SDN200204080', 'NYN198704250',
         'SDN200306200', 'SDN200309250', 'SDN201308030', 'SDN200605060',
         'SDN199610050', 'SDN201204100', 'SDN200805210', 'SDN201205200',
         'SDN200304060', 'SDN201504120', 'SDN200504070', 'NYN200809132',
         'SDN199308061', 'SFN199706230', 'SDN200408060', 'SDN198806130',
         'SDN201309260', 'SDN200609220', 'SDN201105230', 'SDN201109270',
         'NYN200809131', 'SDN200406040', 'SDN201204220', 'SDN200105260',
         'SDN199904190', 'SDN198609140', 'SDN200305310', 'SDN200407110',
         'SDN200109030', 'SDN200409220', 'SDN200205190', 'SDN198607300',
         'DET198808040', 'SDN200510080', 'SDN200406190', 'CIN200407180',
         'SDN200706230', 'SDN201304230', 'SDN200506090', 'SDN200504190',
         'SDN199906050'], dtype=object),
  [],
            count       game_id
  retro_id
  aardd001      1  SDN201006110
  accaj001      1  SDN200509270
  acevj001      3  LAN199507010
  adkij001      4  ARI200609290
  albem001      1  DET201308310
  ...         ...           ...
  willr003      6  BOS200908270
  wisem001      1  SDN200406060
  wolfr001      1  SDN201005020
  worrt001     13  ATL199704290
  zimmj002      1  SDN199906050

  [320 rows x 2 columns]),
 125)

In [48]:
iter2 = run_iteration(*iter1)
iter2, len(iter2[2])

((              game_id team_id  G  W  L  SV  IPouts   ER  H   BB     K  \
  1049     ALS198707140     ALS  1  0  0   0       8  0.0  2  0.0   1.0
  1050     ALS198707140     ALS  1  0  1   0       6  2.0  3  0.0   3.0
  1052     ALS198707140     ALS  1  0  0   0       6  0.0  0  0.0   3.0
  1055     ALS198707140     ALS  1  0  0   0       6  0.0  1  1.0   2.0
  1058     ALS198707140     ALS  1  0  0   0       3  0.0  0  0.0   1.0
  ...               ...     ... .. .. ..  ..     ...  ... ..  ...   ...
  5061322  WAS201509280     CIN  1  0  0   0       3  1.0  2  0.0   2.0
  5061323  WAS201509280     CIN  1  0  1   0      15  3.0  8  2.0   3.0
  5061325  WAS201509280     CIN  1  0  0   0       3  1.0  1  0.0   1.0
  5061336  WAS201509280     WAS  1  1  0   0      24  1.0  2  3.0  10.0
  5061338  WAS201509280     WAS  1  0  0   0       3  0.0  1  0.0   0.0

           Pitches  retro_id
  1049         NaN  henkt001
  1050         NaN  howej001
  1052         NaN  langm001
  1055         NaN  morrj001
  1058         NaN  plesd001
  ...          ...       ...
  5061322     22.0  diazj005
  5061323     83.0  finnb001
  5061325     15.0  parrm001
  5061336    113.0  schem001
  5061338      6.0  thorm001

  [496893 rows x 13 columns],
            G  IPouts  W  L  SV  H   ER     K   BB
  retro_id
  acevj001  1       6  0  0   0  2  0.0   2.0  0.0
  albua001  1       1  0  0   0  0  0.0   1.0  0.0
  beckj002  1      24  1  0   0  7  2.0   8.0  1.0
  belim001  1       3  0  0   0  1  0.0   1.0  0.0
  belir001  1       3  0  0   0  1  0.0   2.0  0.0
  ...      ..     ... .. ..  .. ..  ...   ...  ...
  wilsb001  4       8  0  0   2  0  0.0   3.0  3.0
  wilsp001  0      -1  0  0   0  1  0.0   0.0  0.0
  witaj001  4      34  0  0   0  5  1.0  16.0  3.0
  wrigj001  1       1  0  0   0  0  0.0   0.0  0.0
  ziegb001  0      -1  0  0   0  0  0.0   0.0  0.0

  [668 rows x 9 columns],
  array(['SDN199909010', 'ATL200405070', 'SDN200009160', 'SDN200507150',
         'SDN201105180', 'SDN200404260', 'LAN200207140', 'SDN200609240',
         'SDN200309280', 'SDN201306140', 'SDN200605270', 'SDN201004290',
         'SDN199810030', 'SDN200008060', 'NYA200809132', 'SDN200109230',
         'SDN200306240', 'CIN200407160', 'SDN200506070', 'SDN200407070',
         'SDN200405140', 'SDN201208170', 'SDN201104060', 'SDN200406020',
         'SDN200508130', 'SDN200206200', 'SDN199810040', 'SFN201010010',
         'SDN200407020', 'SDN199904070', 'SDN201106260', 'SDN200005290'],
        dtype=object),
  [],
            count       game_id
  retro_id
  acevj001      3  LAN199507010
  adamt001      1  SDN199909010
  albua001      3  DET201405250
  alfoa001      1  ATL200405070
  almaa001     10  ARI200507070
  ...         ...           ...
  whism001      2  KCA199807230
  whitm002      1  SDN200005290
  wickb001     26  ANA200607190
  wilht001      4  CLE201305200
  ziegb001     18  ARI201108260

  [120 rows x 2 columns]),
 32)

In [49]:
iter2[4].query('game_id == "SDN201306140"')

          count       game_id
retro_id
cahit001      1  SDN201306140
harrw002      1  SDN201306140

In [50]:
dailies[(dailies['retro_id']=='cahit001') & dailies['game_id'].isin(iter1[2])]

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
4190101,SDN201204100,ARI,1,0,0,0,18,1.0,2,6.0,5.0,104.0,cahit001
4194612,SDN201309260,ARI,1,0,0,0,17,2.0,5,4.0,3.0,100.0,cahit001

In [51]:
dailies[(dailies['retro_id']=='harrw002') & dailies['game_id'].isin(iter1[2])]

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
4192071,SDN201209150,COL,1,0,0,0,2,0.0,2,0.0,1.0,21.0,harrw002
4194618,SDN201309260,ARI,1,0,0,0,3,0.0,0,0.0,1.0,13.0,harrw002

In [52]:
iter1[4][iter1[4]['game_id'] =='SDN201309260']

          count       game_id
retro_id
roe-c001      1  SDN201309260

In [53]:
iter1[4][iter1[4]['game_id'] =='SDN201209150']

          count       game_id
retro_id
kellc001      1  SDN201209150

In [54]:
iter2[1].sort_values(by='IPouts')

          G  IPouts  W  L  SV   H    ER     K    BB
retro_id
thomj005 -1     -18  0 -1   0  -9  -5.0  -5.0  -1.0
lidgb001 -1      -4  0  0   0  -1   0.0  -3.0   0.0
doteo001 -1      -3  0  0  -1  -1   0.0  -1.0   0.0
murrh001  0      -2  0  0   0   0   0.0   0.0   0.0
leblw001  0      -2  0  0   0   3   0.0   0.0   0.0
...      ..     ... .. ..  ..  ..   ...   ...   ...
haraa001  3      57  1  1   0  16   3.0  15.0   6.0
tomkb001  3      59  0  2   0  20  15.0  10.0  11.0
cooka002  3      60  1  2   0  20   6.0   6.0   6.0
welld001  4      70  0  1   0  35  16.0  12.0   3.0
ashba002  4      90  3  0   0  28   6.0  28.0  10.0

[668 rows x 9 columns]

In [55]:
dailies[(dailies['retro_id']=='thomj005') & dailies['game_id'].isin(iter1[2])]

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
4166483,SDN200110070,COL,1,1,0,0,21,3.0,7,0.0,12.0,105.0,thomj005
4174053,SDN200505160,ATL,1,0,0,0,13,1.0,3,3.0,3.0,76.0,thomj005

In [56]:
iter3 = run_iteration(*iter2)
iter3

(              game_id team_id  G  W  L  SV  IPouts   ER  H   BB     K  \
 1049     ALS198707140     ALS  1  0  0   0       8  0.0  2  0.0   1.0
 1050     ALS198707140     ALS  1  0  1   0       6  2.0  3  0.0   3.0
 1052     ALS198707140     ALS  1  0  0   0       6  0.0  0  0.0   3.0
 1055     ALS198707140     ALS  1  0  0   0       6  0.0  1  1.0   2.0
 1058     ALS198707140     ALS  1  0  0   0       3  0.0  0  0.0   1.0
 ...               ...     ... .. .. ..  ..     ...  ... ..  ...   ...
 5061322  WAS201509280     CIN  1  0  0   0       3  1.0  2  0.0   2.0
 5061323  WAS201509280     CIN  1  0  1   0      15  3.0  8  2.0   3.0
 5061325  WAS201509280     CIN  1  0  0   0       3  1.0  1  0.0   1.0
 5061336  WAS201509280     WAS  1  1  0   0      24  1.0  2  3.0  10.0
 5061338  WAS201509280     WAS  1  0  0   0       3  0.0  1  0.0   0.0

          Pitches  retro_id
 1049         NaN  henkt001
 1050         NaN  howej001
 1052         NaN  langm001
 1055         NaN  morrj001
 1058         NaN  plesd001
 ...          ...       ...
 5061322     22.0  diazj005
 5061323     83.0  finnb001
 5061325     15.0  parrm001
 5061336    113.0  schem001
 5061338      6.0  thorm001

 [496893 rows x 13 columns],
           G  IPouts  W  L  SV   H   ER    K   BB
 retro_id
 acevj001  1       6  0  0   0   2  0.0  2.0  0.0
 albua001  1       1  0  0   0   0  0.0  1.0  0.0
 beckj002  1      24  1  0   0   7  2.0  8.0  1.0
 belim001  1       3  0  0   0   1  0.0  1.0  0.0
 belir001  1       3  0  0   0   1  0.0  2.0  0.0
 ...      ..     ... .. ..  ..  ..  ...  ...  ...
 villb001  1       2  0  0   0   2  0.0  0.0  0.0
 weatd001  1       3  0  0   0   1  0.0  0.0  2.0
 wheed001  0       0  0  0   0   0  0.0  0.0  0.0
 willw001  1      18  1  0   0  11  6.0  5.0  5.0
 witaj001  1       5  0  0   0   1  0.0  1.0  1.0

 [668 rows x 9 columns],
 array(['SDN200207230', 'SDN200104100', 'SDN200508220', 'SDN200408220',
        'SDN200106300', 'SDN200405020', 'SDN200406010'], dtype=object),
 [],
           count       game_id
 retro_id
 acevj001      3  LAN199507010
 albua001      3  DET201405250
 beckr001      2  SDN199809160
 belim001     17  ATL200607060
 belir001      4  ARI201205220
 ...         ...           ...
 walld002      3  ANA200203310
 wengd001      4  MIN199505120
 wheed001     39  ATL200410110
 wilht001      4  CLE201305200
 wrigj001     19  ANA201107100

 [73 rows x 2 columns])

In [57]:
dailies[(dailies['retro_id']=='ziegb001') & dailies['game_id'].isin(iter1[2])]

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
4190114,SDN201204100,ARI,1,0,0,0,2,1.0,2,1.0,1.0,15.0,ziegb001

In [58]:
dailies[(dailies['retro_id']=='ziegb001') & dailies['game_id'].isin(iter2[2])]

,game_id,team_id,G,W,L,SV,IPouts,ER,H,BB,K,Pitches,retro_id
4193276,SDN201306140,ARI,1,0,0,0,3,0.0,0,0.0,0.0,7.0,ziegb001